{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="col-md-11">
	<div class="row">
	    <p class="lead">Daftar Kegiatan pada SIMDA KEU akan disinkronkan ke SIMBADA.<br/> Pilih tahun dan klik tombol Sinkron untuk memulai.</p>
	    <div class="spacer"></div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<label class="control-label">Tahun</label>
			<select id="tahun" class="form-control"></select>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="row">
		<button id="btnSinkronisasi" type="button" class="btn btn-success">Sinkron</button>
	</div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}

<style type="text/css">
	.spacer {
	    margin-top: 20px;
	}
</style>

{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javascript">
	jQuery(function($) {
		//menampilkan list tahun
		for (var j=0; j<50; j++){
			$("#tahun").append($('<option></option>').val(2000+j).html(2000+j));
		}

		$("#tahun").val(new Date().getFullYear());


		$("#btnSinkronisasi").click(function() {
			$.post("{{ site_url('kegiatan/sync') }}", {tahun:$("#tahun").val()}, function(json) {
				if (json.status === true) {
					alert(json.processed + " kegiatan telah disinkronisasi ke SIMBADA!");
				}
			}, "json");
		});
	});
</script>
{% endblock %}