{% extends "_templates/adminpage.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class='active'>Persediaan</li>
            </ol>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <select class="form-control" id="gudang">
                    <option>Semua Gudang</option>
                    <option>Kecamatan A</option>
                    <option>Dinas Pendidikan</option>
                    <option>Sekretaris Daerah</option>
                </select>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-12">
            <!-- if admin -->
            <div class="btn-group pull-right" style="margin-left:4px">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{site_url('/persediaan/pengaturan_kamus_barang')}}">Kamus Barang</a></li>
                    <!--<li><a href="{{site_url('/persediaan/pengaturan_gudang')}}">Daftar Gudang</a></li>-->
                    <li><a href="{{site_url('/secman/user/')}}" target='_blank'>Kelola Pengguna</a></li>
                </ul>
            </div>
            <!--endif -->

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-log-in"></span> Proses <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!--<li><a href="{{site_url('/persediaan/pengadaan')}}">Pengadaan</a></li>-->
                    <li><a href="{{site_url('/persediaan/barang_masuk')}}" target="_blank">Barang Masuk</a></li>
                    <li><a href="{{site_url('/persediaan/barang_keluar')}}" target="_blank">Barang Keluar</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site_url('/persediaan/stok_opname')}}" target="_blank">Stok Opname</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-folder-close"></span> Dokumen <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{site_url('/persediaan/buku_barang_pakai_habis')}}">Buku Barang Pakai Habis</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site_url('/persediaan/katalog_bukti_pengambilan')}}">Daftar Bukti Pengambilan Barang</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site_url('/persediaan/buku_penerimaan')}}">Buku Penerimaan Barang</a></li>
                    <li><a href="{{site_url('/persediaan/buku_pengeluaran')}}">Buku Pengeluaran Barang</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site_url('/persediaan/laporan_semester')}}">Laporan Semester</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site_url('/persediaan/katalog_stok_opname')}}">Daftar Stok Opname</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" id="search" placeholder="Pencarian">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tabel-kartu-barang" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Nomor</th>
                        <th class="text-center">Nama Barang</th>
                        <th class="col-md-2 text-center">Stok</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <ul class="pagination">
            </ul>
        </div>
    </div>
</div>

{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/select2.css') }}" />
<style type="text/css">
    /*#gudang {
        height: 50px !important;
    }
    
    .select2-selection__rendered {
        height: 28px;
    }
    
    .form-control {
        height: 37px !important;
    }*/
    input.form-control{
        width:calc(100% - 27px) !important;
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{ base_url('assets/js/select2.js') }}"></script>
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){
        
        // var page = 1;
        var limit = 10;
        
        showPage(1);
            
        // $("#gudang").empty();$("#gudang").append("<option></option>");
        
        // $.post("{{ site_url('persediaan/get_daftar_gudang') }}", {nomor_unit:"{{skpd}}"}, function(json){
        // 	$("#gudang").select2({
        // 		placeholder : "Pilih gudang...",
        // 		data : json.results,
        // 	});
        // }, "json");
        
        function showPage(page){
            $.post("{{site_url('persediaan/get_populasi_kartu_barang')}}", {nomor_unit:"{{skpd}}", filter:$("#search").val(), limit:limit, page:page},function(json){
                $("#tabel-kartu-barang > tbody").empty();
                
                $(".pagination").empty();
                
                var paginationAmount = 4;
                var lastPage = Math.ceil(json.total_count/limit);
                
                if(page > 1){
                    $(".pagination").append("<li><a href='#' id='firs'>&lt;&lt;</a></li>");
                    $(".pagination").append("<li><a href='#' id='prev'>&lt;</a></li>");
                }
                
                for(var i = page - paginationAmount; i <= parseInt(page) + paginationAmount; i++){
                    if(i > 0 && i <= lastPage)
                    {
                        if(i == page){
                            $(".pagination").append("<li class='active'><a class='paging' href='#'>"+i+"</a></li>");
                        }
                        else{
                            $(".pagination").append("<li><a class='paging' href='#'>"+i+"</a></li>");
                        }
                    }
                }
                
                if(page < lastPage){
                    $(".pagination").append("<li><a href='#' id='next'>&gt;</a></li>");
                    $(".pagination").append("<li><a href='#' id='last'>&gt;&gt;</a></li>");
                }
                        
                $("#firs").on("click", function(){showPage(1);});
                $("#prev").on("click", function(){showPage(parseInt(page)-1);});
                $("#next").on("click", function(){showPage(parseInt(page)+1);});
                $("#last").on("click", function(){showPage(lastPage);});
                $(".paging").on("click", function(){showPage($(this).text());});
                
                json.data.forEach(function(value, index){
                    $("#tabel-kartu-barang > tbody").append(""+
                        "<tr>"+
                        "<td class='text-center'>"+value.kbkode+"</td>"+
                        "<td>"+value.kbnama+"<br/><small>"+value.kbspesifikasi+"</small></td>"+
                        "<td class='text-right'>"+value.kbjuml+"<br/><small>"+value.kbunit+"</small></td>"+
                        "<td class='text-center'>"+"<a href='{{ site_url("persediaan/kartu_barang") }}/"+ Base64.encode(value.kbid) +"' id='"+index+"' name='"+value.kbkode+"'><span class='glyphicon glyphicon-search'></span></a>"+"</td>"+
                        "</tr>"+
                    "");

                    $("#"+index).on("click", function(e){
                    });
                });
            },"json");
        }
        
        // $("#gudang").on("change", function(){
        //     $.post("{{site_url('persediaan/get_populasi_kartu_barang')}}", {nomor_unit:"{{skpd}}", guno:$("#gudang").val()},function(json){
        //         $("#tabel-kartu-barang > tbody").empty();
        //         json.forEach(function(value, index){
        //             $("#tabel-kartu-barang > tbody").append(""+
        //                 "<tr>"+
        //                 "<td class='text-center'>"+value.kbkode+"</td>"+
        //                 "<td>"+value.kbnama+"<br/><small>"+value.kbspesifikasi+"</small></td>"+
        //                 "<td class='text-right'>"+value.kbjuml+"<br/><small>"+value.kbunit+"</small></td>"+
        //                 "<td class='text-center'>"+"<a href='{{ site_url("persediaan/kartu_barang") }}/"+ Base64.encode(value.kbkode) +"' id='"+index+"' name='"+value.kbkode+"'><span class='glyphicon glyphicon-search'></span></a>"+"</td>"+
        //                 "</tr>"+
        //             "");

        //             $("#"+index).on("click", function(e){
        //             });
        //         });
        //     },"json");
        // });
        
        $("#search").on("input",function(){
            showPage(1);
        });
    });

</script>
{% endblock %}