{% extends "_templates/adminpage.html" %}

{% block content %}
{% include "simgo/persediaan/modal/modal_tambah_pengadaan.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
				<li class="active">Pengadaan</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="nomor">Nomor Dasar Pengadaan (SPK / Kuitansi / Lainnya)</label>
				<select class="form-control" id="nomor" name="nomor"><option></option></select>
			</div>
			<div class="form-group">
				<label for="vendor">Vendor</label>
				<input type="text" class="form-control" id="vendor" name="vendor" placeholder="Vendor">
			</div>
			<div class="form-group">
				<label for="vendor">Estimasi Pengiriman</label>
				<input type="text" class="form-control" id="estimasi" name="estimasi" placeholder="Estimasi Pengiriman">
			</div>
		</div>
	</div>
	<div class="row" name="barang_pakai_habis" style="display:none">
		<div class="col-xs-12">
			<div class="table-responsive">
			<label>Daftar Barang Pakai Habis</label>
				<table class="table table_pakai_habis">
					<thead>
					<tr>
						<th style="text-align:center">Kode</th>
						<th style="text-align:center">Nama Barang</th>
						<th style="text-align:center">Merk</th>
						<th style="text-align:center">Jumlah Barang</th>
						<th style="text-align:center">Satuan</th>
						<th style="text-align:center">Harga Satuan</th>
						<th style="text-align:center">Harga Total</th>
						<th style="text-align:center">Keterangan</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="data">Daftar Barang</label>
			<table class="table table-detail-pakai-habis table-striped table-bordered" id="data">
				<thead>
					<tr>
						<th class="text-center">Kode</th>
						<th class="text-center">Nama Barang</th>
						<th class="text-center">Qty</th>
						<th class="text-center">Satuan</th>
						<th class="text-center">Harga Satuan</th>
						<th class="text-center">Harga Total</th>
						<th class="text-center">Keterangan</th>
					</tr>
				</thead>
				<tbody id="data-body">
					<tr>
						<td class="text-center">11.554.15.025</td>
						<td class="text-left">Kuda Lumping</td>
						<td class="text-right">150</td>
						<td class="text-left">lembar</td>
						<td class="text-right">125000</td>
						<td class="text-right">1875000</td>
						<td class="text-left">Diisi</td>
					</tr>
					<tr>
						<td class="text-center">11.554.15.005</td>
						<td class="text-left">Kuda Rumbia</td>
						<td class="text-right">2254</td>
						<td class="text-left">lembar</td>
						<td class="text-right">10000</td>
						<td class="text-right">22540000</td>
						<td class="text-left"></td>
					</tr>
					<tr>
						<td class="text-center">11.554.15.015</td>
						<td class="text-left">Kuda</td>
						<td class="text-right">75</td>
						<td class="text-left">ekor</td>
						<td class="text-right">50000000</td>
						<td class="text-right">3750000000</td>
						<td class="text-left"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td colspan="7">
							<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#tambah-pengadaan"><span class="glyphicon glyphicon-plus"></span> Tambah Barang</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default">Batal</span>
				</button>
				<button type="button" class="btn btn-primary" id="simpan-pengadaan" name="simpan-pengadaan">
					<span class="glyphicon glyphicon-floppy-disk"></span> Simpan</span>
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.css") }}" />
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
	<script type="text/javaScript">
		jQuery( document ).ready(function($) {
			$("select[name=nomor]").select2({
				ajax: {
					url: "{{ site_url('persediaan/get_list_pakai_habis') }}",
					type: "POST",
					dataType: "json",
					data: function(params) {
						return {
							term: params.term
						}
					}
				}
			});

			$("select[name=nomor]").on("select2:select", function () { 
				var spk = $("select[name=nomor]").find('option:selected').data().data.nomor;
				$.post("{{ site_url('persediaan/get_vendor') }}", { spk:spk }, function(json){ 
					var data = json.data;
					
					$("input[name=vendor]").val(data.INSTANSI_YG_MENYERAHKAN);
					$("input[name=estimasi]").val(data.TGL_BA_PENERIMAAN);

				}, "json");

				$('div[name="barang_pakai_habis"]').show();
				$('.table_pakai_habis > tbody').empty();
				$.post("{{ site_url('persediaan/get_list_barang_pakai_habis') }}", { spk:spk }, function(json){ 
					var data = json.data;
					var html = '';
					
					$.each(data, function(key, value) {
						var value = data[key];
						html += '<tr><td>'
						+ value.NO_KEY
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td>'
						+ value.MERK_ALAMAT
						+ '</td><td>'
						+ value.JUMLAH_BARANG
						+ '</td><td>'
						+ value.SATUAN
						+ '</td><td>'
						+ value.HARGA_SATUAN
						+ '</td><td>'
						+ value.HARGA_TOTAL_PLUS_PAJAK
						+ '</td><td>'
						+ value.KETERANGAN
						+ '</td><td>'
    				});

					$('.table_pakai_habis > tbody').append(html);
				}, "json");
			});
			

			/* UNTUK MODAL */

			var data = [];
			
			function tambahBarang() {
				var kodeBarang		= $("#kode-barang").val();
				var namaBarang 		= $("#nama-barang").val();
				var merk 		 	= $("#merk").val();
				var jumlahBarang 	= parseInt($("#jumlah-barang").val(),10);
				var satuan 		 	= $("#satuan").val();
				var hargaSatuan 	= parseInt($("#harga-satuan").val(),10);
				var hargaTotal 		= parseInt($("#harga-total").val(),10);
				var keterangan 		= $("#keterangan-detail").val();

				console.log();

				data.push({
					"kodeBarang"	:kodeBarang,
					"namaBarang"	:namaBarang,
					"merk"			:merk,
					"jumlahBarang"	:jumlahBarang,
					"satuan"		:satuan,
					"hargaSatuan"	:hargaSatuan,
					"hargaTotal"	:hargaTotal,
					"keterangan"	:keterangan
				});
				repopulateDataTable();
			}

			function kurangiBarang(index){
				data.splice(index,1);
				repopulateDataTable();
			}

			function resetAddDataModal(){
				$("#tambah-pengadaan-form").trigger("reset");
				$(".alert").remove();
			}

			function repopulateDataTable(){
				$("#data-body").empty();
				$("#data-body").append("<tr></tr>");
				data.forEach(function(value, index){
					$("#data-body").append(
						"<tr>"+
							"<td class='text-left'>"+value['kodeBarang'] +"</td>"+
							"<td class='text-left'>"+value['namaBarang']+"</td>"+
							"<td class='text-left'>"+value['merk']+"</td>"+
							"<td class='text-right'>"+value['jumlahBarang']+"</td>"+
							"<td class='text-left'>"+value['satuan']+"</td>"+
							"<td class='text-right'>"+value['hargaSatuan']+"</td>"+
							"<td class='text-right'>"+value['hargaTotal']+"</td>"+
							"<td class='text-left'>"+value['keterangan']+"</td>"+
							"<td class='text-center'><a href='' id='data_" + index + "' value='" + index + "'><span class='glyphicon glyphicon-trash'></span></a></td>"+
						"</tr>"
					);

					$('#data_'+index).on("click", function(e){
						e.preventDefault();
						kurangiBarang(index);
					});
				});
			}

			$("button[name=simpan]").on("click", function() {
				if($("#kode-barang").val() === "" || $("#nama-barang").val() === "" || $("#merk").val() === "" || $("#jumlah-barang").val() === "" || $("#satuan").val() === "" || $("#harga-satuan").val() === "" || $("#harga-total").val() === "")
				{
					$("#tambah-pengadaan-form").prepend("<div class='alert alert-danger'>Isian dengan tanda (*) harus diisi.</div>");
					$("#tambah-pengadaan").scrollTop(0);
				}
				else
				{
					$.post("{{ site_url('persediaan/submit_pengadaan') }}", { 
						spk:spk 
					}, function(json){ 
						var data = json.data;
						$("#tambah-pengadaan").modal("hide");
						tambahBarang();
						resetAddDataModal();
					}, "json");

				}
			});

			$("button[name=batal]").on("click", function() {
				resetAddDataModal();
			});

			$('#tambah-pengadaan').on('hide.bs.modal', function () {
				$("#tambah-pengadaan").scrollTop(0);
			});

			$("#simpan-pengadaan").on("click", function(){
				// prepare data
				var jurnal;

				var nomorJurnal				= $("#juno").val();
				var tanggalJurnal 			= $("#bktgl").val();
				// var bukti 					= $("#bkpenerimaan").val();
				var tanggalEstimasi 		= $("#mttgl").val();
				var tanggalRealisasi 		= $("#srtgl").val();
				var bidang 					= $("#bidang-select").find("option:selected").val();
				var penanggungJawab 		= $("#penerima").val();
				var dokumenPenyerta 		= $("#bon").val();
				var tanggalDokumenPenyerta 	= $("#bptgl").val();
				var dasarHukum 				= $("#dsno").val();
				var tanggalDasarHukum 		= $("#dstgl").val();
				var skpd					= "{{skpd}}";
				var keterangan 				= $("#ket").val();

				jurnal = {
					"nomorJurnal"				: nomorJurnal,
					"tanggalJurnal" 			: tanggalJurnal,
					"tanggalEstimasi" 			: tanggalEstimasi,
					"tanggalRealisasi" 			: tanggalRealisasi,
					"bidang" 					: bidang,
					"penanggungJawab" 			: penanggungJawab,
					"dokumenPenyerta"			: dokumenPenyerta,
					"tanggalDokumenPenyerta" 	: tanggalDokumenPenyerta,
					"dasarHukum" 				: dasarHukum,
					"tanggalDasarHukum" 		: tanggalDasarHukum,
					"skpd" 						: skpd,
					"keterangan" 				: keterangan,
				};

				$.post("{{ site_url('persediaan/simpan_barang_keluar') }}",{ju:jurnal, jud:data},function(json){
					console.log(json);
					json.forEach(function(item, index){
						data[index]["judid"] = item;
					});
				},"json");
			});
		});
	</script>

{% endblock %}