{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<a href="{{ site_url("media/list_spk") }}">&lt;&lt; kembali</a>
		<h2>No. SPK : {{ mpno }}</h2>
	</div>
</div>

<div class="row" style="margin-bottom:12px">
	<div class="col-xs-12">
		<h3>Semua Dokumen</h3>
		{% for spk in mpdokumen %}
		{% if(spk.uploaded != null) %}
		({{ spk.uploaded }}) {{ spk.mdktnama }} : <a href="{{ site_url("uploads/" ~ spk.medianame) }}" target="_blank">{{ spk.mdnama }}</a><br/>
		{%else%}
		-
		{% endif %}
		{% endfor %}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<a href="{{ site_url("media/upload_spk/" ~ mpid) }}" class="btn btn-info">Unggah</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Komentar</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<ul>
					{% for k in komentar %}
					<li>({{k.created}}) <strong>{{k.uid}}</strong> :<br/>
						{% if not k.raw %}
						{{k.message}}
						{% else %}
						{{k.message | raw }}
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-inline" method="post" action="{{site_url("media/send_comment/" ~ spkid)}}" role="form">
					<div class="input-group">
						<input type="text" class="form-control" name="comment" id="comment">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">Kirim</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style type="text/css">


	

</style>
{% endblock %}