<div class="modal fade" id="tambah-kegiatan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan Kegiatan Baru</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">Kode Rekening Kegiatan</label>
					<input type="text" class="form-control input-lg" name="no-kegiatan" value="">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Tambahkan</button>
			</div>
		</div>
	</div>
</div>