{% extends "_templates/adminpage.html" %}

{% block content %}
<h3>Your file was successfully uploaded!</h3>

<ul>
<?php foreach ($upload_data as $item => $value):?>
<li><?php echo $item;?>: <?php echo $value;?></li>
<?php endforeach; ?>
</ul>

<p><?php echo anchor('media/view_spk/'.$spkid, 'Lihat SPK'); ?></p>
{% endblock %}