{% extends "_templates/adminpage.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-6">
	<h4>KEPALA</h4>
		<div class="row">
			<div class="col-xs-8">
				<label>NAMA</label>
				<input type="text" name="nama_kepala" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<label>JABATAN</label>
				<input type="text" name="jabatan_kepala" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<label>NIP</label>
				<input type="text" name="nip_kepala" class="form-control"/>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
	<h4>PENGURUS BARANG</h4>
		<div class="row">
			<div class="col-xs-8">
				<label>NAMA</label>
				<input type="text" name="nama_kepala" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<label>JABATAN</label>
				<input type="text" name="jabatan_kepala" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<label>NIP</label>
				<input type="text" name="nip_kepala" class="form-control"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-9">
	</div>
	<div class="col-xs-3">
			<button id="edit" type="button" style="height:30px;" class="btn btn-success"><span></span>Edit</button>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/xlsx.core.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/Blob.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/FileSaver.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/tableexport.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$('input[name="kapital-checkbox"]').bootstrapSwitch();
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

    	//menampilkan list nama pegawai
		$.post("{{ site_url('aset/get_data_pegawai') }}", {nomor_lokasi:nomor_lokasi}, function(json){ 
			var skpd_val = json.data;

			//untuk mengubah data select 2 jangan lupa tambahkan ini >> .trigger('change');
			$('select[name="nomor_unit"]').val(skpd_val.NOMOR_UNIT).trigger('change');
			$('select[name="nomor_unit"]').prop( "disabled", true );           
			
		}, "json");

		//load sub unit (khusus dinas pendidikan dan dinas kesehatan)
		$("select[name=nomor_unit]").change(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();

			if(nomor_unit === "13.10.08.01" || nomor_unit === "13.10.07.01" || nomor_unit === "13.10.04.01") {
				load_sub_unit();
				$('div[name="sub-unit"]').show();
			} else {
				$("select[name=nomor_sub_unit]").val("");
				$('div[name="sub-unit"]').hide();
			}
		});

		var load_sub_unit = function(callback) {
			$("body").mask("Processing...");
			var nomor_unit = $("select[name=nomor_unit]").val();

			$.post("{{ site_url('aset/get_list_sub_unit') }}", {
				nomor_unit: nomor_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=nomor_sub_unit]");

				el.empty();
				el.append("<option value=''>Pilih Sub Unit</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.NOMOR_SUB_UNIT).html(k.NOMOR_SUB_UNIT + " | " + k.NAMA_SUB_UNIT));
					// el.append("<option value='{0}'>{1}</option>".format(k.NO_REGISTER, k.NAMA_BARANG));
				}

				el.select2();
				$("body").unmask();

				if (callback !== undefined) {
					callback();
				}
			}, "json");
		}
		
		$("#btnHitungSusut").click(function() {
    		$('tbody').empty();
    		$("body").mask("Processing...");
    		$('caption').empty();

    		var nomor_unit = $("select[name=nomor_unit]").val();
    		var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		$('div[name="hasil_susut"]').show();

    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");

    		$.post("{{ site_url('aset/get_susut_kib') }}", {nomor_unit:nomor_unit, nomor_sub_unit:nomor_sub_unit, kib:kib}, function(json) {
    			if(kapital) {
    				var aset = json.aset_kapitalisasi; 
					var total_aset = json.total_aset_kapitalisasi;
    			} else {
    				var aset = json.aset;
    				var total_aset = json.total_aset;
    			}
				
				var html = '';
				var tables = $("table");

				$.each(aset, function(key, value) {
					var value = aset[key];

					html += '<tr><td>'
					+ value.NO_REGISTER
					+ '</td><td>'
					+ value.NAMA_BARANG
					+ '</td><td>'
					+ value.MERK_ALAMAT
					+ '</td><td>'
					+ value.TAHUN_PENGADAAN
					+ '</td><td>'
					+ value.MASA_MANFAAT
					+ '</td><td>'
					+ value.MASA_TERPAKAI
					+ '</td><td align="right">'
					+ value.NILAI_PEROLEHAN
					+ '</td><td align="right">'
					+ value.AKUMULASI_PENYUSUTAN
					+ '</td><td align="right">'
					+ value.BEBAN
					+ '</td><td align="right">'
					+ value.NILAI_BUKU
					+ '</td></tr>';
				});

				html += '<tr><td>'
					+ '<strong>' + "TOTAL" + '</strong>'
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_NILAI_PEROLEHAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_AKUMULASI_PENYUSUTAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_BEBAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_NILAI_BUKU + '</strong>'
					+ '</td></tr>';

				$('.table_susut > tbody').append(html);
				$("body").unmask();

				tables.tableExport({
				    bootstrap: true,
				    format: ["xlsx"]
				});
			}, "json");

    	});

		$("#btnPrintHitungSusut64").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
            
            window.open( "{{ site_url('aset/print_penyusutan') }}/"+ nomor_unit + "/" + kib, '_blank');
		});

		$("#btnPrintHitungSusut").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
			var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");

    		if(nomor_sub_unit === "") {
            	window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_unit + "/" + kapital + "/" + kib, '_blank');
    		} else {
    			window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_sub_unit + "/" + kapital + "/" + kib, '_blank');
    		}
            
		});

		$("#btnPrintHitungSusut2").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");
    		var rule = "";

    		if(kapital) {
    			rule = "yes";
    		} else {
    			rule = "no";
    		}
            
            window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_unit + "/" + kib + "/" + rule, '_blank');
		});
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/tableexport.css") }}" />	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.table > thead > tr > th {
			vertical-align: middle;
		}
		#btnHitungSusut {
			margin-top: 22px;
			height: 30px;
		}
		.btn-toolbar {
			text-align: left !Important;
		}
	</style>
{% endblock %}