{% extends "gresikkab_base.html" %}

{% block content %}
	<!-- ambil post dengan tag=galeri_home, dapatkan seluruh media yg bukan thumbnail dan tampilkan dibawah ini -->

	<div class="row nopadding nomargin">
		<div class="carousel slide" data-ride="carousel" style="width:100%; margin:auto;">
			<div class="carousel-inner">
				<div class="item center active">
					<img src="{{ base_url("assets/metafora_media/slideshow/Gresik-Otak2-Bandeng-Bu-Muzannah-1.jpg") }}" style="margin:auto; width:100%;" class="img-responsive">
					<div class="carousel-caption">
						
						<!-- akan diisi dengan judul berita -->

						<a href="#"><strong>IKAN BANDENG:</strong>
        <p>kabupaten gresik sangat terkenal dengan budidaya ikanbandengnya.</p></a>
					</div>
				</div>
				<div class="item center">
					<img src="{{ base_url("assets/metafora_media/slideshow/sekapuk.jpg") }}" style="margin:auto; width:100%;" class="img-responsive">
					<div class="carousel-caption">
						
						<!-- akan diisi dengan judul berita -->

						<a href="#"><strong>SEKAPUK:</strong>
        <p>gunung kapur yang terbentuk karena aktivitas perindustrian.</p></a>
					</div>
				</div>
				<div class="item center">
					<img src="{{ base_url("assets/metafora_media/slideshow/selayar.jpg") }}" style="margin:auto; width:100%;" class="img-responsive">
					<div class="carousel-caption">
						
						<!-- akan diisi dengan judul berita -->

						<a href="#"><strong>SELAYAR:</strong>
        <p>pesona wisata rumah penduduk yang terapung di atas lautan</p></a>
					</div>
				</div>
				<div class="item center">
					<img src="{{ base_url("assets/metafora_media/slideshow/home_26.jpg") }}" style="margin:auto; width:100%;" class="img-responsive">
					<div class="carousel-caption">
						
						<!-- akan diisi dengan judul berita -->

						<a href="#"><strong>KOTA INDUSTRI:</strong>
        <p>gresik sangat terkenal sebagai pusat perindustrian di jawa timur.</p></a>
					</div>
				</div>
				<div class="item center">
					<img src="{{ base_url("assets/metafora_media/slideshow/jubung.JPG") }}" style="margin:auto; width:100%;" class="img-responsive">
					<div class="carousel-caption">
						
						<!-- akan diisi dengan judul berita -->

						<a href="#"><strong>JUBUNG:</strong>
        <p>jajanan khas kota gresik.</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-xs-3 nopadding nomargin" style="padding-left: 15px !important; padding-right:5px !important;">
			<div>
				<img src="{{ base_url("assets/metafora_media/images/home_88.jpg") }}" style="margin-left: -5px; height: 28px;" />
			</div>
			<div class="pengumuman">
				<ul>
					{% for ps in pengumuman %}
					<li>
						<a href="{{ site_url("pengumuman/" ~ ps.pspermalink) }}"><strong>{{ ps.psjudul}}</strong></a>
					</li>
					{% endfor %}
				</ul>

				<p style="float:right;"><a class="link" href="{{ site_url("pengumuman") }}">selengkapnya...</a></p>
			</div>
		</div>
		<div class="col-xs-6 nopadding nomargin">
			<div>
				<img src="{{ base_url("assets/metafora_media/images/home_90.jpg") }}" />
			</div>
			<div class="berita">
				<div class="row nopadding nomargin">
					{% for ps in berita %}
						<div class="col-xs-4 nopadding">
						{% if ps.post_media is not empty %}
							<img class="img-responsive" style="margin:auto; width:100%; padding-bottom: 10px;" src="{{ site_url("media/thumbnail/" ~ ps.post_media.mdid ~ "/444/6") }}">
						{% endif %}
							<a href="{{ site_url("berita/" ~ ps.pspermalink) }}"><strong>{{ ps.psjudul}}</strong></a>
						</div>
					{% endfor %}

					<p style="float:right; padding-top:10px;"><a class="link" href="{{ site_url("berita") }}">selengkapnya...</a></p>
				</div>
			</div>
		</div>
		<div class="col-xs-3" style="padding-left:5px; padding-right:20px;">
			<div>
				<img src="{{ base_url("assets/metafora_media/images/home_85.jpg") }}" />
			</div>
			<div class="agenda">
				<div class="row nopadding nomargin slider">
					{% for ps in agenda %}
					<div class="col-xs-12 nopadding">
						<strong>{{ ps.psjudul}}</strong>
						{{ ps.psisi | raw}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="row nopadding nomargin">
				<p style="float:right; padding-top:10px;"><a class="link" href="{{ site_url("agenda") }}">selengkapnya...</a></p>
			</div>
		</div>
	</div>

	<br />

	<div class="row" style="padding:10px;">
		<div class="col-xs-4">
          	<a href="{{ site_url("wisata/danau_kastoba") }}">
        		<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/index_107.jpg") }}" />
              	<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">PARIWISATA</div>
            </a>
		</div>
		<div class="col-xs-4">
          	<a href="{{ site_url("penghargaan") }}">
				<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/ikon penghargaan.jpg") }}" />
          		<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">KEGIATAN DAN PENGHARGAAN</div>
          </a>
		</div>
		<div class="col-xs-4">
          	<a href="{{ site_url("industri") }}">
				<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/index_111.jpg") }}" />
          		<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">INDUSTRI</div>
          	</a>
		</div>
	</div>

	<div class="row" style="padding:10px;">
		<div class="col-xs-4">
			<a href="{{ site_url("pendidikan") }}">
              	<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/index_115.jpg") }}" />
              	<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">PENDIDIKAN</div><div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">PENDIDIKAN</div>
          	</a>
		</div>
		<div class="col-xs-4">
          	<a href="{{ site_url("kesehatan") }}">
				<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/index_117.jpg") }}" />
          		<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">KESEHATAN</div>
          	</a>
		</div>
		<div class="col-xs-4">
          	<a href="{{ site_url("hp") }}">
				<img kategori class="img-responsive" src="{{ base_url("assets/metafora_media/images/index_118.jpg") }}" />
          		<div banner style="display: none; position: absolute; margin-left: 5px; width: 87%;  top: 29%; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.3); line-height: 4; text-align: center; font-weight: bold; font-size:1.4em; text-shadow:2px 1px 2px #000; color:#FFFFFF">PEMBANGUNAN</div>
          	</a>
		</div>
	</div>

	<div class="footer">
	    <marquee style="line-height: 4em; font-size: 13px; font-weight: bold;">
	    	---- SEGENAP KELUARGA BESAR PEMERINTAH KABUPATEN GRESIK MENGUCAPKAN SELAMAT HARI RAYA IDUL FITRI 1435H. MINAL AIDIN WAL FAIDZIN. MOHON MAAF LAHIR BATIN ----
	    </marquee>
    <!-- end .footer --></div>
{% endblock %}


{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
      jQuery(function($) {
        $("img[kategori]").mouseenter(function() {
        	$(this).next("[banner]").show();
        }).mouseout(function() {
        	$("[banner]").hide();
        });
        
        $("[banner]").mouseenter(function() {
        	$(this).show();
        });


        $(".slider").anyslider({
            animation: 'fade',
            interval: 4000,
            showControls: false
        });
      });  
	</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<style type="text/css">
	 div.pengumuman > ul{
	 	list-style:none;
	 	padding-left:0px !important;
	 }
	 div.pengumuman > ul > li{
	 	padding-bottom:15px;
	 }
	 div.berita > div > div.col-xs-4{
	 	padding-left:5px !important;
	 	padding-right:5px !important;
	 }
	</style>
{% endblock %}