{% extends "_templates/bootstrap_base.html" %}

{% block bodyclass %}bg-metafora{% endblock %}

{% block body %}
	<div class="container">
	{{ form_open("secman/authentication/login", {class:"form-signin"}) | raw }}	
		<div class="col-sm-8"></div>
		<div class="col-sm-4">		
			<div class="login-box">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="login-box-username">
						<input type="text" name="username" autofucus="" placeholder="Username" class="login-box-input">
					</div>
					<div class="login-box-password">
						<input type="password" name="password" autofucus="" placeholder="Password" class="login-box-input">
					</div>
				</div>
				<div class="login-box-submit">
					<button type="submit" class="login-box-btn">{{ lang("signin_button") }}</button>
				</div>
			</div>
		</div>
	{{ form_close() | raw }}
	</div>
{% endblock %}

{% block body3 %}
	<div class="container login-box">
	{{ form_open("secman/authentication/login", {class:"form-signin"}) | raw }}
		<div class="login-box-header">
			<div class="row">
				<p class="login-box-text-header">SELAMAT DATANG DI SIMBADA GO<br/>PEMERINTAH KABUPATEN MOJOKERTO</p>
			</div>
		</div>
		<div class="login-box-body">
			<div class="row">
				<p class="login-box-text">SILAKAN LOGIN</p>
				<input type="text" name="username" autofucus="" placeholder="Username" class="login-box-input">
			</div>
			<div class="row"></div>
			<div class="row">
				<input type="password" name="password" autofucus="" placeholder="Password" class="login-box-input">
			</div>
			<div class="row"></div>
			<div class="row">
				<button type="submit" class="login-box-btn">{{ lang("signin_button") }}</button>
			</div>
			{% if message != FALSE %}
			<div class="row">
				<div class="form-message alert alert-danger">{{ message | raw }}</div>
			</div>
			{% endif %}
		</div>
	{{ form_close() | raw }}
	</div>
{% endblock %}


{% block body2 %}
	<nav style="margin-bottom: 0;" role="navigation"
		class="navbar navbar-default">
		<div class="container" role="contentinfo">
			<i class="icon icon-4x icon-cloud"></i>
			<p class="lead" style="font-weight: bold;">{{ appname }}</p>
		</div>
	</nav>
	<div class="wrap">
		<div class="container">
			<div class="row wrap">
				<div class="col-md-4 col-md-offset-4">
					{{ form_open("secman/authentication/login", {class:"form-signin"}) | raw }}
						<fieldset>
							<center>
							<h2 class="sign-up-title">{{ lang("signin_heading") | raw }}</h2>
							<hr class="colorgraph" />
							<input name="username" type="text" autofocus="" placeholder="Username" class="form-control">
							<input name="password" type="password" placeholder="Password" class="form-control">
							{% if recaptcha != "" %}
							<br />
							{{ recaptcha | raw }}
							{% endif %}
							<br />
							<button type="submit" class="btn btn-lg btn-success btn-block">{{ lang("signin_button") }}</button>
							</center>
						</fieldset>
						{% if message != FALSE %}
						<br />
					    <div class="form-message alert alert-danger">{{ message | raw }}</div>
					    {% endif %}
					{{ form_close() | raw }}
				</div>
			</div>
		</div>
	</div>
	<footer class="bs-footer" role="contentinfo">
		<div class="container">
			<p style="margin-top: 10px;">{{ appcode }} &copy; 2014 was developed by PT. Sarana Integrasi Informatika</p>
		</div>
	</footer>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/font-awesome.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/icomoon.css") }}">
	<!--<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/madmin.css") }}">-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/login.css") }}"> -->
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/style.css") }}">
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			
		});
	</script>
{% endblock %}