{% extends "_templates/adminpage.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Pengaturan Gudang</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3 text-center">ID Gudang</th>
                        <th class="text-center">Alamat Gudang</th>
                        <th class="col-md-5 text-center">SKPD Pengguna Gudang</th>
                        <th class="col-md-1 text-center"></th>
                    </tr>
                </thead>
                <tbody id="data-table">
                    <tr></tr>
                </tbody>
                <tbody id="data-edited">
                    <tr></tr>
                    <tr></tr>
                </tbody>
                <tbody id="edit">
                    <tr>
                        <td class="input-body">
                            <input id="gdno" type="text" class="form-control">
                        </td>
                        <td class="input-body">
                            <input id="gdalamat" type="text" class="form-control">
                        </td>
                        <td class="input-body">
                            <select type="text" class="form-control searchable" id="skpd-select" placeholder="Pilih SKPD" style="width:100% !important;"
                            data-rule-required="true" multiple='multiple' size="2">
                                <option></option>
                            </select>
                            <!--<input id="gdpengguna" type="text" class="form-control">-->
                        </td>
                        <td class="text-center input-body add-button">
                            <button id="simpan" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/select2.css') }}" />
<style type="text/css">
    .select2-selection__rendered {
        box-sizing: border-box !important;
    }
    
    input.form-control {
        font-size: 12px;
        padding: 6px 2px !important;
        margin: 0px !important;
        width: calc(100% - 6px) !important;
    }
    
    .input-body {
        padding: 6px 2px !important;
    }
    
    .add-button {
        vertical-align: middle !important;
    }
</style>

{% endblock %} {% block scripts %} {{ parent() }}

<script type="text/javaScript" src="{{ base_url('assets/js/select2.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){
        var editGudang=[];
        
        populateTable();
        
        skpdSelect();
        
        function skpdSelect(){
            $("#skpd-select").empty();
            $("#skpd-select").append("<option></option>");
            $.post("{{site_url('persediaan/get_list_skpd')}}",{},function(json){
                $("#skpd-select").select2({
                    placeholder : "Pilih SKPD...",
                    data : json.results,
                });
            },"json");
        }
        
        function populateTable(){
            $.post("{{site_url('persediaan/populasi_gudang')}}",{limit:"10", offset:"0"},function(json){
                console.log(json);
                $("#data-table").empty();$("#data-table").append("<tr></tr><tr></tr>");
                json.forEach(function(value, index){
                    $("#data-table").append(""+
                        "<tr id='"+value.guno+"'>"+
                            "<td id='row-gdno'>"+value.guno+"</td>"+
                            "<td id='row-gdalamat'>"+value.gualamat+"</td>"+
                            "<td id='row-gdpengguna' data-nomor-unit='"+value.nomor_unit+"'>"+value.nama_unit+"</td>"+
                            "<td class='text-center'>"+"<a href='#edit' class='edit-row'><span class='glyphicon glyphicon-pencil'></span></a>"+"</td>"+
                        "</tr>"
                    );
                });
                    
                $(".edit-row").off("click");
                $(".edit-row").on("click", editRow);
            }, "json");
        }
        
        function populateEditedTable(){
            $("#data-edited").empty();$("#data-edited").append("<tr><td class='text-center' colspan='6'></td></tr><tr></tr>");
            
            for(x in editGudang){
                $("#data-edited").append(""+
                    "<tr id='"+editGudang[x].guno+"'>"+
                        "<td id='row-gdno'>"+editGudang[x].guno+"</td>"+
                        "<td id='row-gdalamat'>"+editGudang[x].gualamat+"</td>"+
                        "<td id='row-gdpengguna' data-nomor-unit='"+editGudang[x].nomor_unit+"'>"+editGudang[x].nama_unit+"</td>"+
                        "<td class='text-center'>"+"<a href='#edit' class='edit-row'><span class='glyphicon glyphicon-pencil'></span></a>"+"</td>"+
                    "</tr>"
                );
            }
                    
            $(".edit-row").off("click");
            $(".edit-row").on("click", editRow);
        }
        
        function editRow(){
            var tr = $(this).closest('tr');
            
            editGudang = $.grep(editGudang, function(e){return e.guno !== tr.find("#row-gdno").text()});
            
            populateEditedTable();
            
            var nomorUnit = tr.find("#row-gdpengguna").data("nomor-unit");
            if(nomorUnit === null) nomorUnit = "";
            nomorUnit = nomorUnit.split(",");
            
            $("#gdno").val(tr.find("#row-gdno").text());
            $("#gdalamat").val(tr.find("#row-gdalamat").text());
            $("#skpd-select").val(nomorUnit).trigger("change");
            
            $("#gdno").prop("disabled", true);
            
            $(".form-control").stop(true, true).effect("highlight", {}, 1000);
            $("#skpd-select").hide();
            
            tr.remove();
            
            editGudang.push({
                "guno"          :$("#gdno").val(),
                "gualamat"      :$("#gdalamat").val(),
                "nomor_unit"    :$("#skpd-select").val(),
                "nama_unit"     :$("#skpd-select").find("option:selected").map(function(){
                    if($(this).text()!=="") return $(this).text();
                }).get().join(', '),
            });
        }
        
        $("#simpan").on("click", function(){
            var row = {
                "guno"          :$("#gdno").val(),
                "gualamat"      :$("#gdalamat").val(),
                "nomor_unit"    :$("#skpd-select").val(),
                "nama_unit"     :$("#skpd-select").find("option:selected").map(function(){
                    if($(this).text()!=="") return $(this).text();
                }).get().join(', '),
            };
            
            if(row.guno == ""){
                alert("Nomor Gudang Harus Diisi.");
                return;
            }
            
            $(".form-control").val(null);
            $(".form-control").prop("disabled", false);
            $("#skpd-select").val("").trigger("change");
            
            // simpan ke database
            $.post("{{site_url('persediaan/simpan_data_gudang')}}",{data:row},function(json){
                
            },"json");
            
            // masukan ke pool barang yang teredit/tertambah, hanya untuk tampilan supaya tidak load tabel ulang
            editGudang = $.grep(editGudang, function(e){return e.guno !== row.guno});
            editGudang.push(row);
            
            // tampilkan di area barang baru/teredit
            populateEditedTable();
        });
        
        $("#gdno").on("blur", function(){
            $.post("{{site_url('persediaan/gudang_check')}}", {guno:$("#gdno").val()}, function(json){
                if(json != null && json[0] != null)
                {
                    var dt = json[0];
            
                    var nomorUnit = dt.nomor_unit;
                    if(nomorUnit === null) nomorUnit = "";
                    nomorUnit = nomorUnit.split(",");
                    console.log(nomorUnit);
                    
                    $("#gdno").val(dt.guno);
                    $("#gdalamat").val(dt.gualamat);
                    $("#skpd-select").val(nomorUnit).trigger("change");
                    
                    $("#gdno").prop('disabled', true);
                    $("#"+$("#gdno").val().replace(/\./g,"\\.")).remove();
            
                    editGudang.push({
                        "guno"          :$("#gdno").val(),
                        "gualamat"      :$("#gdalamat").val(),
                        "nomor_unit"    :$("#skpd-select").val(),
                        "nama_unit"     :$("#skpd-select").find("option:selected").map(function(){
                            if($(this).text()!=="") return $(this).text();
                        }).get().join(', '),
                    });
                }
            }, "json");
        });
    });

</script>
{% endblock %}