{% extends "bootstrap_base.html" %}

{% block bodyclass%}sidebar-max{% endblock %}

{% block body %}
<ul id="topbar" class="on-click">
	{% block topbar %}{% endblock %}
</ul>
<div id="container">
	<div id="sidebar">{% block sidebar %}{% endblock %}</div>
	<div id="content">
		{% if notitle is not defined %}
		<div class="page"><h1 style="margin-left:15px;">{{ title }}</h1><br/>{{ block('content') }}</div>
		{% else %}
		{{ block('content') }}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/font-awesome.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "icomoon.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "madminnew.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "style.css") }}">
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ base_url("assets/js/" ~ "madmin.js") }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			madmin.init();
		});
	</script>
{% endblock %}