{% extends "bootstrap_base.html" %}

{% block body %}
	<div id="header">{% block header %}{% endblock %}</div>
	<div id="user-nav">{% block nav %}{% endblock %}</div>
	<div id="sidebar">{% block sidebar %}{% endblock %}</div>
	<div id="content"><div id="content-header"><h1>{{ title }}</h1></div><div class="container">{% block content %}{% endblock %}</div></div>
	<div class="row"><div class="col-xs-12" id="footer">{% block footer %}{% endblock %}</div></div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/font-awesome.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "unicorn.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/" ~ "unicorn_480.css") }}">
	{{ parent() }}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ base_url("assets/js/" ~ "jquery.jpanelmenu.min.js") }}"></script>
	<script type="text/javascript" src="{{ base_url("assets/js/" ~ "unicorn.js") }}"></script>
	{{ parent() }}
{% endblock %}