{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Buku Penerimaan Barang</li>
            </ol>
        </div>
    </div>
	<div class="row">
		<div class="col-md-3 pull-right">
			<div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
				<input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
				<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
			</div>
		</div>
	</div>
    <br/>
    <div class="row" style="display:none">
        <div class="col-md-12 text-center">
            <h2>Buku Penerimaan Barang</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" rowspan="2">No.</th>
                        <th class="text-center" rowspan="2">Tanggal</th>
                        <th class="text-center" rowspan="2">Dari</th>
                        <th class="text-center" colspan="2">Dokumen Faktur</th>
                        <th class="text-center" rowspan="2">Nama Barang</th>
                        <th class="text-center" rowspan="2">Banyaknya</th>
                        <th class="text-center" rowspan="2">Harga Satuan</th>
                        <th class="text-center" rowspan="2">Jumlah Harga</th>
                        <th class="text-center" colspan="2">Bukti Penerimaan/B.A. Penerimaan</th>
                        <th class="text-center" rowspan="2">Ket.</th>
                    </tr>
                    <tr>
                        <th class="text-center">nomor</th>
                        <th class="text-center">tanggal</th>
                        <th class="text-center">nomor</th>
                        <th class="text-center">tanggal</th>
                    </tr>
                    <tr>
                        {%for i in 1..12%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id = "data-body">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script src="{{site_url('assets/js/numeral/numeral.min.js')}}"></script>
<script src="{{site_url('assets/js/numeral/languages.id.js')}}"></script>
<script type="text/javascript">
    
    // switch between languages
    numeral.language('id-ID');
    
    jQuery(function($){
        populateTable();

		$("*[datepicker]").datepicker({
			autoclose:true,
			orientation:"bottom",
			format: "mm-yyyy",
			startView: "months", 
			minViewMode: "months"
		});
        
        $("#tanggal").on("change", function(){
            populateTable();
        });
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            
            $.post("{{ site_url('persediaan/get_populasi_buku_penerimaan_barang') }}", {skpd:"{{skpd}}", tanggal:$("#tanggal").val()}, function(json){
                json.forEach(function(value, index){
                    jurnal = value;
                    nomor = index+1;
                    value.detail.forEach(function(value, index){
                        $("#data-body").append(
                            "<tr>"+
                                "<td class='text-center'>"+((index == 0)? nomor+"." : "")+"</td>"+
                                "<td class='text-center'>"+((index == 0)? jurnal['jutgl'] : "")+"</td>"+
                                "<td>"+((index == 0)? jurnal['spnama'] : "")+"</td>"+
                                "<td>"+((index == 0)? jurnal['judokumenno'] : "")+"</td>"+
                                "<td class='text-center'>"+((index == 0)? jurnal['judokumentgl'] : "")+"</td>"+
                                "<td>"+value['namabarang']+"</td>"+
                                "<td class='text-right'>"+numeral(value['judqty']).format("0,0.0")+" "+value['judunit']+"</td>"+
                                "<td class='text-right'>"+numeral(value['judhargasat']).format("$0,0.00")+"</td>"+
                                "<td class='text-right'>"+numeral(value['judnilai']).format("$0,0.00")+"</td>"+
                                "<td>"+((index == 0)? jurnal['jubuktino'] : "")+"</td>"+
                                "<td class='text-center'>"+((index == 0)? jurnal['jubuktitgl'] : "")+"</td>"+
                                "<td>"+value['keterangan']+"</td>"+
                            "</tr>"
                        );
                    }, jurnal, nomor);
                });
            },"json");
        }
        
        $("#lakukan-cetak").on('click', function(){
            var skpd = Base64.encode("{{skpd}}");
            var tanggal = Base64.encode($("#tanggal").val());
            var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( tanggal === "") {tanggal = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
            window.open("{{ site_url('persediaan/print_buku_penerimaan_barang') }}/"+ namaunit + "/" + skpd + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, '_blank');
        });

        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
            
        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
    });
</script>
{% endblock %}