{% extends "_templates/adminpage.html" %} {% block content %}
{% include "simgo/persediaan/modal/modal_persiapan_cetak.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{site_url('persediaan')}}">Persediaan</a></li>
                <li class="active">Kartu Barang</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-right">
            <div data-date-format="mm-yyyy" data-date="{{ today }}" datepicker class="input-group input-append date">
                <input id="tanggal" name="tanggal" readonly="" class="form-control" value="{{ today }}"></input>
                <span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>SKPD</td>
                    <td>: {{oname}}</td>
                </tr>
                <tr>
                    <td>KABUPATEN&nbsp;</td>
                    <td>: Mojokerto</td>
                </tr>
                <tr>
                    <td>PROVINSI</td>
                    <td>: Jawa Timur</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Kartu Barang</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <text><strong>Nama Barang: </strong></text><text id="nama-barang"></text>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <text><strong>Spesifikasi Barang: </strong></text><text id="spesifikasi-barang"></text>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <text><strong>Satuan: </strong></text><text id="satuan-barang"></text>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Tanggal</th>
                        <th class="text-center">Masuk</th>
                        <th class="text-center">Keluar</th>
                        <th class="text-center">Sisa</th>
                        <th class="text-center">Keterangan</th>
                    </tr>
                    <tr>
                        {%for i in 1..6%}
                        <th class="small-header text-center"><small>{{i}}</small></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="data-body">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="btn-group pull-right">
                <button id="kembali" type="button" class="btn btn-default">Kembali</button>
                <button id="cetak" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Cetak</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{base_url('assets/css/datepicker3.css')}}" />
<link rel="stylesheet" type="text/css" media="print" href="{{ base_url('assets/css/bootstrap.min.css') }}">
<style type="text/css">
    .small-header {
        font-weight: normal !important;
        padding: 2px !important;
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #topbar,
        #sidebar,
        .breadcrumb,
        h1 {
            display: none;
        }
        .container,
        .container * {
            visibility: visible;
        }
        .sidebar-max {
            padding: 0px !important;
        }
        #content {
            position: absolute !important;
            left: 0px !important;
            top: 0px !important;
        }
    }
</style>
{% endblock %} {% block scripts %} {{ parent() }}
<script type="text/javaScript" src="{{base_url('assets/js/bootstrap-datepicker.js')}}"></script>
<script type="text/javaScript" src="{{ base_url('assets/js/base64.js') }}"></script>
<script type="text/javascript">
    jQuery(function($){

        $("*[datepicker]").datepicker({
            autoclose:true,
            orientation:"bottom",
            format: "mm-yyyy",
            startView: "months", 
            minViewMode: "months"
        });
        
        $("#tanggal").on("change", function(){
            populateTable();
        });
            
        populateTable();
        
        function populateTable(){
            $("#data-body").empty();
            $("#data-body").append("<tr></tr><tr></tr>");
            var nomor = 1;

            $.post("{{site_url('persediaan/get_populasi_detail_kartu_barang')}}", {tanggal:$("#tanggal").val(), kbid:"{{kbid}}", skpd:"{{skpd}}"},function(json){
                $("#nama-barang").empty();
                $("#satuan-barang").empty();
                $("#nama-barang").append("<strong>"+json[0]['kbnama']+"</strong>");
                $("#satuan-barang").append("<strong>"+json[0]['kbunit']+"</strong>");
                $("#spesifikasi-barang").append("<strong>"+json[0]['kbspesifikasi']+"</strong>");
                var sisa = 0;
                json.forEach(function(value, index){
                        sisa = sisa + parseFloat(value['judqty']);
                        
                        if (value['judqty'] > 0) {
                            $("#data-body").append(
                                "<tr>"+
                                    "<td class='text-center'>"+nomor+"</td>"+
                                    "<td>"+value['jutgl']+"</td>"+
                                    "<td>"+value['judqty']+"</td>"+
                                    "<td class='text-center'></td>"+
                                    "<td class='text-center'>"+sisa+"</td>"+
                                    "<td>"+value['keterangan']+"</td>"+
                                "</tr>"
                            );
                        } else if (value['judqty'] < 0) {
                            $("#data-body").append(
                                "<tr>"+
                                    "<td class='text-center'>"+nomor+"</td>"+
                                    "<td>"+value['jutgl']+"</td>"+
                                    "<td></td>"+
                                    "<td class='text-center'>"+(-value['judqty'])+"</td>"+
                                    "<td class='text-center'>"+sisa+"</td>"+
                                    "<td>"+value['keterangan']+"</td>"+                    
                                "</tr>"
                            );
                        } 
                        nomor++;
                    });
            },"json");
        }

        $("#cetak").on("click", function(){
            $("#pengambil").hide();
            $("#persiapan-cetak").modal("show");
        });
        
        $("#lakukan-cetak").on("click", function(){
            var skpd = Base64.encode("{{skpd}}");
            var kbid = Base64.encode("{{kbid}}");
            var tanggal = Base64.encode($("#tanggal").val());
            var namaunit = Base64.encode("{{oname}}");
            var pengurusbarang = Base64.encode($("#nama-petugas").val());
            var nippengurusbarang = Base64.encode($("#nip-petugas").val());
            var atasanlangsung = Base64.encode($("#nama-atasan").val());
            var nipatasanlangsung = Base64.encode($("#nip-atasan").val());
            
            if( skpd === "") {skpd = "-"}
            if( tanggal === "") {tanggal = "-"}
            if( namaunit === "") {namaunit = "-"}
            if( pengurusbarang === "") {pengurusbarang = "-"}
            if( nippengurusbarang === "") {nippengurusbarang = "-"}
            if( atasanlangsung === "") {atasanlangsung = "-"}
            if( nipatasanlangsung === "") {nipatasanlangsung = "-"}
            
            window.open( "{{ site_url('persediaan/print_kartu_barang') }}/"+ namaunit + "/" + skpd + "/" + kbid + "/" + tanggal + "/" + pengurusbarang + "/" + nippengurusbarang + "/" + atasanlangsung + "/" + nipatasanlangsung, '_blank');
        });

        $("#kembali").on("click", function(){
            window.location.href = "{{site_url('persediaan')}}";
        });
    });

</script>
{% endblock %}