<div class="modal fade" id="1a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div id="1a" class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Mutasi Tambah - Tanah</h4>
			</div>
			<div class="modal-body">
				<div id="error1a" class="error" style="display:none;"></div>
				{{ form_open("#") | raw }}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#1a_p1" aria-controls="P.1" role="tab" data-toggle="tab">P.1</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="1a_p1">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Status Penggunaan</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" name="kbstatusguna" disabled></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Sub-Sub Kel</label>
							</div>
							<div class="col-xs-3">
								<select class="form-control" name="kbkodesubsubkel" dropdown-width="800"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Rek.Neraca</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkoderekneraca" readonly></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Barang</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbnamabarang"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Alamat</label>
							</div>
							<div class="col-xs-6">
								<textarea class="form-control" name="kbalamat" rows="3"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jumlah</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbjumlah"></input>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Satuan</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbsatuan"></input>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Satuan</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargasatuan" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotal" style="text-align:right;" readonly />
									<span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="col-xs-2">
								<label class="control-label">
									<input type="checkbox" name="kbpajak" value=""> Pajak
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total + Pajak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotalpajak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Rencana Alokasi</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbrencanaalokasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Penggunaan</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbpenggunaan"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Keterangan</label>
							</div>
							<div class="col-xs-6">
								<textarea class="form-control" name="kbketerangan" rows="3"></textarea>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Status Tanah</label>
							</div>
							<div class="col-xs-4">
								<select class="form-control" name="kbstatustanah">
									<option value=""></option>
									<option value="01">01 - Hak Pakai</option>
									<option value="02">02 - Hak Pengelolaan</option>
									<option value="88">88 - Tidak Ada</option>
									<option value="99">99 - Lainnya</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Sertifikat</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" name="kbnosertifikat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tanggal Sertifikat</label>
							</div>
							<div class="col-xs-2">	
								<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
									<input name="kbtglsertifikat" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Atas Nama Sertifikat</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" name="kbansertifikat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1">
								<label class="control-label pull-right">Panjang</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" name="kbpanjang" style="text-align:right;" />
									<span class="input-group-addon">M</span>
								</div>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Lebar</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" name="kblebar" style="text-align:right;" />
									<span class="input-group-addon">M</span>
								</div>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Luas</label>
							</div>
							<div class="col-xs-2">
								<div class="input-group">
									<input class="form-control" name="kbluas" style="text-align:right;" />
									<span class="input-group-addon">M<sup>2</sup></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ form_close() | raw }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button id="btn1a" type="button" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(function($) {
		var root = $("#1a");

		root.find("button[id=btn1a]").click(function() {
			if (!form.valid()) {
				root.find(".modal-body").animate({scrollTop:0});
				return;
			}

			var kbid = root.data("kbid");

			$.post("{{ site_url("pengadaan/submit_rincian_1a") }}", {
				kbstatusguna: root.find("input[name=kbstatusguna]").val(),
				kbkodesubsubkel: root.find("select[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("textarea[name=kbalamat]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbhargasatuan: root.find("input[name=kbhargasatuan]").val(),
				kbhargatotal: root.find("input[name=kbhargatotal]").val(),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: root.find("input[name=kbhargatotalpajak]").val(),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbpenggunaan: root.find("input[name=kbpenggunaan]").val(),
				kbketerangan: root.find("textarea[name=kbketerangan]").val(),
				kbstatustanah: root.find("select[name=kbstatustanah]").val(),
				kbnosertifikat: root.find("input[name=kbnosertifikat]").val(),
				kbtglsertifikat: root.find("input[name=kbtglsertifikat]").val(),
				kbansertifikat: root.find("input[name=kbansertifikat]").val(),
				kbpanjang: root.find("input[name=kbpanjang]").val(),
				kblebar: root.find("input[name=kblebar]").val(),
				kbluas: root.find("input[name=kbluas]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {
				root.modal('hide');

				var get_rincian1 = $.common.CallbackManager.getByName("get_rincian1");
				if (get_rincian1) {
					get_rincian1.fire();
				}
			}, "json");
		});


		/* ==================== validation ==================== */
		var form = root.find("form");
		form.validate({
			rules: {
				kbkodesubsubkel: {
					required: true
				},
				kbstatustanah: {
					required: true
				}
			},
			messages: {
				kbkodesubsubkel: {
					required: "Kode Sub-Sub Kel harus diisi!"
				},
				kbstatustanah: {
					required: "Status harus diisi!"
				}
			},
			errorLabelContainer: "#error1a",
			ignore: []
		});
	});
</script>