<div class="modal fade" id="1c" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Input Mutasi Tambah - Mesin dan Alat Angkutan</h4>
			</div>
			<div class="modal-body">
				<div id="error1c" class="error" style="display:none;"></div>
				{{ form_open("#") | raw }}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#1c_p1" aria-controls="P.1" role="tab" data-toggle="tab">P.1</a></li>
					<li role="presentation"><a href="#1c_p2" aria-controls="P.2" role="tab" data-toggle="tab">P.2</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="1c_p1">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No. Status Penggunaan</label>
							</div>
							<div class="col-xs-5">
								<input class="form-control" name="kbstatusguna"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Sub-Sub Kel</label>
							</div>
							<div class="col-xs-3">
								<select class="form-control" name="kbkodesubsubkel" type="text" dropdown-width="800"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kode Rek.Neraca</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkoderekneraca"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Nama Barang</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbnamabarang"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Merek</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbalamat"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tipe</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbtipe"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Jumlah</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbjumlah"></input>
							</div>
							<div class="col-xs-1">
								<label class="control-label pull-right">Satuan</label>
							</div>
							<div class="col-xs-2">
								<input class="form-control" name="kbsatuan"></input>
							</div>
						</div>

						<hr />

						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Satuan</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargasatuan" style="text-align:right;" />
									<span class="input-group-addon">.00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotal" style="text-align:right;" readonly />
									<span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="col-xs-2">
								<label class="control-label">
									<input type="checkbox" id="kbpajak" value=""> Pajak
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Harga Total + Pajak</label>
							</div>
							<div class="col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Rp.</span>
									<input class="form-control" name="kbhargatotalpajak" style="text-align:right;" />
									<span class="input-group-addon">,00</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Rencana Alokasi</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbrencanaalokasi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Keterangan</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" name="kbketerangan"></input>
							</div>
						</div>
					</div>

					<div class="tab-pane fade in" id="1c_p2">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No.BPKB</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbnobpkb"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No.Polisi</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbnopolisi"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No.Rangka</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbnorangka"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No.Mesin</label>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="kbnomesin"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Warna</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbwarna"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Kapasitas Silinder</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbkapasitasslinder"></input>
							</div>
							<div class="col-xs-1" style="padding-top:10px;">
								cc
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">No.STNK</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbnostnk"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Tgl.STNK</label>
							</div>
							<div class="col-xs-2">	
								<div data-date-format="dd-mm-yyyy" data-date="" datepicker class="input-group input-append date">
									<input id="kbtglstnk" readonly="" class="form-control" value=""></input>
									<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Bahan Bakar</label>
							</div>
							<div class="col-xs-3">
								<input class="form-control" name="kbbahan"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Thn.Pembuatan</label>
							</div>
							<div class="col-xs-1">
								<input class="form-control" name="kbtahunbuat"></input>
							</div>
							<div class="col-xs-2">
								<label class="control-label pull-right">Thn.Perakitan</label>
							</div>
							<div class="col-xs-1">
								<input class="form-control" name="kbtahunrakit"></input>
							</div>
						</div>
					</div>
				</div>
				{{ form_close() | raw }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" id="btn1c" class="btn btn-primary">Simpan</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	jQuery(function($) {
		var root = $("#1c");

		root.find("button[id=btn1c]").click(function() {
			if (!form.valid()) {
				root.find(".modal-body").animate({scrollTop:0});
				return;
			}

			var kbid = root.data("kbid");

			$.post("{{ site_url("pengadaan/submit_rincian_1c") }}", {
				kbstatusguna: root.find("input[name=kbstatusguna]").val(),
				kbkodesubsubkel: root.find("select[name=kbkodesubsubkel]").val(),
				kbkoderekneraca: root.find("input[name=kbkoderekneraca]").val(),
				kbnamabarang: root.find("input[name=kbnamabarang]").val(),
				kbalamat: root.find("input[name=kbalamat]").val(),
				kbtipe: root.find("input[name=kbtipe]").val(),
				kbjumlah: root.find("input[name=kbjumlah]").val(),
				kbsatuan: root.find("input[name=kbsatuan]").val(),
				kbhargasatuan: root.find("input[name=kbhargasatuan]").val(),
				kbhargatotal: root.find("input[name=kbhargatotal]").val(),
				kbpajak: root.find("input[name=kbpajak]").is(":checked") ? 1 : 0,
				kbhargatotalpajak: root.find("input[name=kbhargatotalpajak]").val(),
				kbrencanaalokasi: root.find("input[name=kbrencanaalokasi]").val(),
				kbketerangan: root.find("input[name=kbketerangan]").val(),
				kbnobpkb: root.find("input[name=kbnobpkb]").val(),
				kbnopolisi: root.find("input[name=kbnopolisi]").val(),
				kbnorangka: root.find("input[name=kbnorangka]").val(),
				kbnomesin: root.find("input[name=kbnomesin]").val(),
				kbwarna: root.find("input[name=kbwarna]").val(),
				kbkapasitasslinder: root.find("input[name=kbkapasitasslinder]").val(),
				kbnostnk: root.find("input[name=kbnostnk]").val(),
				kbtglstnk: root.find("input[name=kbtglstnk]").val(),
				kbbahan: root.find("input[name=kbbahan]").val(),
				kbthnbuat: root.find("input[name=kbthnbuat]").val(),
				kbthnrakit: root.find("input[name=kbthnrakit]").val(),
				jpid: {{ id }},
				kbid: kbid
			}, function(response) {
				root.modal('hide');

				var get_rincian1 = $.common.CallbackManager.getByName("get_rincian1");
				if (get_rincian1) {
					get_rincian1.fire();
				}
			}, "json");
		});


		/* ==================== validation ==================== */
		var form = root.find("form");
		form.validate({
			rules: {
				kbkodesubsubkel: {
					required: true
				}
			},
			messages: {
				kbkodesubsubkel: {
					required: "Kode Sub-Sub Kel harus diisi!"
				}
			},
			errorLabelContainer: "#error1c",
			ignore: []
		});
	});
</script>