/* === UTILS ==={ */
/* }=== UTILS === */
/* === COLOR - AZURE ==={ */
/* }=== COLOR - AZURE === */
/* === MADMIN MENU ==={ */
/* general setup & list styles reset */
.sidebar-menu li > a,
.sidebar-menu li > div > a {
  position: relative;
}
.sidebar-menu,
.sidebar-menu ul,
.sidebar-menu li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu > li,
.sidebar-menu > li > div {
  width: 220px;
}
.sidebar-menu li > a {
  white-space: normal;
}
.sidebar-menu li > div > a > [class^="icon-"] + span {
  position: relative;
  top: -4px;
}
.sidebar-menu li > div > a > span {
  position: relative;
  top: 6px;
}
/* drop sub-menu mix-in */
/* main menu styles */
.sidebar-menu {
  /* level 0 */

  /* levels 1+ */

  /* arrows */

}
.sidebar-menu > li > div {
  position: relative;
  background: #333333;
}
.sidebar-menu > li > div > a {
  display: block;
  height: 30px;
  padding: 12px;
  color: #ffffff;
}
.sidebar-menu > li > div > a > [class^="icon-"] {
  margin-right: 10px;
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
}
.sidebar-menu > li > div > a > [class^="icon-icomoon-"] {
  position: relative;
  top: 2px;
  font-size: 26px;
  line-height: 26px;
}
.sidebar-menu > li:hover > div > a,
.sidebar-menu > li.open > div > a {
  background: #333333;
}
.sidebar-menu > li.parent > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 #333333 #333333 #ffffff;
  margin-right: 5px;
}
.sidebar-menu > li.parent:hover > div > a > span:before,
.sidebar-menu > li.parent.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333\ #333333 #333333 #ffffff;
}
.sidebar-menu > li.active > div > a {
  background: #ffffff;
  color: #20202f;
}
.sidebar-menu > li.parent.active > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #20202f #ffffff #ffffff #ffffff;
  position: relative;
  top: 1px;
}
.sidebar-menu ul {
  display: none;
}
.sidebar-menu ul > li > a {
  display: inline-block;
  height: 20px;
  padding: 5px;
}
.sidebar-menu > li.parent li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 #333333 #333333 #ffffff;
  margin-left: 8px;
}
/* drop-right */
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul,
.sidebar-menu > li.parent.inactive.open > div > ul {
  display: block;
  position: absolute;
  top: 0 !important;
  left: 100% !important;
  padding: 10px 0;
  background: #333333;
  width: 220px;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li:hover > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-menu > li.parent > div > ul li.open > ul,
.sidebar-menu > li.parent > div > ul li:hover > ul {
  display: block;
  position: absolute;
  top: -10px !important;
  left: 100% !important;
  padding: 10px 0;
  background: #333333;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
/* maximized sidebar - active's item submenu */
.sidebar-max .sidebar-menu {
  /* level 1+ arrows */

}
.sidebar-max .sidebar-menu > li.active,
.sidebar-max .sidebar-menu > li.active > div {
  width: 221px;
}
.sidebar-max .sidebar-menu .active > div > ul {
  display: block;
  padding-bottom: 10px;
  background: #ffffff;
}
.sidebar-max .sidebar-menu .active > div > ul > li > a {
  margin-left: 30px;
  color: #333333;
  border-color: #333333;
}
.sidebar-max .sidebar-menu .active > div > ul > li > a:hover,
.sidebar-max .sidebar-menu .active > div > ul > li.active > a {
  border-left: 8px solid;
  padding-left: 7px;
  margin-left: 30px;
}
.sidebar-max .sidebar-menu .active > div > ul > li.active > a {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #333333;
  top: 0px;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #20202f;
  top: 0;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 #333333 #333333 #20202f;
  margin-left: 8px;
}
/* minimized sidebar */
.sidebar-min .sidebar-menu {
  /* levels 1+ arrows */

}
.sidebar-min .sidebar-menu > li {
  width: 60px;
  overflow: hidden;
}
.sidebar-min .sidebar-menu > li.active {
  width: 61px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 #333333 #333333 #ffffff;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 #333333 #333333 #20202f;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul {
  display: block;
  position: absolute;
  top: 50px !important;
  left: 60px !important;
  padding: 10px 0;
  background: #333333;
  min-width: 160px;
  padding-top: 0 !important;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-min .sidebar-menu.on-hover > li:hover,
.sidebar-min .sidebar-menu > li.open {
  overflow: visible;
}
.sidebar-min .sidebar-menu.on-hover > li:hover > div > a,
.sidebar-min .sidebar-menu > li.open > div > a {
  background: #333333;
}
.sidebar-min .sidebar-menu.on-hover > li.parent.active:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.active.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #20202f #333333 #333333 #333333;
  position: relative;
  top: 1px;
}
.sidebar-min .sidebar-menu.on-hover > li.parent:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #333333 #333333 #333333;
  position: relative;
  top: 1px;
}
/* }=== MADMIN MENU === */
/* === LAYOUT ==={ */
body {
  padding-top: 50px;
  /*min-height: 768px;*/
  min-width: 800px !important;
  height: 100vh;
  font-size: 12px !important;
  /*background: url("../img/bg-sidebar.png") repeat-y scroll 0 390px rgba(0,0,0,0);*/
}
body.help-page {
  padding: 0;
}
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 3px;
  border: 0;
  margin: 0;
  text-align: center;
  z-index: 5000;
}
#topbar > li {
  display: inline-block;
  position: relative;
}
#sidebar {
  position: fixed;
  overflow: hidden;
  width: 220px;
  left: 0;
  height: 100%;
  padding-top: 50px;
  top: 50px;
  bottom: 0px;
  /*padding: 0 0 70px 0;*/
  z-index: 1000;
}
#sidebar.fixed {
  position: fixed !important;
  top: 50px;
  left: 0;
  bottom: 0;
}
#content {
  position: absolute;
  right: 0px;
  left: 25px;
  width: auto;
  min-width: 600px;
  margin: 10px;
}
.sidebar-min #sidebar {
  width: 61px;
}
.sidebar-min #content {
  left: 80px;
}
.sidebar-max #content {
  left: 220px;
}
#container {
  padding: 0;
  position: relative;
}
.page.hidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.panel {
  margin: 0 auto 20px auto;
}
.panel header {
  padding: 0 10px;
  height: 30px;
}
.panel header i {
  position: relative;
  top: 6px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 17px;
}
.panel header i[class^="icon-icomoon-"] {
  font-size: 14px;
  line-height: 14px;
}
.panel header span {
  position: relative;
  top: 5px;
}
.panel .content {
  padding: 10px;
}
#panel-login {
  width: 345px;
  margin-top: 20px;
}
#panel-login .content {
  padding: 30px;
}
/* }=== LAYOUT === */
/* === LOOKS ==={ */
body.help-page {
  background-color: #FDFCE4;
}
/* squarify */
code,
pre,
.modal,
table,
.table,
.table-bordered,
.well,
.label,
.hero-unit,
.navbar-inner,
.btn-group > .btn:last-child,
button,
select,
textarea,
input,
.input-append .add-on:last-child,
.input-append .btn:last-child,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child,
.btn-group > .btn:first-child,
.dropdown-menu,
.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a,
.tabs-below > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.pager li > a,
.pager li > span,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  /*-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;*/
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-left: 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  filter: none;
}
ul {
  list-style: square;
}
/* Top Bar */
#topbar {
  background: #2D2C35;
  color: #ffffff;
}
#topbar h1 {
  position: relative;
  height: 30px;
  margin: 0;
  top: -8px;
  font-size: 16px;
  font-weight: normal;
}
#topbar h1 [class^="icon-"] {
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #6ac8fb;
}
#topbar h1 [class^="icon-icomoon-"] {
  top: 4px;
}
#topbar h1 a {
  position: relative;
  top: 3px;
  color: #ffffff;
}
#topbar h1 a:hover {
  text-decoration: none;
}
#topbar > li > a {
  display: inline-block;
  padding: 5px 10px 0 10px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  height: 24px;
  line-height: 21px;
}
#topbar > li > a:hover {
  text-decoration: none;
  background: #4b5867;
}
#topbar > li.pull-right > a {
  margin-left: 10px;
}
#topbar > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #3a4450 #3a4450 #3a4450;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar > li.parent > a:hover > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #4b5867 #4b5867 #4b5867;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar .dropdown-menu {
  top: 98%;
  right: 0;
  margin: 0;
  padding: 0 0 0 0;
  background: #3a4450;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
#topbar .dropdown-menu * {
  color: #ffffff;
}
#topbar .dropdown-menu > li > a {
  height: 24px;
  font-size: 12px;
  font-weight: bold;
}
#topbar .dropdown-menu > li > a:hover {
  background: #4b5867;
}
#topbar .dropdown-menu > li.divider {
  background: none;
  border-bottom: 1px solid #4B5867 !important;
}
/* Bootstrap drop-downs behavior enhancement */
ul.on-hover > li.parent:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #f7f7fd;
  box-shadow: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #333333;
}
/* Sidebar Resizer */
#sidebar-resizer {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 32px;
  color: #20202f;
  margin: 10px 0 10px 0;
}
#sidebar-resizer:hover {
  text-decoration: none;
}
#sidebar-resizer i.max {
  display: none;
}
.sidebar-min #sidebar-resizer {
  width: 40px;
}
.sidebar-min #sidebar-resizer i.max {
  display: inline-block;
}
.sidebar-min #sidebar-resizer i.min {
  display: none;
}
/* Sidebar User*/
.user-sidebar {
  width: 220px;
  height: 15vh;
  margin-top: 0px;
  text-align: center;
}
.user-sidebar-name {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}
.user-sidebar-name a {
 color: #F2F2F2;
}
.user-sidebar-org {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}
.user-sidebar-org a {
 color: #F2F2F2;
}
.user-sidebar-org a:hover{
 color: #F2F2F2;
 text-decoration: none !important;
}
/*Log Out Sidebar*/
.logout-sidebar {
  margin-top: 50px;
  text-align: center;
  background-color: #333333;
}
.logout-sidebar-btn a{
  color: #F2F2F2;
}
/* Sidebar Mini-Search */
.search-mini-wrapper {
  width: 220px;
  background: #333333;
  overflow: hidden;
  padding-top: 40px;
}
.search-mini-wrapper ::-webkit-input-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-moz-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-ms-input-placeholder {
  color: #8090a0;
}
.sidebar-min .search-mini-wrapper {
  width: 60px;
}
.sidebar-min .search-mini-wrapper:hover {
  width: 220px;
}
.sidebar-min .search-mini-wrapper:hover input {
  width: 192px;
}
.sidebar-min .search-mini-wrapper:hover button {
  left: 174px;
}
.search-mini {
  position: relative;
  margin: 10px 0 10px 0;
}
.search-mini input, .search-mini div {
  border: 0;
  margin: 0 8px;
  width: 192px;
  height: 24px;
  padding: 3px;
  background: #3a4450;
  color: #ffffff;
}
.search-mini button {
  position: absolute;
  width: 36px;
  height: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  background: #3a4450;
  color: #ffffff;
  top: 0;
  right: 10px;
  font-size: 18px;
}
.sidebar-min .search-mini input {
  width: 32px;
}
.sidebar-min .search-mini button {
  right: 22.5%;
}
/* Panels */
.panel header,
.accordion-heading {
  background: #3a4450;
}
.panel header *,
.accordion-heading *,
.panel header a:hover,
.accordion-heading a:hover {
  color: #ffffff;
  text-decoration: none;
}
.panel .content {
  background: #f7f7fd;
  color: #3a4450;
  border: 1px solid #f0f0fb;
}
.hero-unit,
.form-actions {
  background: #f7f7fd;
}
/* Hero Special */
.hero-special {
  background: #f7f7fd url(../img/bg-hero-special.jpg) center center no-repeat;
}
/* Table of Key Numbers */
.table-key-numbers {
  width: 100%;
  text-align: center;
}
.table-key-numbers td {
  font-family: Candara, 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6em;
  color: #20202f;
}
.table-key-numbers th {
  color: #666;
  font-weight: normal;
  color: #8b9198;
}
/* Demo Charts */
#stats-area-chart,
#dashboard-dynamic-chart,
#stats-pie-chart {
  margin: 10px;
  width: 95%;
  height: 200px;
}
#stats-pie-chart {
  margin: 10px auto 10px auto;
  width: 400px;
  overflow: hidden;
}
/* Sidebar */
#sidebar {
  background: #333333 0 390px;
}
/* Tablesorter Plugin */
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
  background-color: #aedcfb;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #333333;
}
table.tablesorter {
  background-color: #f7f7fd;
}
/* Accordions */
.accordion-group,
.accordion-inner {
  border: 0;
}
/* }=== LOOKS === */
/* === TYPO ==={ */
body,
p,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: tahoma,verdana,arial,sans-serif;
}
.sidebar-menu a:hover {
  text-decoration: none;
}
.sidebar-menu > li > div > a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.hero-unit h1 {
  margin-bottom: 0.15em;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: 'Segoe UI Light', 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
h1{
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;
}
/* }=== TYPO === */
/* === FORMS ==={ */
/* }=== FORMS === */
/* === FIXES ==={ */
[class^="icon-"] {
  text-transform: none !important;
}
#pageslide {
  top: 100px;
  height: 94.5%;
  padding: 10px;
  border-left: 1px solid #a3a18c;
}
.login-checkbox {
  position: relative;
  top: -3px;
}
/* }=== FIXES === */

h1#topbar-title {
  line-height: 40px;
}

.dropdown-menu li {
  line-height: 20px;
}

*, *:before, *:after {
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

label {
  display: block;
}

.form-error {
  display: none;
}

input.form-control {
    width: calc(100% - 24px) !important;
}
.dropdown-menu .divider {
    margin: 0;
}

.label2 {
  padding-top: 16px;
  height: 34px;
}

select.form-control {
  -moz-padding-end: 0;
   color: inherit;
   white-space: nowrap;
   text-align: inherit;
   -moz-user-select: none;
   /* Make sure to size correctly if the combobox has a non-auto height. */
   height: 100% ! important;
   box-sizing: border-box ! important;
  line-height: -moz-block-height;
}

div.container {
  width: 98% !important;
}

th.center, td.center {
  text-align: center;
}

h1 {
  padding-top: 15px !important;
}

.row {
  margin: 0px 0px;
}

.container-fluid, .container {
  padding-left: 0px;
  padding-right: 0px;
}
*[topbar] {
  height: 60px;
  background: white;
  border-bottom: 1px solid grey;
}

.dropdown-menu {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  vertical-align: middle;
}
.dropdown-menu .divider {
  margin: 5px 0;
}

.form-control {
  border-radius: 0px !important;
  height: 20px !important;
}

*[toolbar] {
  font-size: 12px;
}