.twitter-typeahead {
	width: 100%;
}

.tt-hint {
	border: 1px solid #024E6A;
	border-radius: 8px;
	outline: medium none;
	width: 100%;
}
.tt-input:disabled {
	background: rgba(1, 1, 1, 0.05) !important;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	width: 100%;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 18px;
	padding: 8px 20px;
}
.tt-suggestion + .tt-suggestion {
	border-top: 1px solid #CCCCCC;
}
.tt-suggestions .repo-language {
	float: right;
	font-style: italic;
}
.tt-suggestions .repo-name {
	font-weight: bold;
}
.tt-suggestions .repo-description {
	margin: 0;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #03739C;
}