* {
    outline: medium none !important;
}

body {
    margin-top: -20px;
    overflow-x: hidden;
    background-color: #2E2C30;
}


a:hover {
    text-decoration: none;
}
a {
    text-decoration: none !important;
}



.row {
	margin: 0;
}



.flat {
	border-radius: 0;
}



#header {
    height: 77px;
    position: relative;
    width: 100%;
    z-index: -9;
    background-color: #333333;
    background-image: -moz-linear-gradient(center top , #3D3A40 0%, #312E33 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#header h1 {
    /* background: url("../img/logo.png") no-repeat scroll 0 0 transparent; */
    height: 31px;
    left: 15px;
    color: #FFFFFF !important;
    overflow: hidden;
    position: relative;
    top: 24px;
    width: 191px;
}

#header h1 a {
    display: block;
}

#menu-trigger {
    color: #DDDDDD;
    display: none;
    font-size: 16px;
    left: 7px;
    line-height: 16px;
    position: absolute;
    text-shadow: 0 1px 0 #000000;
    top: 48px;
    z-index: 1000 !important;
}

.fixed #menu-trigger {
	z-index: 20;
	top: auto;
	bottom: 0;
	left: 1px;
	padding: 11px 7px 9px 6px;
	border-right: 1px solid #000;
	box-shadow: 1px 0 0 0 #393939;
}

.fixed.flat #menu-trigger {
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 0 #444;
}



#user-nav {
    height: 25px !important;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 20;
}

#user-nav > ul {
    list-style: none outside none;
    padding: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#user-nav > ul > li:hover {
	background-color: #3C3C3C;
}

#user-nav > ul > li > a {
    display: block;
    font-size: 12px;
    padding: 9.5px 8px;
}

#user-nav > ul > li > a, #user-nav > ul > li > a > i {
    color: rgba(255, 255, 255, 0.6);
}

#user-nav > ul > li:hover > a, #user-nav > ul > li:hover > a > i, #user-nav > ul > li.open > a, #user-nav > ul > li.open > a > i {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

#user-nav > ul > li > a > i {
	font-size: 11px;
	vertical-align: middle;
	margin-right: 4px;
}

#user-nav > ul > li > a > .label {
	font-size: 10px;
	vertical-align: middle;
	padding: 2px 4px 2px;
	margin: -2px 4px 0;
	display: inline-block;
}


#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    z-index: 16;
}


#jPanelMenu-menu > ul {
	margin: -2px 0 0;
	width: 250px;
}

#sidebar > ul, #jPanelMenu-menu > ul {
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    width: 220px;
    border-bottom: 1px solid #3B393D;
    border-top: 1px solid #232124;
}

#sidebar > ul > li, #jPanelMenu-menu > ul > li {
    display: block;
    position: relative;
    border-bottom: 1px solid #232124;
    border-top: 1px solid #3B393D;
    background-image: -moz-linear-gradient(center top , #312F33 0%, #2E2C30 100%);
}

#sidebar > ul > li.active, #jPanelMenu-menu > ul > li.active {
    background-color: #3A3A3A;
    background-image: -moz-linear-gradient(center top , #464349 0%, #3E3B41 100%);
    border-top-color: #4D4950;
    box-shadow: none;
}

#sidebar > ul > li:hover, #jPanelMenu-menu > ul > li:hover {
    background-color: #343235;
    background-image: -moz-linear-gradient(center top , #343235 0%, #312F33 100%);
}

#sidebar > ul > li > a, #jPanelMenu-menu > ul > li > a {
    display: block;
    padding: 10px 0 10px 15px;
}

#sidebar > ul > li > a, #jPanelMenu-menu > ul > li > a {
    color: rgba(255, 255, 255, 0.4);
}
#sidebar > ul > li.active > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}

#sidebar > ul > li.active > a, #jPanelMenu-menu > ul > li.active > a {
    color: rgba(255, 255, 255, 0.8);
}

#sidebar > ul > li > a .arrow, #jPanelMenu-menu > ul > li > a .arrow {
    float: right;
    font-size: 10px;
    margin: 4px 15px 0 -10px;
    transition: all 0.3s ease-in-out 0s;
}

#sidebar > ul > li.open > a .arrow, #jPanelMenu-menu > ul > li.open > a .arrow {
    transform: rotate(90deg);
}

#sidebar > ul > li > a > i, #jPanelMenu-menu > ul > li > a > i {
    margin-right: 10px;
}

#sidebar > ul > li > a > .label, #jPanelMenu-menu > ul > li > a > .label {
	margin: 2px 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

#sidebar > ul ul, #jPanelMenu-menu > ul ul {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    display: none;
    margin: 0;
    padding: 0;
    background-color: #272729;
}

#sidebar > ul ul li a, #jPanelMenu-menu > ul ul li a {
    color: #777777;
    display: block;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #1D1D1F;
    border-top: 1px solid #303032;
}

#sidebar > ul ul li:first-child a, #jPanelMenu-menu > ul ul li:first-child a {
    border-top: 0 none;
}

#sidebar > ul ul li:last-child a, #jPanelMenu-menu > ul ul li:last-child a {
	border-bottom: 0;
}


#content {
    background: none repeat scroll 0 0 #ECEAEF;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-left: 220px;
    margin-right: 0;
    min-height: 500px;
    position: relative;
    width: auto;
}

#content-header {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #ECEAEF 100%);
    border-top-left-radius: 8px;
    margin-top: -18px;
    min-height: 80px;
    padding-top: 5px;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid #D6D6D6;
    box-shadow: 0 0 1px #FFFFFF;
}

#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
}



#footer {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
}

#footer a {
	color: rgba(255,255,255,0.5);
}

#footer a:hover {
	color: rgba(255,255,255,0.8);
}