{% extends "_templates/adminpage.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-3" style="padding-left:0px; padding-right:0px; " >
		</div>
		<div id="realisasi-pegawai-chart" class="col-xs-6" style="padding-left:0px; padding-right:0px; height:50vh;">
		</div>
		<div class="col-xs-3" style="padding-left:0px; padding-right:0px;">
		</div>
	</div>
	<div class="col-xs-12">
		<div id="realisasi-barang-chart" class="col-xs-6" style="padding-left:0px; padding-right:0px; height:50vh;">
		</div>
		<div id="realisasi-modal-chart" class="col-xs-6" style="padding-left:0px; padding-right:0px; height:50vh;">
		</div>
	</div>
	<div id="realisasi-pembanding-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:1000vh;">
	</div>
	<div id="realisasi-simbada-tanah-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
	<div id="realisasi-simbada-mesin-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
	<div id="realisasi-simbada-gedung-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
	<div id="realisasi-simbada-jalan-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
	<div id="realisasi-simbada-lain-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
	<div id="saldo-current-chart" class="col-xs-12" style="padding-left:0px; padding-right:0px; height:50vh;">
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/highcharts.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/exporting.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

    	$("body").mask("Processing...");
    	$.post("{{ site_url('aset/get_realisasi_pegawai') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;

    		$('#realisasi-pegawai-chart').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false,
		            type: 'pie'
		        },
		        title: {
		            text: 'Realisasi Anggaran Pegawai'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		            	size: '90%',
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            name: 'Anggaran',
		            colorByPoint: true,
		            data: [{
		                name: 'Sisa',
		                y: persen_anggaran-persen_realisasi
		            }, {
		                name: 'Realisasi',
		                y: persen_realisasi,
		                sliced: true,
		                selected: true
		            }]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_barang') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;

    		$('#realisasi-barang-chart').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false,
		            type: 'pie'
		        },
		        title: {
		            text: 'Realisasi Anggaran Barang & Jasa'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		            	size: '90%',
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            name: 'Anggaran',
		            colorByPoint: true,
		            data: [{
		                name: 'Sisa',
		                y: persen_anggaran-persen_realisasi
		            }, {
		                name: 'Realisasi',
		                y: persen_realisasi,
		                sliced: true,
		                selected: true
		            }]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_modal') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;

    		$('#realisasi-modal-chart').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false,
		            type: 'pie'
		        },
		        title: {
		            text: 'Realisasi Anggaran Modal'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		            	size: '90%',
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            name: 'Anggaran',
		            colorByPoint: true,
		            data: [{
		                name: 'Sisa Anggaran',
		                y: persen_anggaran-persen_realisasi
		            }, {
		                name: 'Realisasi',
		                y: persen_realisasi,
		                sliced: true,
		                selected: true
		            }]
		        }]
		    });
		}, "json");

    	$.post("{{ site_url('aset/get_realisasi_tanah') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;
    		var realisasi_simbada = json.realisasi_simbada;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;
    		var persen_realisasi_simbada = realisasi_simbada/anggaran*100;

    		$('#realisasi-simbada-tanah-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Komparasi Realisasi Tanah'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' persen'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Anggaran',
		            data: [persen_anggaran]
		        }, {
		            name: 'Realisasi',
		            data: [persen_realisasi]
		        }, {
		            name: 'Realisasi Simbada',
		            data: [persen_realisasi_simbada]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_mesin') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;
    		var realisasi_simbada = json.realisasi_simbada;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;
    		var persen_realisasi_simbada = realisasi_simbada/anggaran*100;

    		$('#realisasi-simbada-mesin-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Komparasi Realisasi Peralatan dan Mesin'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' persen'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Anggaran',
		            data: [persen_anggaran]
		        }, {
		            name: 'Realisasi',
		            data: [persen_realisasi]
		        }, {
		            name: 'Realisasi Simbada',
		            data: [persen_realisasi_simbada]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_gedung') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;
    		var realisasi_simbada = json.realisasi_simbada;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;
    		var persen_realisasi_simbada = realisasi_simbada/anggaran*100;

    		$('#realisasi-simbada-gedung-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Komparasi Realisasi Gedung'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' persen'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Anggaran',
		            data: [persen_anggaran]
		        }, {
		            name: 'Realisasi',
		            data: [persen_realisasi]
		        }, {
		            name: 'Realisasi Simbada',
		            data: [persen_realisasi_simbada]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_jalan') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;
    		var realisasi_simbada = json.realisasi_simbada;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;
    		var persen_realisasi_simbada = realisasi_simbada/anggaran*100;

    		$('#realisasi-simbada-jalan-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Komparasi Realisasi Jalan'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' persen'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Anggaran',
		            data: [persen_anggaran]
		        }, {
		            name: 'Realisasi',
		            data: [persen_realisasi]
		        }, {
		            name: 'Realisasi Simbada',
		            data: [persen_realisasi_simbada]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_lain') }}", {}, function(json){
    		var anggaran = json.anggaran;
    		var realisasi = json.realisasi;
    		var realisasi_simbada = json.realisasi_simbada;

    		var persen_anggaran = anggaran/anggaran*100;
    		var persen_realisasi = realisasi/anggaran*100;
    		var persen_realisasi_simbada = realisasi_simbada/anggaran*100;

    		$('#realisasi-simbada-lain-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Komparasi Realisasi Aset Tetap Lainnya'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' persen'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Anggaran',
		            data: [persen_anggaran]
		        }, {
		            name: 'Realisasi',
		            data: [persen_realisasi]
		        }, {
		            name: 'Realisasi Simbada',
		            data: [persen_realisasi_simbada]
		        }]
		    });
		}, "json");

		$.post("{{ site_url('aset/get_realisasi_semua') }}", {}, function(json){
    		var data = json.data;
    		var persen_realisasi_modal = [];
    		var persen_realisasi_pegawai = [];
    		var persen_realisasi_barang = [];
    		for(var i=0; i<data.length; i++){
    			if( data[i][0] != 0) {
    				persen_realisasi_modal[i] = Math.round(data[i][1]/data[i][0]*100 *1e2)/1e2;
    			} else {
    				persen_realisasi_modal[i] = 0;
    			}
				
				if( data[i][2] != 0) {
					persen_realisasi_pegawai[i] = Math.round(data[i][3]/data[i][2]*100 *1e2)/1e2;
				} else {
					persen_realisasi_pegawai[i] = 0;
				}
				
				if( data[i][4] != 0) {
					persen_realisasi_barang[i] = Math.round(data[i][5]/data[i][4]*100 *1e2)/1e2;
				} else {
					persen_realisasi_barang[i] = 0;
				}
        	}

    		var anggaran_modal_dinas_pendidikan = Math.round(data[0][0]/1000000 *1e2)/1e2;
    		var realisasi_modal_dinas_pendidikan = Math.round(data[0][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pendidikan = Math.round(data[0][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pendidikan = Math.round(data[0][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pendidikan = Math.round(data[0][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pendidikan = Math.round(data[0][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_kesehatan = Math.round(data[1][0]/1000000 *1e2)/1e2;
    		var realisasi_modal_dinas_kesehatan = Math.round(data[1][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_kesehatan = Math.round(data[1][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_kesehatan = Math.round(data[1][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_kesehatan = Math.round(data[1][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_kesehatan = Math.round(data[1][5]/1000000 *1e2)/1e2;
    		
    		var anggaran_modal_rsud_soekandar = Math.round(data[2][0]/1000000 *1e2)/1e2;
    		var realisasi_modal_rsud_soekandar = Math.round(data[2][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_rsud_soekandar = Math.round(data[2][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_rsud_soekandar = Math.round(data[2][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_rsud_soekandar = Math.round(data[2][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_rsud_soekandar = Math.round(data[2][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_rsud_basoeni = Math.round(data[3][0]/1000000 *1e2)/1e2;
    		var realisasi_modal_rsud_basoeni = Math.round(data[3][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_rsud_basoeni = Math.round(data[3][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_rsud_basoeni = Math.round(data[3][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_rsud_basoeni = Math.round(data[3][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_rsud_basoeni = Math.round(data[3][5]/1000000 *1e2)/1e2;

			var anggaran_modal_dinas_pu_pengairan = Math.round(data[4][0]/1000000 *1e2)/1e2;
    		var realisasi_modal_dinas_pu_pengairan = Math.round(data[4][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pu_pengairan = Math.round(data[4][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pu_pengairan = Math.round(data[4][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pu_pengairan = Math.round(data[4][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pu_pengairan = Math.round(data[4][5]/1000000 *1e2)/1e2;

			var anggaran_modal_dinas_pu_bina_marga = Math.round(data[5][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_pu_bina_marga = Math.round(data[5][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pu_bina_marga = Math.round(data[5][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pu_bina_marga = Math.round(data[5][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pu_bina_marga = Math.round(data[5][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pu_bina_marga = Math.round(data[5][5]/1000000 *1e2)/1e2;

			var anggaran_modal_dinas_pu_cipta_karya = Math.round(data[6][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_pu_cipta_karya = Math.round(data[6][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pu_cipta_karya = Math.round(data[6][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pu_cipta_karya = Math.round(data[6][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pu_cipta_karya = Math.round(data[6][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pu_cipta_karya = Math.round(data[6][5]/1000000 *1e2)/1e2;

			var anggaran_modal_bappeda = Math.round(data[7][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_bappeda = Math.round(data[7][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_bappeda = Math.round(data[7][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_bappeda = Math.round(data[7][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_bappeda = Math.round(data[7][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_bappeda = Math.round(data[7][5]/1000000 *1e2)/1e2;

			var anggaran_modal_dinas_perhubungan = Math.round(data[8][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_perhubungan = Math.round(data[8][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_perhubungan = Math.round(data[8][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_perhubungan = Math.round(data[8][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_perhubungan = Math.round(data[8][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_perhubungan = Math.round(data[8][5]/1000000 *1e2)/1e2;

			var anggaran_modal_badan_lingkungan_hidup = Math.round(data[9][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_badan_lingkungan_hidup = Math.round(data[9][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_badan_lingkungan_hidup = Math.round(data[9][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_badan_lingkungan_hidup = Math.round(data[9][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_badan_lingkungan_hidup = Math.round(data[9][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_badan_lingkungan_hidup = Math.round(data[9][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_kependudukan = Math.round(data[10][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_kependudukan = Math.round(data[10][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_kependudukan = Math.round(data[10][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_kependudukan = Math.round(data[10][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_kependudukan = Math.round(data[10][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_kependudukan = Math.round(data[10][5]/1000000 *1e2)/1e2;

			var anggaran_modal_badan_pemberdayaan_perempuan = Math.round(data[11][0]/1000000 *1e2)/1e2;  
    		var realisasi_modal_badan_pemberdayaan_perempuan = Math.round(data[11][1]/1000000 *1e2)/1e2; 
    		var anggaran_pegawai_badan_pemberdayaan_perempuan = Math.round(data[11][2]/1000000 *1e2)/1e2; 
    		var realisasi_pegawai_badan_pemberdayaan_perempuan = Math.round(data[11][3]/1000000 *1e2)/1e2; 
    		var anggaran_barang_badan_pemberdayaan_perempuan = Math.round(data[11][4]/1000000 *1e2)/1e2; 
    		var realisasi_barang_badan_pemberdayaan_perempuan = Math.round(data[11][5]/1000000 *1e2)/1e2; 

    		var anggaran_modal_dinas_sosial = Math.round(data[12][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_sosial = Math.round(data[12][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_sosial = Math.round(data[12][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_sosial = Math.round(data[12][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_sosial = Math.round(data[12][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_sosial = Math.round(data[12][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_tenaga_kerja = Math.round(data[13][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_tenaga_kerja = Math.round(data[13][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_tenaga_kerja = Math.round(data[13][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_tenaga_kerja = Math.round(data[13][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_tenaga_kerja = Math.round(data[13][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_tenaga_kerja = Math.round(data[13][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_kooperasi = Math.round(data[14][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_kooperasi = Math.round(data[14][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_kooperasi = Math.round(data[14][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_kooperasi = Math.round(data[14][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_kooperasi = Math.round(data[14][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_kooperasi = Math.round(data[14][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_pemuda = Math.round(data[15][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_pemuda = Math.round(data[15][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pemuda = Math.round(data[15][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pemuda = Math.round(data[15][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pemuda = Math.round(data[15][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pemuda = Math.round(data[15][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_badan_kesatuan_bangsa = Math.round(data[16][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_badan_kesatuan_bangsa = Math.round(data[16][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_badan_kesatuan_bangsa = Math.round(data[16][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_badan_kesatuan_bangsa = Math.round(data[16][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_badan_kesatuan_bangsa = Math.round(data[16][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_badan_kesatuan_bangsa = Math.round(data[16][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kepala_daerah = Math.round(data[17][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kepala_daerah = Math.round(data[17][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kepala_daerah = Math.round(data[17][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kepala_daerah = Math.round(data[17][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kepala_daerah = Math.round(data[17][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kepala_daerah = Math.round(data[17][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dprd = Math.round(data[18][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dprd = Math.round(data[18][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dprd = Math.round(data[18][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dprd = Math.round(data[18][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dprd = Math.round(data[18][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dprd = Math.round(data[18][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_sekretariat_daerah = Math.round(data[19][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_sekretariat_daerah = Math.round(data[19][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_sekretariat_daerah = Math.round(data[19][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_sekretariat_daerah = Math.round(data[19][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_sekretariat_daerah = Math.round(data[19][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_sekretariat_daerah = Math.round(data[19][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_sekretariat_dprd = Math.round(data[20][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_sekretariat_dprd = Math.round(data[20][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_sekretariat_dprd = Math.round(data[20][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_sekretariat_dprd = Math.round(data[20][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_sekretariat_dprd = Math.round(data[20][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_sekretariat_dprd = Math.round(data[20][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_badan_perijinan_terpadu = Math.round(data[21][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_badan_perijinan_terpadu = Math.round(data[21][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_badan_perijinan_terpadu = Math.round(data[21][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_badan_perijinan_terpadu = Math.round(data[21][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_badan_perijinan_terpadu = Math.round(data[21][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_badan_perijinan_terpadu = Math.round(data[21][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_badan_kepegawaian = Math.round(data[22][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_badan_kepegawaian = Math.round(data[22][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_badan_kepegawaian = Math.round(data[22][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_badan_kepegawaian = Math.round(data[22][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_badan_kepegawaian = Math.round(data[22][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_badan_kepegawaian = Math.round(data[22][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_inspektorat_kabupaten = Math.round(data[23][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_inspektorat_kabupaten = Math.round(data[23][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_inspektorat_kabupaten = Math.round(data[23][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_inspektorat_kabupaten = Math.round(data[23][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_inspektorat_kabupaten = Math.round(data[23][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_inspektorat_kabupaten = Math.round(data[23][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_satpol_pp = Math.round(data[24][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_satpol_pp = Math.round(data[24][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_satpol_pp = Math.round(data[24][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_satpol_pp = Math.round(data[24][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_satpol_pp = Math.round(data[24][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_satpol_pp = Math.round(data[24][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_sooko = Math.round(data[25][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_sooko = Math.round(data[25][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_sooko = Math.round(data[25][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_sooko = Math.round(data[25][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_sooko = Math.round(data[25][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_sooko = Math.round(data[25][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_trowulan = Math.round(data[26][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_trowulan = Math.round(data[26][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_trowulan = Math.round(data[26][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_trowulan = Math.round(data[26][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_trowulan = Math.round(data[26][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_trowulan = Math.round(data[26][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_puri = Math.round(data[27][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_puri = Math.round(data[27][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_puri = Math.round(data[27][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_puri = Math.round(data[27][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_puri = Math.round(data[27][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_puri = Math.round(data[27][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_bangsal = Math.round(data[28][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_bangsal = Math.round(data[28][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_bangsal = Math.round(data[28][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_bangsal = Math.round(data[28][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_bangsal = Math.round(data[28][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_bangsal = Math.round(data[28][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_gedeg = Math.round(data[29][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_gedeg = Math.round(data[29][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_gedeg = Math.round(data[29][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_gedeg = Math.round(data[29][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_gedeg = Math.round(data[29][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_gedeg = Math.round(data[29][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_kemlagi = Math.round(data[30][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_kemlagi = Math.round(data[30][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_kemlagi = Math.round(data[30][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_kemlagi = Math.round(data[30][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_kemlagi = Math.round(data[30][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_kemlagi = Math.round(data[30][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_jetis = Math.round(data[31][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_jetis = Math.round(data[31][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_jetis = Math.round(data[31][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_jetis = Math.round(data[31][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_jetis = Math.round(data[31][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_jetis = Math.round(data[31][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_dawar = Math.round(data[32][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_dawar = Math.round(data[32][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_dawar = Math.round(data[32][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_dawar = Math.round(data[32][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_dawar = Math.round(data[32][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_dawar = Math.round(data[32][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_mojosari = Math.round(data[33][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_mojosari = Math.round(data[33][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_mojosari = Math.round(data[33][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_mojosari = Math.round(data[33][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_mojosari = Math.round(data[33][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_mojosari = Math.round(data[33][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_pungging = Math.round(data[34][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_pungging = Math.round(data[34][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_pungging = Math.round(data[34][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_pungging = Math.round(data[34][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_pungging = Math.round(data[34][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_pungging = Math.round(data[34][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_ngoro = Math.round(data[35][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_ngoro = Math.round(data[35][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_ngoro = Math.round(data[35][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_ngoro = Math.round(data[35][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_ngoro = Math.round(data[35][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_ngoro = Math.round(data[35][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_kutorejo = Math.round(data[36][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_kutorejo = Math.round(data[36][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_kutorejo = Math.round(data[36][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_kutorejo = Math.round(data[36][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_kutorejo = Math.round(data[36][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_kutorejo = Math.round(data[36][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_dlanggu = Math.round(data[37][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_dlanggu = Math.round(data[37][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_dlanggu = Math.round(data[37][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_dlanggu = Math.round(data[37][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_dlanggu = Math.round(data[37][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_dlanggu = Math.round(data[37][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_gondang = Math.round(data[38][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_gondang = Math.round(data[38][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_gondang = Math.round(data[38][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_gondang = Math.round(data[38][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_gondang = Math.round(data[38][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_gondang = Math.round(data[38][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_jatirejo = Math.round(data[39][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_jatirejo = Math.round(data[39][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_jatirejo = Math.round(data[39][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_jatirejo = Math.round(data[39][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_jatirejo = Math.round(data[39][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_jatirejo = Math.round(data[39][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_trawas = Math.round(data[40][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_trawas = Math.round(data[40][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_trawas = Math.round(data[40][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_trawas = Math.round(data[40][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_trawas = Math.round(data[40][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_trawas = Math.round(data[40][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_pacet = Math.round(data[41][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_pacet = Math.round(data[41][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_pacet = Math.round(data[41][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_pacet = Math.round(data[41][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_pacet = Math.round(data[41][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_pacet = Math.round(data[41][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kec_mojoanyar = Math.round(data[42][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kec_mojoanyar = Math.round(data[42][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kec_mojoanyar = Math.round(data[42][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kec_mojoanyar = Math.round(data[42][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kec_mojoanyar = Math.round(data[42][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kec_mojoanyar = Math.round(data[42][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_bpka = Math.round(data[43][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_bpka = Math.round(data[43][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_bpka = Math.round(data[43][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_bpka = Math.round(data[43][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_bpka = Math.round(data[43][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_bpka = Math.round(data[43][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_bpbd = Math.round(data[44][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_bpbd = Math.round(data[44][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_bpbd = Math.round(data[44][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_bpbd = Math.round(data[44][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_bpbd = Math.round(data[44][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_bpbd = Math.round(data[44][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_pendapatan = Math.round(data[45][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_pendapatan = Math.round(data[45][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pendapatan = Math.round(data[45][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pendapatan = Math.round(data[45][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pendapatan = Math.round(data[45][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pendapatan = Math.round(data[45][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kantor_ketahanan_pangan = Math.round(data[46][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kantor_ketahanan_pangan = Math.round(data[46][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kantor_ketahanan_pangan = Math.round(data[46][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kantor_ketahanan_pangan = Math.round(data[46][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kantor_ketahanan_pangan = Math.round(data[46][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kantor_ketahanan_pangan = Math.round(data[46][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_badan_pemberdayaan_masyarakat = Math.round(data[47][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_badan_pemberdayaan_masyarakat = Math.round(data[47][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_badan_pemberdayaan_masyarakat = Math.round(data[47][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_badan_pemberdayaan_masyarakat = Math.round(data[47][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_badan_pemberdayaan_masyarakat = Math.round(data[47][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_badan_pemberdayaan_masyarakat = Math.round(data[47][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_kantor_perpustakaan = Math.round(data[48][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_kantor_perpustakaan = Math.round(data[48][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_kantor_perpustakaan = Math.round(data[48][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_kantor_perpustakaan = Math.round(data[48][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_kantor_perpustakaan = Math.round(data[48][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_kantor_perpustakaan = Math.round(data[48][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_pertanian = Math.round(data[49][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_pertanian = Math.round(data[49][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_pertanian = Math.round(data[49][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_pertanian = Math.round(data[49][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_pertanian = Math.round(data[49][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_pertanian = Math.round(data[49][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_peternakan = Math.round(data[50][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_peternakan = Math.round(data[50][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_peternakan = Math.round(data[50][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_peternakan = Math.round(data[50][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_peternakan = Math.round(data[50][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_peternakan = Math.round(data[50][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_kehutanan = Math.round(data[51][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_kehutanan = Math.round(data[51][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_kehutanan = Math.round(data[51][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_kehutanan = Math.round(data[51][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_kehutanan = Math.round(data[51][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_kehutanan = Math.round(data[51][5]/1000000 *1e2)/1e2;

    		var anggaran_modal_dinas_perindustrian = Math.round(data[52][0]/1000000 *1e2)/1e2; 
    		var realisasi_modal_dinas_perindustrian = Math.round(data[52][1]/1000000 *1e2)/1e2;
    		var anggaran_pegawai_dinas_perindustrian = Math.round(data[52][2]/1000000 *1e2)/1e2;
    		var realisasi_pegawai_dinas_perindustrian = Math.round(data[52][3]/1000000 *1e2)/1e2;
    		var anggaran_barang_dinas_perindustrian = Math.round(data[52][4]/1000000 *1e2)/1e2;
    		var realisasi_barang_dinas_perindustrian = Math.round(data[52][5]/1000000 *1e2)/1e2;

    		
    		$('#realisasi-pembanding-chart').highcharts({
		        chart: {
		            type: 'bar'
		        },
		        title: {
		            text: 'Perbandingan LRA antar SKPD'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan', 'Dinas Kesehatan', 'RSUD. Prof. Dr. Soekandar', 'RSUD RA. Basoeni', 'Dinas PU Pengairan', 'Dinas PU Bina Marga', 'Dinas PU Cipta Karya dan Tata Ruang', 'BAPPEDA', 'Dinas Perhubungan, Komunikasi, dan Informatika', 'Badan Lingkungan Hidup', 'Dinas Kependudukan dan Catatan Sipil', 'Badan Pemberdayaan Perempuan dan KB', 'Dinas Sosial', 'Dinas Tenaga Kerja dan Transmigrasi', 'Dinas Kooperasi dan UKM', 'Dinas Pemuda, Olahraga, Kebudayaan, dan Pariwisata', 'Badan Kesatuan Bangsa dan Politik', 'Kepala Daerah dan WKDh', 'DPRD', 'Sekretariat Daerah', 'Sekretariat DPRD', 'Badan Perijinan Terpadu dan Penanaman Modal', 'Badan Kepegawaian, Pendidikan dan Pelatihan', 'Inspektorat Kabupaten', 'Satuan Polisi Pamong Praja', 'Kecamatan Sooko', 'Kecamatan Trowulan', 'Kecamatan Puri', 'Kecamatan Bangsal', 'Kecamatan Gedeg', 'Kecamatan Kemlagi', 'Kecamatan Jetis', 'Kecamatan Dawarblandong', 'Kecamatan Mojosari', 'Kecamatan Pungging', 'Kecamatan Ngoro', 'Kecamatan Kutorejo', 'Kecamatan Dlanggu', 'Kecamatan Gondang', 'Kecamatan Jatirejo', 'Kecamatan Trawas', 'Kecamatan Pacet', 'Kecamatan Mojoanyar', 'Badan Pengelolaan Keuangan dan Aset', 'Badan Penanggulangan Bencana Daerah', 'Dinas Pendapatan ', 'Kantor Ketahanan Pangan', 'Badan Pemberdayaan Masyarakat', 'Kantor Perpustakaan, Arsip, dan Dokumentasi', 'Dinas Pertanian', 'Dinas Peternakan dan Perikanan', 'Dinas Kehutanan dan Perkebunan', 'Dinas Perindustrian dan Perdagangan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }, 
		        },
		        tooltip: {
		            formatter: function () {
			            return 'Nilai: <b>' + n(this.point.nilai) + ' Juta</b>';
			        }
		        },
		        plotOptions: {
		            bar: {
	                    pointPadding: 0.1,
	                    borderWidth: 0,
		                dataLabels: {
		                    enabled: true
		                }
		            }, series: {
		                groupPadding: 0.05
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: 0,
		            y: 80,
		            floating: false,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        }, 
		        exporting: {
		                filename: 'Export chart',
		                chartOptions:{
		                    title:{
		                        text:'Perbandingan Realisasi Antar SKPD'
		                    }
		                }, buttons: {
		                    exportButton: {
		                        menuItems: [{
		                            text: 'Export Chart'
		                        }, 
		                        { 
		                            text: 'Print Chart',
		                            onclick: function () {
		                            	chart.print();
		                            }
		                        },
		                    null,
		                    null]
		                }
		            }
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Realisasi Barang dan Jasa',
		            data: [{y: persen_realisasi_barang[0], nilai: realisasi_barang_dinas_pendidikan}, {y: persen_realisasi_barang[1], nilai: realisasi_barang_dinas_kesehatan}, {y: persen_realisasi_barang[2], nilai: realisasi_barang_rsud_soekandar}, {y: persen_realisasi_barang[3], nilai: realisasi_barang_rsud_basoeni}, {y: persen_realisasi_barang[4], nilai: realisasi_barang_dinas_pu_pengairan}, {y: persen_realisasi_barang[5], nilai: realisasi_barang_dinas_pu_bina_marga}, {y: persen_realisasi_barang[6], nilai: realisasi_barang_dinas_pu_cipta_karya}, {y: persen_realisasi_barang[7], nilai: realisasi_barang_bappeda}, {y: persen_realisasi_barang[8], nilai: realisasi_barang_dinas_perhubungan}, {y: persen_realisasi_barang[9], nilai: realisasi_barang_badan_lingkungan_hidup}, {y: persen_realisasi_barang[10], nilai: realisasi_barang_dinas_kependudukan}, {y: persen_realisasi_barang[11], nilai: realisasi_barang_badan_pemberdayaan_perempuan}, {y: persen_realisasi_barang[12], nilai: realisasi_barang_dinas_sosial}, {y: persen_realisasi_barang[13], nilai: realisasi_barang_dinas_tenaga_kerja}, {y: persen_realisasi_barang[14], nilai: realisasi_barang_dinas_kooperasi}, {y: persen_realisasi_barang[15], nilai: realisasi_barang_dinas_pemuda}, {y: persen_realisasi_barang[16], nilai: realisasi_barang_badan_kesatuan_bangsa}, {y: persen_realisasi_barang[17], nilai: realisasi_barang_kepala_daerah}, {y: persen_realisasi_barang[18], nilai: realisasi_barang_dprd}, {y: persen_realisasi_barang[19], nilai: realisasi_barang_sekretariat_daerah}, {y: persen_realisasi_barang[20], nilai: realisasi_barang_sekretariat_dprd}, {y: persen_realisasi_barang[21], nilai: realisasi_barang_badan_perijinan_terpadu}, {y: persen_realisasi_barang[22], nilai: realisasi_barang_badan_kepegawaian}, {y: persen_realisasi_barang[23], nilai: realisasi_barang_inspektorat_kabupaten}, {y: persen_realisasi_barang[24], nilai: realisasi_barang_satpol_pp}, {y: persen_realisasi_barang[25], nilai: realisasi_barang_kec_sooko}, {y: persen_realisasi_barang[26], nilai: realisasi_barang_kec_trowulan}, {y: persen_realisasi_barang[27], nilai: realisasi_barang_kec_puri}, {y: persen_realisasi_barang[28], nilai: realisasi_barang_kec_bangsal}, {y: persen_realisasi_barang[29], nilai: realisasi_barang_kec_gedeg}, {y: persen_realisasi_barang[30], nilai: realisasi_barang_kec_kemlagi}, {y: persen_realisasi_barang[31], nilai: realisasi_barang_kec_jetis}, {y: persen_realisasi_barang[32], nilai: realisasi_barang_kec_dawar}, {y: persen_realisasi_barang[33], nilai: realisasi_barang_kec_mojosari}, {y: persen_realisasi_barang[34], nilai: realisasi_barang_kec_pungging}, {y: persen_realisasi_barang[35], nilai: realisasi_barang_kec_ngoro}, {y: persen_realisasi_barang[36], nilai: realisasi_barang_kec_kutorejo}, {y: persen_realisasi_barang[37], nilai: realisasi_barang_kec_dlanggu}, {y: persen_realisasi_barang[38], nilai: realisasi_barang_kec_gondang}, {y: persen_realisasi_barang[39], nilai: realisasi_barang_kec_jatirejo}, {y: persen_realisasi_barang[40], nilai: realisasi_barang_kec_trawas}, {y: persen_realisasi_barang[41], nilai: realisasi_barang_kec_pacet}, {y: persen_realisasi_barang[42], nilai: realisasi_barang_kec_mojoanyar}, {y: persen_realisasi_barang[43], nilai: realisasi_barang_bpka}, {y: persen_realisasi_barang[44], nilai: realisasi_barang_bpbd}, {y: persen_realisasi_barang[45], nilai: realisasi_barang_dinas_pendapatan}, {y: persen_realisasi_barang[46], nilai: realisasi_barang_kantor_ketahanan_pangan}, {y: persen_realisasi_barang[47], nilai: realisasi_barang_badan_pemberdayaan_masyarakat}, {y: persen_realisasi_barang[48], nilai: realisasi_barang_kantor_perpustakaan}, {y: persen_realisasi_barang[49], nilai: realisasi_barang_dinas_pertanian}, {y: persen_realisasi_barang[50], nilai: realisasi_barang_dinas_peternakan}, {y: persen_realisasi_barang[51], nilai: realisasi_barang_dinas_kehutanan}, {y: persen_realisasi_barang[52], nilai: realisasi_barang_dinas_perindustrian}],
		            legendIndex:5
		        }, {
		            name: 'Anggaran Barang dan Jasa',
		            data: [{y: 100, nilai: anggaran_barang_dinas_pendidikan}, {y: 100, nilai: anggaran_barang_dinas_kesehatan}, {y: 100, nilai: anggaran_barang_rsud_soekandar}, {y: 100, nilai: anggaran_barang_rsud_basoeni}, {y: 100, nilai: anggaran_barang_dinas_pu_pengairan}, {y: 100, nilai: anggaran_barang_dinas_pu_bina_marga}, {y: 100, nilai: anggaran_barang_dinas_pu_cipta_karya}, {y: 100, nilai: anggaran_barang_bappeda}, {y: 100, nilai: anggaran_barang_dinas_perhubungan}, {y: 100, nilai: anggaran_barang_badan_lingkungan_hidup}, {y: 100, nilai: anggaran_barang_dinas_kependudukan}, {y: 100, nilai: anggaran_barang_badan_pemberdayaan_perempuan}, {y: 100, nilai: anggaran_barang_dinas_sosial}, {y: 100, nilai: anggaran_barang_dinas_tenaga_kerja}, {y: 100, nilai: anggaran_barang_dinas_kooperasi}, {y: 100, nilai: anggaran_barang_dinas_pemuda}, {y: 100, nilai: anggaran_barang_badan_kesatuan_bangsa}, {y: 100, nilai: anggaran_barang_kepala_daerah}, {y: 100, nilai: anggaran_barang_dprd}, {y: 100, nilai: anggaran_barang_sekretariat_daerah}, {y: 100, nilai: anggaran_barang_sekretariat_dprd}, {y: 100, nilai: anggaran_barang_badan_perijinan_terpadu}, {y: 100, nilai: anggaran_barang_badan_kepegawaian}, {y: 100, nilai: anggaran_barang_inspektorat_kabupaten}, {y: 100, nilai: anggaran_barang_satpol_pp}, {y: 100, nilai: anggaran_barang_kec_sooko}, {y: 100, nilai: anggaran_barang_kec_trowulan}, {y: 100, nilai: anggaran_barang_kec_puri}, {y: 100, nilai: anggaran_barang_kec_bangsal}, {y: 100, nilai: anggaran_barang_kec_gedeg}, {y: 100, nilai: anggaran_barang_kec_kemlagi}, {y: 100, nilai: anggaran_barang_kec_jetis}, {y: 100, nilai: anggaran_barang_kec_dawar}, {y: 100, nilai: anggaran_barang_kec_mojosari}, {y: 100, nilai: anggaran_barang_kec_pungging}, {y: 100, nilai: anggaran_barang_kec_ngoro}, {y: 100, nilai: anggaran_barang_kec_kutorejo}, {y: 100, nilai: anggaran_barang_kec_dlanggu}, {y: 100, nilai: anggaran_barang_kec_gondang}, {y: 100, nilai: anggaran_barang_kec_jatirejo}, {y: 100, nilai: anggaran_barang_kec_trawas}, {y: 100, nilai: anggaran_barang_kec_pacet}, {y: 100, nilai: anggaran_barang_kec_mojoanyar}, {y: 100, nilai: anggaran_barang_bpka}, {y: 100, nilai: anggaran_barang_bpbd}, {y: 100, nilai: anggaran_barang_dinas_pendapatan}, {y: 100, nilai: anggaran_barang_kantor_ketahanan_pangan}, {y: 100, nilai: anggaran_barang_badan_pemberdayaan_masyarakat}, {y: 100, nilai: anggaran_barang_kantor_perpustakaan}, {y: 100, nilai: anggaran_barang_dinas_pertanian}, {y: 100, nilai: anggaran_barang_dinas_peternakan}, {y: 100, nilai: anggaran_barang_dinas_kehutanan}, {y: 100, nilai: anggaran_barang_dinas_perindustrian}],
		            legendIndex:4
		        }, {
		            name: 'Realisasi Pegawai',
		            data: [{y: persen_realisasi_pegawai[0], nilai: realisasi_pegawai_dinas_pendidikan}, {y: persen_realisasi_pegawai[1], nilai: realisasi_pegawai_dinas_kesehatan}, {y: persen_realisasi_pegawai[2], nilai: realisasi_pegawai_rsud_soekandar}, {y: persen_realisasi_pegawai[3], nilai: realisasi_pegawai_rsud_basoeni}, {y: persen_realisasi_pegawai[4], nilai: realisasi_pegawai_dinas_pu_pengairan}, {y: persen_realisasi_pegawai[5], nilai: realisasi_pegawai_dinas_pu_bina_marga}, {y: persen_realisasi_pegawai[6], nilai: realisasi_pegawai_dinas_pu_cipta_karya}, {y: persen_realisasi_pegawai[7], nilai: realisasi_pegawai_bappeda}, {y: persen_realisasi_pegawai[8], nilai: realisasi_pegawai_dinas_perhubungan}, {y: persen_realisasi_pegawai[9], nilai: realisasi_pegawai_badan_lingkungan_hidup}, {y: persen_realisasi_pegawai[10], nilai: realisasi_pegawai_dinas_kependudukan}, {y: persen_realisasi_pegawai[11], nilai: realisasi_pegawai_badan_pemberdayaan_perempuan}, {y: persen_realisasi_pegawai[12], nilai: realisasi_pegawai_dinas_sosial}, {y: persen_realisasi_pegawai[13], nilai: realisasi_pegawai_dinas_tenaga_kerja}, {y: persen_realisasi_pegawai[14], nilai: realisasi_pegawai_dinas_kooperasi}, {y: persen_realisasi_pegawai[15], nilai: realisasi_pegawai_dinas_pemuda}, {y: persen_realisasi_pegawai[16], nilai: realisasi_pegawai_badan_kesatuan_bangsa}, {y: persen_realisasi_pegawai[17], nilai: realisasi_pegawai_kepala_daerah}, {y: persen_realisasi_pegawai[18], nilai: realisasi_pegawai_dprd}, {y: persen_realisasi_pegawai[19], nilai: realisasi_pegawai_sekretariat_daerah}, {y: persen_realisasi_pegawai[20], nilai: realisasi_pegawai_sekretariat_dprd}, {y: persen_realisasi_pegawai[21], nilai: realisasi_pegawai_badan_perijinan_terpadu}, {y: persen_realisasi_pegawai[22], nilai: realisasi_pegawai_badan_kepegawaian}, {y: persen_realisasi_pegawai[23], nilai: realisasi_pegawai_inspektorat_kabupaten}, {y: persen_realisasi_pegawai[24], nilai: realisasi_pegawai_satpol_pp}, {y: persen_realisasi_pegawai[25], nilai: realisasi_pegawai_kec_sooko}, {y: persen_realisasi_pegawai[26], nilai: realisasi_pegawai_kec_trowulan}, {y: persen_realisasi_pegawai[27], nilai: realisasi_pegawai_kec_puri}, {y: persen_realisasi_pegawai[28], nilai: realisasi_pegawai_kec_bangsal}, {y: persen_realisasi_pegawai[29], nilai: realisasi_pegawai_kec_gedeg}, {y: persen_realisasi_pegawai[30], nilai: realisasi_pegawai_kec_kemlagi}, {y: persen_realisasi_pegawai[31], nilai: realisasi_pegawai_kec_jetis}, {y: persen_realisasi_pegawai[32], nilai: realisasi_pegawai_kec_dawar}, {y: persen_realisasi_pegawai[33], nilai: realisasi_pegawai_kec_mojosari}, {y: persen_realisasi_pegawai[34], nilai: realisasi_pegawai_kec_pungging}, {y: persen_realisasi_pegawai[35], nilai: realisasi_pegawai_kec_ngoro}, {y: persen_realisasi_pegawai[36], nilai: realisasi_pegawai_kec_kutorejo}, {y: persen_realisasi_pegawai[37], nilai: realisasi_pegawai_kec_dlanggu}, {y: persen_realisasi_pegawai[38], nilai: realisasi_pegawai_kec_gondang}, {y: persen_realisasi_pegawai[39], nilai: realisasi_pegawai_kec_jatirejo}, {y: persen_realisasi_pegawai[40], nilai: realisasi_pegawai_kec_trawas}, {y: persen_realisasi_pegawai[41], nilai: realisasi_pegawai_kec_pacet}, {y: persen_realisasi_pegawai[42], nilai: realisasi_pegawai_kec_mojoanyar}, {y: persen_realisasi_pegawai[43], nilai: realisasi_pegawai_bpka}, {y: persen_realisasi_pegawai[44], nilai: realisasi_pegawai_bpbd}, {y: persen_realisasi_pegawai[45], nilai: realisasi_pegawai_dinas_pendapatan}, {y: persen_realisasi_pegawai[46], nilai: realisasi_pegawai_kantor_ketahanan_pangan}, {y: persen_realisasi_pegawai[47], nilai: realisasi_pegawai_badan_pemberdayaan_masyarakat}, {y: persen_realisasi_pegawai[48], nilai: realisasi_pegawai_kantor_perpustakaan}, {y: persen_realisasi_pegawai[49], nilai: realisasi_pegawai_dinas_pertanian}, {y: persen_realisasi_pegawai[50], nilai: realisasi_pegawai_dinas_peternakan}, {y: persen_realisasi_pegawai[51], nilai: realisasi_pegawai_dinas_kehutanan}, {y: persen_realisasi_pegawai[52], nilai: realisasi_pegawai_dinas_perindustrian}],
		            legendIndex:3
		        }, {
		            name: 'Anggaran Pegawai',
		            data: [{y: 100, nilai: anggaran_pegawai_dinas_pendidikan}, {y: 100, nilai: anggaran_pegawai_dinas_kesehatan}, {y: 100, nilai: anggaran_pegawai_rsud_soekandar}, {y: 100, nilai: anggaran_pegawai_rsud_basoeni}, {y: 100, nilai: anggaran_pegawai_dinas_pu_pengairan}, {y: 100, nilai: anggaran_pegawai_dinas_pu_bina_marga}, {y: 100, nilai: anggaran_pegawai_dinas_pu_cipta_karya}, {y: 100, nilai: anggaran_pegawai_bappeda}, {y: 100, nilai: anggaran_pegawai_dinas_perhubungan}, {y: 100, nilai: anggaran_pegawai_badan_lingkungan_hidup}, {y: 100, nilai: anggaran_pegawai_dinas_kependudukan}, {y: 100, nilai: anggaran_pegawai_badan_pemberdayaan_perempuan}, {y: 100, nilai: anggaran_pegawai_dinas_sosial}, {y: 100, nilai: anggaran_pegawai_dinas_tenaga_kerja}, {y: 100, nilai: anggaran_pegawai_dinas_kooperasi}, {y: 100, nilai: anggaran_pegawai_dinas_pemuda}, {y: 100, nilai: anggaran_pegawai_badan_kesatuan_bangsa}, {y: 100, nilai: anggaran_pegawai_kepala_daerah}, {y: 100, nilai: anggaran_pegawai_dprd}, {y: 100, nilai: anggaran_pegawai_sekretariat_daerah}, {y: 100, nilai: anggaran_pegawai_sekretariat_dprd}, {y: 100, nilai: anggaran_pegawai_badan_perijinan_terpadu}, {y: 100, nilai: anggaran_pegawai_badan_kepegawaian}, {y: 100, nilai: anggaran_pegawai_inspektorat_kabupaten}, {y: 100, nilai: anggaran_pegawai_satpol_pp}, {y: 100, nilai: anggaran_pegawai_kec_sooko}, {y: 100, nilai: anggaran_pegawai_kec_trowulan}, {y: 100, nilai: anggaran_pegawai_kec_puri}, {y: 100, nilai: anggaran_pegawai_kec_bangsal}, {y: 100, nilai: anggaran_pegawai_kec_gedeg}, {y: 100, nilai: anggaran_pegawai_kec_kemlagi}, {y: 100, nilai: anggaran_pegawai_kec_jetis}, {y: 100, nilai: anggaran_pegawai_kec_dawar}, {y: 100, nilai: anggaran_pegawai_kec_mojosari}, {y: 100, nilai: anggaran_pegawai_kec_pungging}, {y: 100, nilai: anggaran_pegawai_kec_ngoro}, {y: 100, nilai: anggaran_pegawai_kec_kutorejo}, {y: 100, nilai: anggaran_pegawai_kec_dlanggu}, {y: 100, nilai: anggaran_pegawai_kec_gondang}, {y: 100, nilai: anggaran_pegawai_kec_jatirejo}, {y: 100, nilai: anggaran_pegawai_kec_trawas}, {y: 100, nilai: anggaran_pegawai_kec_pacet}, {y: 100, nilai: anggaran_pegawai_kec_mojoanyar}, {y: 100, nilai: anggaran_pegawai_bpka}, {y: 100, nilai: anggaran_pegawai_bpbd}, {y: 100, nilai: anggaran_pegawai_dinas_pendapatan}, {y: 100, nilai: anggaran_pegawai_kantor_ketahanan_pangan}, {y: 100, nilai: anggaran_pegawai_badan_pemberdayaan_masyarakat}, {y: 100, nilai: anggaran_pegawai_kantor_perpustakaan}, {y: 100, nilai: anggaran_pegawai_dinas_pertanian}, {y: 100, nilai: anggaran_pegawai_dinas_peternakan}, {y: 100, nilai: anggaran_pegawai_dinas_kehutanan}, {y: 100, nilai: anggaran_pegawai_dinas_perindustrian}],
		            legendIndex:2
		        }, {
		            name: 'Realisasi Modal',
		            data: [{y: persen_realisasi_modal[0], nilai: realisasi_modal_dinas_pendidikan}, {y: persen_realisasi_modal[1], nilai: realisasi_modal_dinas_kesehatan}, {y: persen_realisasi_modal[2], nilai: realisasi_modal_rsud_soekandar}, {y: persen_realisasi_modal[3], nilai: realisasi_modal_rsud_basoeni}, {y: persen_realisasi_modal[4], nilai: realisasi_modal_dinas_pu_pengairan}, {y: persen_realisasi_modal[5], nilai: realisasi_modal_dinas_pu_bina_marga}, {y: persen_realisasi_modal[6], nilai: realisasi_modal_dinas_pu_cipta_karya}, {y: persen_realisasi_modal[7], nilai: realisasi_modal_bappeda}, {y: persen_realisasi_modal[8], nilai: realisasi_modal_dinas_perhubungan}, {y: persen_realisasi_modal[9], nilai: realisasi_modal_badan_lingkungan_hidup}, {y: persen_realisasi_modal[10], nilai: realisasi_modal_dinas_kependudukan}, {y: persen_realisasi_modal[11], nilai: realisasi_modal_badan_pemberdayaan_perempuan}, {y: persen_realisasi_modal[12], nilai: realisasi_modal_dinas_sosial}, {y: persen_realisasi_modal[13], nilai: realisasi_modal_dinas_tenaga_kerja}, {y: persen_realisasi_modal[14], nilai: realisasi_modal_dinas_kooperasi}, {y: persen_realisasi_modal[15], nilai: realisasi_modal_dinas_pemuda}, {y: persen_realisasi_modal[16], nilai: realisasi_modal_badan_kesatuan_bangsa}, {y: persen_realisasi_modal[17], nilai: realisasi_modal_kepala_daerah}, {y: persen_realisasi_modal[18], nilai: realisasi_modal_dprd}, {y: persen_realisasi_modal[19], nilai: realisasi_modal_sekretariat_daerah}, {y: persen_realisasi_modal[20], nilai: realisasi_modal_sekretariat_dprd}, {y: persen_realisasi_modal[21], nilai: realisasi_modal_badan_perijinan_terpadu}, {y: persen_realisasi_modal[22], nilai: realisasi_modal_badan_kepegawaian}, {y: persen_realisasi_modal[23], nilai: realisasi_modal_inspektorat_kabupaten}, {y: persen_realisasi_modal[24], nilai: realisasi_modal_satpol_pp}, {y: persen_realisasi_modal[25], nilai: realisasi_modal_kec_sooko}, {y: persen_realisasi_modal[26], nilai: realisasi_modal_kec_trowulan}, {y: persen_realisasi_modal[27], nilai: realisasi_modal_kec_puri}, {y: persen_realisasi_modal[28], nilai: realisasi_modal_kec_bangsal}, {y: persen_realisasi_modal[29], nilai: realisasi_modal_kec_gedeg}, {y: persen_realisasi_modal[30], nilai: realisasi_modal_kec_kemlagi}, {y: persen_realisasi_modal[31], nilai: realisasi_modal_kec_jetis}, {y: persen_realisasi_modal[32], nilai: realisasi_modal_kec_dawar}, {y: persen_realisasi_modal[33], nilai: realisasi_modal_kec_mojosari}, {y: persen_realisasi_modal[34], nilai: realisasi_modal_kec_pungging}, {y: persen_realisasi_modal[35], nilai: realisasi_modal_kec_ngoro}, {y: persen_realisasi_modal[36], nilai: realisasi_modal_kec_kutorejo}, {y: persen_realisasi_modal[37], nilai: realisasi_modal_kec_dlanggu}, {y: persen_realisasi_modal[38], nilai: realisasi_modal_kec_gondang}, {y: persen_realisasi_modal[39], nilai: realisasi_modal_kec_jatirejo}, {y: persen_realisasi_modal[40], nilai: realisasi_modal_kec_trawas}, {y: persen_realisasi_modal[41], nilai: realisasi_modal_kec_pacet}, {y: persen_realisasi_modal[42], nilai: realisasi_modal_kec_mojoanyar}, {y: persen_realisasi_modal[43], nilai: realisasi_modal_bpka}, {y: persen_realisasi_modal[44], nilai: realisasi_modal_bpbd}, {y: persen_realisasi_modal[45], nilai: realisasi_modal_dinas_pendapatan}, {y: persen_realisasi_modal[46], nilai: realisasi_modal_kantor_ketahanan_pangan}, {y: persen_realisasi_modal[47], nilai: realisasi_modal_badan_pemberdayaan_masyarakat}, {y: persen_realisasi_modal[48], nilai: realisasi_modal_kantor_perpustakaan}, {y: persen_realisasi_modal[49], nilai: realisasi_modal_dinas_pertanian}, {y: persen_realisasi_modal[50], nilai: realisasi_modal_dinas_peternakan}, {y: persen_realisasi_modal[51], nilai: realisasi_modal_dinas_kehutanan}, {y: persen_realisasi_modal[52], nilai: realisasi_modal_dinas_perindustrian}],
		            legendIndex:1
		        }, {
		            name: 'Anggaran Modal',
		            data: [{y: 100, nilai: anggaran_modal_dinas_pendidikan}, {y: 100, nilai: anggaran_modal_dinas_kesehatan}, {y: 100, nilai: anggaran_modal_rsud_soekandar}, {y: 100, nilai: anggaran_modal_rsud_basoeni}, {y: 100, nilai: anggaran_modal_dinas_pu_pengairan}, {y: 100, nilai: anggaran_modal_dinas_pu_bina_marga}, {y: 100, nilai: anggaran_modal_dinas_pu_cipta_karya}, {y: 100, nilai: anggaran_modal_bappeda}, {y: 100, nilai: anggaran_modal_dinas_perhubungan}, {y: 100, nilai: anggaran_modal_badan_lingkungan_hidup}, {y: 100, nilai: anggaran_modal_dinas_kependudukan}, {y: 100, nilai: anggaran_modal_badan_pemberdayaan_perempuan}, {y: 100, nilai: anggaran_modal_dinas_sosial}, {y: 100, nilai: anggaran_modal_dinas_tenaga_kerja}, {y: 100, nilai: anggaran_modal_dinas_kooperasi}, {y: 100, nilai: anggaran_modal_dinas_pemuda}, {y: 100, nilai: anggaran_modal_badan_kesatuan_bangsa}, {y: 100, nilai: anggaran_modal_kepala_daerah}, {y: 100, nilai: anggaran_modal_dprd}, {y: 100, nilai: anggaran_modal_sekretariat_daerah}, {y: 100, nilai: anggaran_modal_sekretariat_dprd}, {y: 100, nilai: anggaran_modal_badan_perijinan_terpadu}, {y: 100, nilai: anggaran_modal_badan_kepegawaian}, {y: 100, nilai: anggaran_modal_inspektorat_kabupaten}, {y: 100, nilai: anggaran_modal_satpol_pp}, {y: 100, nilai: anggaran_modal_kec_sooko}, {y: 100, nilai: anggaran_modal_kec_trowulan}, {y: 100, nilai: anggaran_modal_kec_puri}, {y: 100, nilai: anggaran_modal_kec_bangsal}, {y: 100, nilai: anggaran_modal_kec_gedeg}, {y: 100, nilai: anggaran_modal_kec_kemlagi}, {y: 100, nilai: anggaran_modal_kec_jetis}, {y: 100, nilai: anggaran_modal_kec_dawar}, {y: 100, nilai: anggaran_modal_kec_mojosari}, {y: 100, nilai: anggaran_modal_kec_pungging}, {y: 100, nilai: anggaran_modal_kec_ngoro}, {y: 100, nilai: anggaran_modal_kec_kutorejo}, {y: 100, nilai: anggaran_modal_kec_dlanggu}, {y: 100, nilai: anggaran_modal_kec_gondang}, {y: 100, nilai: anggaran_modal_kec_jatirejo}, {y: 100, nilai: anggaran_modal_kec_trawas}, {y: 100, nilai: anggaran_modal_kec_pacet}, {y: 100, nilai: anggaran_modal_kec_mojoanyar}, {y: 100, nilai: anggaran_modal_bpka}, {y: 100, nilai: anggaran_modal_bpbd}, {y: 100, nilai: anggaran_modal_dinas_pendapatan}, {y: 100, nilai: anggaran_modal_kantor_ketahanan_pangan}, {y: 100, nilai: anggaran_modal_badan_pemberdayaan_masyarakat}, {y: 100, nilai: anggaran_modal_kantor_perpustakaan}, {y: 100, nilai: anggaran_modal_dinas_pertanian}, {y: 100, nilai: anggaran_modal_dinas_peternakan}, {y: 100, nilai: anggaran_modal_dinas_kehutanan}, {y: 100, nilai: anggaran_modal_dinas_perindustrian}],
		            legendIndex:0
		        }]
		    });
			
			$("body").unmask();
		}, "json");

		$.post("{{ site_url('aset/get_saldo_current') }}", {}, function(json){
    		var tanah = Math.round(json.tanah/1000000 * 1e2 )/1e2;
    		var mesin = Math.round(json.mesin/1000000 * 1e2)/1e2;
    		var gedung = Math.round(json.gedung/1000000 * 1e2)/1e2;
    		var jalan = Math.round(json.jalan/1000000 * 1e2)/1e2;
    		var buku = Math.round(json.buku/1000000 * 1e2)/1e2;
    		var kdp = Math.round(json.kdp/1000000 * 1e2)/1e2;
    		var software = Math.round(json.software/1000000 * 1e2)/1e2;

    		$('#saldo-current-chart').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Saldo Current'
		        },
		        xAxis: {
		            categories: ['Dinas Pendidikan'],
		            title: {
		                text: null
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Jumlah',
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: ' juta'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            }
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'top',
		            x: -40,
		            y: 80,
		            floating: true,
		            borderWidth: 1,
		            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		            shadow: true
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
		            name: 'Tanah',
		            data: [tanah]
		        }, {
		            name: 'Peralatan dan Mesin',
		            data: [mesin]
		        }, {
		            name: 'Gedung dan Bangunan',
		            data: [gedung]
		        }, {
		            name: 'Jalan, Jembatan, Instalasi, dan Jaringan',
		            data: [jalan]
		        }, {
		            name: 'Buku, Barang Bercorak Kebudayaan, Hewan, dan Tanaman',
		            data: [buku]
		        }, {
		            name: 'Konstruksi Dalam Pengerjaan',
		            data: [kdp]
		        }, {
		            name: 'Aset Tidak Berwujud',
		            data: [software]
		        }]
		    });
		}, "json");

	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">		

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
	</style>
{% endblock %}