<div class="modal fade" id="persiapan-cetak-sppb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Parameter Dokumen</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="persiapan-cetak-form">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Alamat Unit<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="alamat-unit" name="alamat-unit" placeholder="Alamat" data-rule-required="true">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Dari<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="dari" name="dari" placeholder="Dari" data-rule-required="true">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Kepada<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="kepada" name="kepada" placeholder="Bidang" data-rule-required="true">
                                </div>
                                <div class="form-group col-md-12">
                                    <!--<label class="control-label">&nbsp;</label>-->
                                    <input type="text" class="form-control searchable" id="alamat-kepada" name="alamat-kepada" placeholder="Alamat" data-rule-required="true">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Pengurus Barang<strong>*</strong></label>
                                    <input type="text" class="form-control searchable" id="nama-pengurus" name="nama-pengurus" placeholder="Nama" data-rule-required="true">
                                </div>
                                <div class="form-group col-md-12">
                                    <!--<label class="control-label">&nbsp;</label>-->
                                    <input type="text" class="form-control searchable" id="nip-pengurus" name="nip-pengurus" placeholder="NIP" data-rule-required="true">
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id = "batal" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" id = "lakukan-cetak-sppb" name="lakukan-cetak-sppb" class="btn btn-primary">Cetak</button>
			</div>
		</div>
	</div>
</div>