<div class="modal fade" id="tambah-pengadaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tambahkan Barang Baru</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form role="form" id="tambah-pengadaan-form">
							<div class="form-group">
								<label class="control-label">Kode Barang<strong>*</strong></label>
								<input type="text" class="form-control searchable" id="kode-barang" name="kode-barang" placeholder="Masukkan kode barang" data-rule-required="true">
							</div>
							<div class="form-group">
								<label class="control-label">Nama Barang<strong>*</strong></label>
								<input type="text" class="form-control searchable" id="nama-barang" name="nama-barang" placeholder="Masukkan nama barang" data-rule-required="true">
							</div>
							<div class="form-group">
								<label class="control-label">Merk<strong>*</strong></label>
								<input type="text" class="form-control" id="merk" name="merk" value="" placeholder="Masukkan merk barang" data-rule-required="true">
							</div> 
							<div class="form-group">
								<label class="control-label">Jumlah Barang<strong>*</strong></label>
								<input type="number" class="form-control" id="jumlah-barang" name="jumlah-barang" value="" placeholder="Masukkan jumlah barang" data-rule-required="true">
							</div> 
							<div class="form-group">
								<label class="control-label">Satuan<strong>*</strong></label>
								<input type="text" class="form-control" id="satuan" name="satuan" value="" placeholder="Masukkan satuan" data-rule-required="true">
							</div>
							<div class="form-group">
								<label class="control-label">Harga Satuan<strong>*</strong></label>
								<input type="number" class="form-control" id="harga-satuan" value="" placeholder="Masukkan harga satuan" data-rule-required="true">
							</div>
							<div class="form-group">
								<label class="control-label">Harga-Total<strong>*</strong></label>
								<input type="number" class="form-control" id="harga-total" name="harga-total" value="" placeholder="Masukkan harga total" data-rule-required="true">
							</div>
							<div class="form-group">
								<label class="control-label">Keterangan</label>
									<textarea class="form-control" style="width:calc(100% - 27px); height:auto !important; resize:none;" rows="5" id="keterangan-detail" name="keterangan" placeholder="Keterangan barang">
									</textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" name="batal" class="btn btn-default" data-dismiss="modal">Batal</button>
				<button type="button" name="simpan" class="btn btn-primary">Tambahkan</button>
			</div>
		</div>
	</div>
</div>