{% extends "_templates/adminpage.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-12">
				<p class="bg-danger" style="height:20px; padding:10px; font-weight:bold;">Back up database dulu sebelum melakukan perubahan kepemilikan</p>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-4">
					<label>SKPD</label>
					<select type="text" name="nomor_unit" class="form-control">
						<option value="">Pilih SKPD</option>
					</select>
				</div>
				<div class="col-xs-2">
					<button id="do_ekstrakom" name="do_ekstrakom" type="button" class="btn btn-success" style="float:left;">Ubah Kepemilikan</button>
				</div>
			</div>
		</div>
		<div class="row" name="sub-unit" style="display:none">
			<div class="col-xs-12">
				<div class="col-xs-5">
					<label>SUB UNIT</label>
					<select type="text" name="nomor_sub_unit" class="form-control">
						<option value="">Pilih SUB UNIT</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	var content = $("#content");

    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

		//menampilkan list SKPD
		$.get("{{ site_url('aset/list_skpd') }}", {}, function(json){ 
			var listSkpd = json.result;
			
			$.each(listSkpd, function (key, value) {
				$("select[name=nomor_unit]").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
			});

			//$("select[name=nomor_unit]").val("{{ data.NOMOR_UNIT }}");
			$("select[name=nomor_unit]").select2();

			//reload_skpd();
			var user = $("#user").text();

			if (user != 'Administrator') {
				$.post("{{ site_url('aset/get_skpd_user') }}", {user:user}, function(json){ 
					var skpd_user = json.data;
					var oid = skpd_user.oid;
					//console.log(skpd_user);

					$.post("{{ site_url('aset/get_skpd_organisasi') }}", {oid:oid}, function(json){ 
						var skpd_organisasi = json.data;
						var skpd_name = skpd_organisasi.oname;
						
						$.post("{{ site_url('aset/get_skpd_val') }}", {skpd_name:skpd_name}, function(json){ 
							var skpd_val = json.data;
			
							//untuk mengubah data select 2 jangan lupa tambahkan ini >> .trigger('change');
							$('select[name="nomor_unit"]').val(skpd_val.NOMOR_UNIT).trigger('change');
							$('select[name="nomor_unit"]').prop( "disabled", true );           
							
						}, "json");
						
						
					}, "json");
				}, "json");
			}

		}, "json");

		//load sub unit (khusus dinas pendidikan dan dinas kesehatan)
		$("select[name=nomor_unit]").change(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();

			if(nomor_unit === "13.10.08.01" || nomor_unit === "13.10.07.01") {
				load_sub_unit();
				$('div[name="sub-unit"]').show();
			} else {
				$("select[name=nomor_sub_unit]").val("");
				$('div[name="sub-unit"]').hide();
			}
		});

		var load_sub_unit = function(callback) {
			$("body").mask("Processing...");
			var nomor_unit = $("select[name=nomor_unit]").val();

			$.post("{{ site_url('aset/get_list_sub_unit') }}", {
				nomor_unit: nomor_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=nomor_sub_unit]");

				el.empty();
				el.append("<option value=''>Pilih Sub Unit</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.NOMOR_SUB_UNIT).html(k.NOMOR_SUB_UNIT + " | " + k.NAMA_SUB_UNIT));
					// el.append("<option value='{0}'>{1}</option>".format(k.NO_REGISTER, k.NAMA_BARANG));
				}

				el.select2();
				$("body").unmask();

				if (callback !== undefined) {
					callback();
				}
			}, "json");
		}

		$("button[name=do_ekstrakom]").on("click", function() {
			$("body").mask("Silakan tunggu. Proses reklas membutuhkan waktu 2-5 menit.");
			var nomor_unit = $("select[name=nomor_unit]").val();
			var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
						
			$.post("{{ site_url('aset/do_ekstrakom') }}", {nomor_unit:nomor_unit, nomor_sub_unit:nomor_sub_unit}, function(json){ 
				$("body").unmask();
			}, "json");
		});

	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">		

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.select2-container {
			width: 100% !important;
			padding: 0;
		}
		#btnTambahRenov {
			margin-top: 23px;
			height: 30px;
		}
		#do_ekstrakom {
			margin-top: 23px;
			height: 30px;
		}
	</style>
{% endblock %}