{% extends "_templates/adminpage.html" %}
{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-3">
				<label>JENIS ASET</label>
				<select type="text" name="jenis_aset" class="form-control">
					<option value="">Semuanya</option>
					<option value="1.3">Aset Tetap (1.3*)</option>
					<option value="1.5">Aset Lainnya (1.5*)</option>
				</select>
			</div>
			<div class="col-xs-2">
				<label>KAPITAL</label>
				<input type="checkbox" name="kapital-checkbox" data-on-text="Ya" data-off-text="Tidak" />
			</div>	
			<div class="col-xs-2">
				<button id="btnHitungSusut" type="button" class="btn btn-success">Hitung Penyusutan</button>
			</div>
		</div>
		<div class="row" name="select_kib" style="display:none">
			<div class="col-xs-3">
				<label>JENIS UNIT</label>
				<select type="text" name="jenis_unit" class="form-control">
					<option value="">Pilih Unit</option>
					<option value="badan">Badan</option>
					<option value="dinas">Dinas</option>
					<option value="kantor">Kantor</option>
					<option value="sekda">Sekda</option>
					<option value="dinkes">Dinkes</option>
					<option value="rsud">RSUD</option>
					<option value="dikpora">Dikpora</option>
					<option value="dikpora_sd_1">Dikpora SD 1</option>
					<option value="dikpora_sd_2">Dikpora SD 2</option>
					<option value="dikpora_sd_3">Dikpora SD 3</option>
					<option value="dikpora_sd_4">Dikpora SD 4</option>
					<option value="dikpora_sd_5">Dikpora SD 5</option>
					<option value="dikpora_smp_1">Dikpora SMP 1</option>
					<option value="dikpora_smp_2">Dikpora SMP 2</option>
					<option value="dikpora_smp_3">Dikpora SMP 3</option>
					<option value="dikpora_smp_4">Dikpora SMP 4</option>
					<option value="dikpora_smp_5">Dikpora SMP 5</option>
					<option value="dikpora_sma_1">Dikpora SMA 1</option>
					<option value="dikpora_sma_2">Dikpora SMA 2</option>
					<option value="dikpora_sma_3">Dikpora SMA 3</option>
				</select>
			</div>
			<div class="col-xs-3">
				<label>JENIS KIB</label>
				<select type="text" name="jenis_kib" class="form-control">
					<option value="">Pilih KIB</option>
					<option value="B">KIB B (Peralatan dan Kendaraan)</option>
					<option value="C">KIB C (Gedung dan Bangunan)</option>
					<option value="D">KIB D (Jalan dan Jembatan)</option>
				</select>
			</div>
		</div>
		<div class="row" name="hasil_susut" style="display:none">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table table-hover table_susut">
						<thead class="table-bordered">
						<tr>
							<th class="table-bordered" style="text-align:center">Nama Unit</th>
							<th class="table-bordered" style="text-align:center">No Register</th>
							<th class="table-bordered" style="text-align:center">Nama Barang</th>
							<th class="table-bordered" style="text-align:center">Merk Alamat</th>
							<th class="table-bordered" style="text-align:center">Tahun Perolehan</th>
							<th class="table-bordered" style="text-align:center">Masa Manfaat</th>
							<th class="table-bordered" style="text-align:center">Masa Terpakai</th>
							<th class="table-bordered" style="text-align:center">Sisa MM</th>
							<th class="table-bordered" style="text-align:center">Nilai Perolehan</th>
							<th class="table-bordered" style="text-align:center">Akumulasi Penyusutan Per 31 Desember 2015</th>
							<th class="table-bordered" style="text-align:center">Beban Penyusutan Tahun 2016</th>
							<th class="table-bordered" style="text-align:center">Nilai Buku</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/xlsx.core.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/Blob.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/FileSaver.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/tableexport.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$('input[name="kapital-checkbox"]').bootstrapSwitch();
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

		//load KIB
		$("select[name=jenis_aset]").change(function() {
			var jenis_aset = $("select[name=jenis_aset]").val();

			if(jenis_aset === "1.3") {
				$('div[name="select_kib"]').show();
			} else {
				$('div[name="select_kib"]').hide();
			}
		});
		
		$("#btnHitungSusut").click(function() {
    		$('tbody').empty();
    		$("body").mask("Processing...");
    		$('caption').empty();

    		var jenis_unit = $("select[name=jenis_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var jenis_aset = $("select[name=jenis_aset]").val();
    		$('div[name="hasil_susut"]').show();

    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");

    		if(jenis_aset === "1.5") {
    			$.post("{{ site_url('aset/get_rekap_susut_kib_lain') }}", {}, function(json) {
	    			if(kapital) {
	    				var aset = json.aset_kapitalisasi; 
						var total_aset = json.total_aset_kapitalisasi;
	    			} else {
	    				var aset = json.aset;
	    				var total_aset = json.total_aset;
	    			}
					
					var html = '';
					var tables = $("table");

					$.each(aset, function(key, value) {
						var value = aset[key];
						var mm_sisa = parseInt(value.MASA_MANFAAT) - parseInt(value.MASA_TERPAKAI);

						if(mm_sisa < 0) {
							mm_sisa = 0;
						}

						html += '<tr><td>'
						+ value.NAMA_UNIT
						+ '</td><td>'
						+ value.NO_REGISTER
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td>'
						+ value.MERK_ALAMAT
						+ '</td><td>'
						+ value.TAHUN_PENGADAAN
						+ '</td><td>'
						+ value.MASA_MANFAAT
						+ '</td><td>'
						+ value.MASA_TERPAKAI
						+ '</td><td>'
						+ mm_sisa
						+ '</td><td align="right">'
						+ value.NILAI_PEROLEHAN
						+ '</td><td align="right">'
						+ value.AKUMULASI_PENYUSUTAN
						+ '</td><td align="right">'
						+ value.BEBAN
						+ '</td><td align="right">'
						+ value.NILAI_BUKU
						+ '</td></tr>';
					});

					$('.table_susut > tbody').append(html);
					$("body").unmask();

					tables.tableExport({
					    bootstrap: true,
					    format: ["xlsx"]
					});
				}, "json");
    		} else {
    			$.post("{{ site_url('aset/get_rekap_susut_kib') }}", {jenis_unit, kib:kib}, function(json) {
	    			if(kapital) {
	    				var aset = json.aset_kapitalisasi; 
						var total_aset = json.total_aset_kapitalisasi;
	    			} else {
	    				var aset = json.aset;
	    				var total_aset = json.total_aset;
	    			}
					
					var html = '';
					var tables = $("table");

					$.each(aset, function(key, value) {
						var value = aset[key];
						var mm_sisa = parseInt(value.MASA_MANFAAT) - parseInt(value.MASA_TERPAKAI);

						if(mm_sisa < 0) {
							mm_sisa = 0;
						}

						html += '<tr><td>'
						+ value.NAMA_UNIT
						+ '</td><td>'
						+ value.NO_REGISTER
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td>'
						+ value.MERK_ALAMAT
						+ '</td><td>'
						+ value.TAHUN_PENGADAAN
						+ '</td><td>'
						+ value.MASA_MANFAAT
						+ '</td><td>'
						+ value.MASA_TERPAKAI
						+ '</td><td>'
						+ mm_sisa
						+ '</td><td align="right">'
						+ value.NILAI_PEROLEHAN
						+ '</td><td align="right">'
						+ value.AKUMULASI_PENYUSUTAN
						+ '</td><td align="right">'
						+ value.BEBAN
						+ '</td><td align="right">'
						+ value.NILAI_BUKU
						+ '</td></tr>';
					});

					$('.table_susut > tbody').append(html);
					$("body").unmask();

					tables.tableExport({
					    bootstrap: true,
					    format: ["xlsx"]
					});
				}, "json");
    		}
    	});
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/tableexport.css") }}" />	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.table > thead > tr > th {
			vertical-align: middle;
		}
		#btnHitungSusut {
			margin-top: 22px;
			height: 30px;
		}
		.btn-toolbar {
			text-align: left !Important;
		}
	</style>
{% endblock %}