{% extends "_templates/adminpage.html" %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div style=""></div>
		</div>
		<div class="col-xs-12">
			<div style="margin-top: 10px; margin-left:10px; margin-right:10px; background:white; height: 60px; border: 1px solid rgba(1, 1, 1, 0.25);">
				<div class="row">
					<div class="col-xs-3" toolbar style="padding: 12px 10px;">
						<select type="text" name="tahun-filter" id="tahun-filter" class="form-control ui-widget">
							<option value="">Tahun</option>
						</select>
					</div>
					<div class="col-xs-3" toolbar style="padding: 12px 10px;">
						<select type="text" name="skpd-filter" id="skpd-filter" class="form-control ui-widget">
							<option value="">All SKPD</option>
						</select>
					</div>
					<div class="col-xs-3" toolbar style="padding: 12px 10px;">
						<input type="checkbox" name="my-checkbox" data-on-text="Titik" data-off-text="Lintasan" data-handle-width="10" />
					</div>
					<div class="col-xs-3" toolbar style="padding: 12px 10px;">
						<input type="text" id="pencarian" class="form-control ui-widget" placeholder="Pencarian" />
					</div>
						<div class="row">
							<div class="col-xs-12" style="padding:5px 10px 5px 10px; background:white; height: 35px; border: 1px solid rgba(1, 1, 1, 0.25);">
								<div class="row">
									<div class="col-xs-3" toolbar>
										<input kib="01" name="filter" type="checkbox" checked /> Tanah
									</div>
<!-- 									<div class="col-xs-3" toolbar>
										<input kib="02"name="filter" type="checkbox" checked /> Peralatan dan Mesin
									</div> -->
									<div class="col-xs-3" toolbar>
										<input kib="03"name="filter" type="checkbox" checked /> Gedung dan Bangunan
									</div>
									<div class="col-xs-3" toolbar>
										<input kib="04"name="filter" type="checkbox" checked /> Jalan, Irigasi, dan Jaringan
									</div>
<!-- 									<div class="col-xs-3" toolbar>
										<input kib="05"name="filter" type="checkbox" checked /> Aset Tetap Lainnya
									</div>
									<div class="col-xs-3" toolbar>
										<input kib="06"name="filter" type="checkbox" checked /> Konstruksi Dalam Pengerjaan
									</div>
									<div class="col-xs-3" toolbar>
										<input kib="07"name="filter" type="checkbox" checked /> Aset Tidak Berwujud
									</div> -->
									<!-- <div class="col-xs-3" toolbar>
										<input kib="08" name="filter" type="checkbox" checked /> Kantor
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div id="map-canvas"></div>
		</div>
		<div id="dialog" title="Silakan Masukkan Posisi Aset">
			<form action="" method="post">
			<table>
			<tr style="border-bottom: solid transparent 5px">
				<td><label>Latitude</label></td><td><label>:</label></td>
				<td><input id="lat" name="latitude" type="text"></td>
			</tr>
			<tr style="border-bottom: solid transparent 5px">
				<td><label>Longitude</label></td><td><label>:</label></td>
				<td><input id="long" name="longitude" type="text"></td>
			</tr>
			<tr style="border-bottom: solid transparent 5px">
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<!-- 				<td style="text-align:center;" colspan="3"><input id="submit" type="submit" value="Submit"></td> -->
			</tr>
			</table>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqNNR6XcUE9Z-KSdekIhar3e2Rs6k0fNo"></script>
	<script type="text/javaScript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
	<script type="text/javascript">
		var library = {};

		library.json = {
			replacer: function(match, pIndent, pKey, pVal, pEnd) {
				var key = '<span class=json-key>';
				var val = '<span class=json-value>';
				var str = '<span class=json-string>';
				var r = pIndent || '';
				if (pKey) r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
				if (pVal) r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
				return r + (pEnd || '');
			},
			prettyPrint: function(obj) {
				var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
				return JSON.stringify(obj, null, 3)
					.replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
					.replace(/</g, '&lt;').replace(/>/g, '&gt;')
					.replace(jsonLine, library.json.replacer);
			}
		};
	</script>
	<script type="text/javascript">
	  var guid = (function() {
		function s4() {
		  	return Math.floor((1 + Math.random()) * 0x10000)
				.toString(16)
				.substring(1);
		}
		return function() {
		  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
				 s4() + '-' + s4() + s4() + s4();
		};
	  })();
	</script>
	<script type="text/javascript">
		var markers = new Array();
		var shownMarkers = new Array();
		var polys = new Array();
		var daftarSkpd = new Array();
		var date = new Date();
		var tahun = date.getFullYear()-2;
		var location;

		var mapOptions = {
			//center: { lat: -7.46369847, lng:112.43337572},
			center: { lat: -7.51852294, lng:112.55944669},
			zoom: 17
		};

		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var selectedMarker = null;


		var poly;


		function deleteMarker(kode, marker) {
		    jQuery.post("{{ site_url('aset/hapus') }}", {kode: kode}, function(json) {
		    	if (selectedMarker != null && json.success) {
		    		selectedMarker.setMap(null);
		    		//markers.splice(index, selectedMarker);
		    	}
		    }, "json");
	    }

	    function gantiData(uid){
	    	var table = jQuery("table#" + uid);

	    	var kode = table.find("input#kode").val();
	    	var old_kode = table.find("input#old_kode").val();
	    	var nama_asset = table.find("p#nama_asset").html();
			var kib = table.find("p#bidang").html();
			var kode_kib = table.find("input#kode_bidang").val();
			var skpd = table.find("p#nama_skpd").html();

	    	jQuery.post("{{ site_url('aset/ubah') }}", {kode: kode, old_kode: old_kode, nama_asset: nama_asset, kib: kib, kode_kib: kode_kib, skpd:skpd, nama_skpd:nama_skpd}, function(json) {
		    	if (json.success) {
		    		if (selectedMarker != null) {
		    			selectedMarker.kode = kode;
		    		}
		    		alert("Data telah diubah");
		    	}
		    	else{
		    		alert("Data yang dimasukkan sama");
		    	}
		    }, "json");	
	    }

		jQuery(function($) {
			$("[name='my-checkbox']").bootstrapSwitch();

			function infoCallback(info_window, marker) {
				return function(e) {
					selectedMarker = marker;

					var uid = marker.uid;

					$.post("{{ site_url('aset/get') }}", {kode:marker.kode}, function(json) {
						var data = json.data;
						var imgs = json.images;

						var tmp = '';
						if (imgs.length > 0){
							for (var i=0; i<imgs.length; i++) {
								tmp += '<div class="col-xs-12"><img enc_id="' + imgs[i].id + '" src="{{ base_url() }}/' + imgs[i].src + '" class="img-responsive img-thumbnail"></div>';
							}
						}

						var panelTab = null;
						var content = null;

						//console.log(marker.kode_kib);
						if(marker.kode_kib.substr(0,2) == '01'){
							panelTab = ['<li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>',
										'<li role="presentation"><a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">Foto</a></li>']
						} else if(marker.tipe === "LINESTRING" || marker.kode_kib.substr(0,2) != '01'){
							panelTab = '<li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>'
						}

						if (marker.tipe === "POINT") {
							info_window.open(map, marker);

							content = [
								'<div role="tabpanel">',
									'<ul class="nav nav-tabs" role="tablist">',
										panelTab,
									'</ul>',
									'<div class="tab-content">',
										'<div role="tabpanel" class="tab-pane active" id="info">',
											'<table class="hasil" style="height:300px; width:400px;" id=\'' + uid + '\'>', 
												'<input id="kode_bidang" type="hidden" value=' + data.kode_kib + ' />',
												'<input id="old_kode" type="hidden" value=' + data.kode + ' />',
												'<tr>',
													'<td style="width:25%;">Kode Aset:</td>',
													'<td style="width:75%;">',
														'<div class="ui-widget">',
															'<input style="padding-left:2px;" id="kode" size="25" value="' + data.kode + '" />',
														'</div>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">Nama Aset:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px; margin-top: 7px;" id="nama_asset">' + data.nama_asset + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">KIB:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px; margin-top: 7px;" id="bidang">' + data.kib + '</p>',
													'</td>',
												'</tr>',
												// '</select> </td></tr>' +
												'<tr>',
													'<td style="width:25%;">Latitude:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px;" id="latFld">' + data.latitude + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">Longitude:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px;" id="lngFld">' + data.longitude + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">SKPD:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px;" id="skpdFld"> ' + data.nama_skpd + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td colspan="2" style="text-align:center;">',
														'<input id="updateBtn" onclick="gantiData(\'' + uid + '\')" type="button" style="width:25%;" value="Update"/>&nbsp;&nbsp;',
														'<input id="deleteBtn" type="button" style="width:25%;" onclick="deleteMarker(\'' + data.kode + '\')" value="Delete"/>',
													'</td>',
												'</tr>',
											'</table>',
										'</div>',
										'<div role="tabpanel" class="tab-pane" id="foto">',
											'<div class="row">',
												'<div class="pull-left">',
													'<input id="fotoUploader" type="file" multiple />&nbsp;&nbsp;',
												'</div>',
											'</div>',
											'<div class="row">',
												'<div class="pull-left">',
													'<input class="form-control" id="bFotoUploader" type="button" value="Upload" />',
												'</div>',
											'</div>',
											'<br/>',
											'<div class="row foto2">',
												tmp,
											'</div>',
										'</div>',
									'</div>'
							].join("");
						} else if (marker.tipe === "LINESTRING") {
							info_window.setPosition(e.latLng);
							info_window.open(map);

							content = [
								'<div role="tabpanel">',
									'<ul class="nav nav-tabs" role="tablist">',
										panelTab,
									'</ul>',
									'<div class="tab-content">',
										'<div role="tabpanel" class="tab-pane active" id="info">',
											'<table class="hasil" style="height:300px; width:400px;" id=\'' + uid + '\'>', 
												'<input id="kode_bidang" type="hidden" value=' + data.kode_kib + ' />',
												'<input id="old_kode" type="hidden" value=' + data.kode + ' />',
												'<tr>',
													'<td style="width:25%;">Kode Aset:</td>',
													'<td style="width:75%;">',
														'<div class="ui-widget">',
															'<input style="padding-left:2px;" id="kode" size="25" value="' + data.kode + '" />',
														'</div>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">Nama Aset:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px; margin-top: 7px;" id="nama_asset">' + data.nama_asset + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">KIB:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px; margin-top: 7px;" id="bidang">' + data.kib + '</p>',
													'</td>',
												'</tr>',
												// '</select> </td></tr>' +
												'<tr>',
													'<td style="width:25%;">Lintasan:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px;" id="linFld">-</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td style="width:25%;">SKPD:</td>',
													'<td style="width:75%;">',
														'<p style="padding-left:2px;" id="skpdFld"> ' + data.nama_skpd + '</p>',
													'</td>',
												'</tr>',
												'<tr>',
													'<td colspan="2" style="text-align:center;">',
														'<input id="updateBtn" onclick="gantiData(\'' + uid + '\')" type="button" style="width:25%;" value="Update"/>&nbsp;&nbsp;',
														'<input id="deleteBtn" type="button" style="width:25%;" onclick="deleteMarker(\'' + data.kode + '\')" value="Delete"/>',
													'</td>',
												'</tr>',
											'</table>',
										'</div>',
										// '<div role="tabpanel" class="tab-pane" id="foto">',
										// 	'<div class="row">',
										// 		'<div class="pull-left">',
										// 			'<input id="fotoUploader" type="file" multiple />&nbsp;&nbsp;',
										// 		'</div>',
										// 	'</div>',
										// 	'<div class="row">',
										// 		'<div class="pull-left">',
										// 			'<input class="form-control" id="bFotoUploader" type="button" value="Upload" />',
										// 		'</div>',
										// 	'</div>',
										// 	'<br/>',
										// 	'<div class="row foto2">',
										// 		tmp,
										// 	'</div>',
										// '</div>',
								'</div>'
							].join("");
						}

						//info_window.setMap(null);

						info_window.setContent(content);

						google.maps.event.addListener(info_window, 'domready', function() {
							$("input#kode").autocomplete({
			    				minLength: 1,
			    				source: "{{ site_url('aset/cari') }}",
			    				select: function(e, u) {
			    					$(this).val(u.item.id);
			    					var table = $(this).closest("table");
			    					table.find("p#nama_asset").html(u.item.NAMA_BARANG);
			    					table.find("p#bidang").html(u.item.BIDANG);
			    					return false;
			    				}
			  				});

			  				if (marker.tipe === "LINESTRING") {
			  					var tmp = _.map(marker.getPath().getArray(), function(marker) { return {lat:marker.lat(), lng:marker.lng()} });
								$("table#" + uid).find("p[id=linFld]").html("<pre><code>" + library.json.prettyPrint(tmp) + "</code></pre>");
			  				}


							$("#bFotoUploader").unbind().click(function() {
								var files = $("#fotoUploader").get(0).files;
								var success = [];
								var status = false;

								if (files.length > 0) {
									for (var i=0; i<files.length; i++) {
										var fd = new FormData();
										fd.append("asset_id", $("#old_kode").val());
										fd.append("file", files[i]);

										success.push($.ajax({
											url: "{{ site_url('aset/upload_foto') }}",
											type: "POST",
											data: fd,
											processData: false,
											contentType: false,
											success: function(res) {
												var json = $.parseJSON(res);
												status = json.status;
												if (json.status === "success") {
													$(".foto2").append('<div class="col-xs-12"><img enc_id="' + json.id + '" src="{{ base_url() }}/' + json.src + '" class="img-responsive img-thumbnail"></div>');
												} else {
													alert("Foto yang Anda upload gagal!");
												}
											}
										}));

										$.when.apply(null, success).done(function() {
											if (status === "success") {
												$("#fotoUploader").replaceWith(jQuery("#fotoUploader").val("").clone(true));
											}
										});
									}
								} else {
									alert("Tidak ada foto yang dipilih");
								}
							});
						});
					}, "json");
				};
			}

			function skpdCallback(info_window, skpd) {
				return function() {
					selectedMarker = skpd;
					info_window.open(map, skpd);

					$("body").mask("Loading");

					var tahunbaru = $('#tahun-filter option:selected').val();
					if(tahunbaru != ""){
						tahun = tahunbaru;
					}

					$.post("{{ site_url('aset/get_skpd') }}", {kode:skpd.kode, tahun:tahun}, function(json) {
						var data = json.data;
						var skpd = json.skpd;
						var asetSkpd = Array();

						var content = [
							'<div style="min-width:600px; max-height:300px;">',
							'<table style="width:100%">',
								'<tr><td style="width:25%;">Kode SKPD:</td><td style="width:75%;"><div class="ui-widget"><input style="padding-left:2px;" id="kode" size="25" value="' + data.kode + '" /></div></td></tr>',
								'<tr><td style="width:25%;">Nama Unit:</td><td style="width:75%;"><p style="padding-left:2px; margin-top: 7px;" id="nama_asset" />' + "KANTOR " + data.nama + '</td></tr>',
								'<tr><td style="width:25%;">Latitude:</td> <td style="width:75%;"><p style="padding-left:2px;" id="latFld"/> ' + data.longitude + '</td> </tr>',
								'<tr><td style="width:25%;">Longitude:</td> <td style="width:75%;"><p style="padding-left:2px;" id="lngFld"/> ' + data.latitude + '</td> </tr>',
								'<tr><td style="width:25%;">Tahun:</td> <td style="width:75%;"><p style="padding-left:2px;" id="thnFld"/> ' + tahun + '</td> </tr>',
							'</table>',
							'<br/>',
							'<table style="min-width:800px;" class="aset table table-striped table-bordered">',
								'<thead>',
									'<tr>',
										'<th style="min-width:150px" rowspan="2">Jenis Aset:</th>',
										'<th colspan="2">Saldo Awal</th><th colspan="2">Mutasi</th><th colspan="2">Penyusutan</th><th colspan="2">Saldo Akhir</th>',
									'</tr>',
									'<tr>',
										'<th style="min-width:90px">Jumlah Aset</th>',
										'<th style="min-width:150px">Total Nilai Aset</th>',
										'<th style="min-width:90px">Jumlah Aset</th>',
										'<th style="min-width:150px">Total Nilai Aset</th>',
										'<th style="min-width:90px">Jumlah Aset</th>',
										'<th style="min-width:150px">Total Nilai Aset</th>',
										'<th style="min-width:90px">Jumlah Aset</th>',
										'<th style="min-width:150px">Total Nilai Aset</th>',
									'</tr>',
								'</thead>',
								'<tbody>',
									'<tr><td>' + skpd[0].URAIAN + '</td><td>' + skpd[0].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[0].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[1].URAIAN + '</td><td>' + skpd[1].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[1].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[2].URAIAN + '</td><td>' + skpd[2].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[2].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[3].URAIAN + '</td><td>' + skpd[3].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[3].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[4].URAIAN + '</td><td>' + skpd[4].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[4].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[5].URAIAN + '</td><td>' + skpd[5].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[5].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[6].URAIAN + '</td><td>' + skpd[6].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[6].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[7].URAIAN + '</td><td>' + skpd[7].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[7].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
									'<tr><td>' + skpd[8].URAIAN + '</td><td>' + skpd[8].JUMLAH + '</td><td>' + accounting.formatMoney(skpd[8].HARGA_TOTAL, "Rp. ", 2, ".", ",") + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>',
								'</tbody>',
							'</table>',
							'</div>'
						].join("");

						info_window.setContent(content);

						google.maps.event.addListener(info_window, 'domready', function() {
							$("input#kode").autocomplete({
			    				minLength: 1,
			    				source: "{{ site_url('aset/cari') }}",
			    				select: function(e, u) {
			    					$(this).val(u.item.id);
			    					var table = $(this).closest("table");
			    					table.find("p#nama_asset").html(u.item.NAMA_BARANG);
			    					table.find("p#bidang").html(u.item.BIDANG);
			    					return false;
			    				}
			  				});
						});
						$("body").unmask();
					}, "json");
				};
			}


			function loadAset(callback) {
				var url = "{{ site_url('aset/tampilkan') }}";

				$.get(url, {}, function(json){ 
					var data = json.markers;
					var iconBase = "http://localhost/pantau/assets/img/marker/";

					for(var i=0;i<data.length;i++) {
						var marker = null;
						var icon = data[i].kode_kib.substr(0, 2);
						markers[i] = { kode: data[i].kode, nama_asset: data[i].nama_asset, latitude: data[i].latitude, longitude: data[i].longitude, kib: data[i].kib, kode_kib: data[i].kode_kib, skpd:data[i].skpd, nama_skpd:data[i].nama_skpd};
						markers[i].marker = marker = new google.maps.Marker({ map: map, icon: iconBase + icon +'.png'});

						var info_window = new google.maps.InfoWindow({
							maxWidth: 500
						});
						var uid = guid();

						//hanya menampilkan tanah, bangunan, dan jalan/jembatan.
						if(data[i].kode_kib.substr(0,2) == '01' || data[i].kode_kib.substr(0,2) == '03' || data[i].kode_kib.substr(0,2) == '04')
						{
							marker.kode_kib = data[i].kode_kib;
							marker.uid = uid;
							marker.kode = String(data[i].kode);
							marker.setPosition(new google.maps.LatLng(data[i].latitude, data[i].longitude));
							marker.tipe = 'POINT';
							google.maps.event.addListener(marker,'click', infoCallback(info_window, marker));
						}
					}


					var data2 = json.polys;
					for (var i=0; i<data2.length; i++) {
						var poly = null;
						polys[i] = { 
							kode: data2[i].kode, 
							nama_asset: data2[i].nama_asset,
							kib: data2[i].kib, 
							kode_kib: data2[i].kode_kib, 
							skpd:data2[i].skpd, 
							nama_skpd:data2[i].nama_skpd,
							path: data2[i].path
						};

						//menambahkan lintasan
						var polyCoordinates = [];
						for (var j=0; j<data2[i].path.length; j++){
							var point = new google.maps.LatLng(data2[i].path[j].lat, data2[i].path[j].lng);
							polyCoordinates.push(point);
						}

						var polyOptions = {
							path: polyCoordinates,
							strokeColor: '#000000',
							strokeOpacity: 1.0,
							strokeWeight: 3
						};

						polys[i].poly = poly = new google.maps.Polyline(polyOptions); 
						poly.setMap(map);

						var info_window = new google.maps.InfoWindow({
							maxWidth: 500
						});

						info_window.position = polys[i].path[polys[i].path.length-1];

						var uid = guid();
						poly.uid = uid;
						poly.tipe = 'LINESTRING';
						poly.kode = String(data2[i].kode);
						poly.kode_kib = data2[i].kode_kib;
						
						google.maps.event.addListener(poly,'click', infoCallback(info_window, poly));
						//new google.maps.Marker({ map: map, icon: iconBase + icon +'.png'});
					}

					callback();
				}, "json");

			}

			function loadSkpd() {
				var url = "{{ site_url('aset/tampilkan_skpd') }}";

				$.get(url, {}, function(json){ 
					var data = json.result;
					var iconBase = "http://localhost/pantau/assets/img/marker/08.png";

					for(var i=0;i<data.length;i++) {
						var marker = null;
//						var icon = data[i].kode_kib.substr(0, 2);
						daftarSkpd[i] = { skpd: data[i].kode, nama_skpd: data[i].nama, latitude: data[i].latitude, longitude: data[i].longitude, aktif: data[i].aktif};
						daftarSkpd[i].marker = marker = new google.maps.Marker({ map: map, icon: iconBase});

						var info_window = new google.maps.InfoWindow({
							maxWidth: 700,
							maxHeight: 300
						});
						var uid = guid();

						//marker.uid = uid;
						marker.kode = String(data[i].kode);
						marker.setPosition(new google.maps.LatLng(data[i].latitude, data[i].longitude))

						google.maps.event.addListener(marker,'click', skpdCallback(info_window, marker));
					}

//					callback();
				}, "json");
			}


			var switchOnChanged = function(event, state) {
				google.maps.event.clearListeners(map, 'click');
				google.maps.event.clearListeners(map, 'rightclick');

				if ($(this).is(":checked")) {
					google.maps.event.addListener(map, 'click', function(e) {
						addMarker(map, e);
					});

					//input menggunakan latitude dan longitude
					google.maps.event.addListener(map, "rightclick", function(e){
						$("#dialog").dialog("open");
					});
				} else {
					addPolylines(map);

					var isSaved = false;
					var info_window = new google.maps.InfoWindow({
						maxWidth: 500
					});
					var uid = guid();

					google.maps.event.addListener(map, "rightclick", function(e){
						var path = poly.getPath();
						var paths = _.map(poly.getPath().getArray(), function(marker) { return {lat:marker.lat(), lng:marker.lng()}; });
						var pathSize = path.getLength();
						var infoLoc = new google.maps.LatLng(path.getAt(pathSize - 1).lat(), path.getAt(pathSize - 1).lng());

						info_window.setPosition(infoLoc);
						info_window.setContent('<div id="polydiv" style="width:400px; max-height:320px;">' + 
						'<table class="hasil" style="height:300px; width:400px;" id=\'' + uid + '\'>' + '<input id="kode_bidang" type="hidden" />' +
						'<tr><td style="width:25%;">Kode Aset:</td><td style="width:75%;"><div class="ui-widget"><input style="padding-left:2px;" id="kode" size="25" /></div></td></tr>' + 
						'<tr><td style="width:25%;">Nama Aset:</td><td style="width:75%;"><p style="padding-left:2px; margin-top: 7px;" id="nama_asset">-</p></td></tr>' +
						'<tr><td style="width:25%;">KIB:</td><td style="width:75%;"><p style="padding-left:2px; margin-top: 7px;" id="bidang">-</p></td></tr>' +
						'<tr><td style="width:25%;">Nomor Unit:</td> <td style="width:75%;"><p style="padding-left:2px;" id="skpd"/>-</p></td> </tr>' +
						'<tr><td style="width:25%;">Nama Unit:</td> <td style="width:75%;"><p style="padding-left:2px;" id="nama_skpd"/>-</p></td> </tr>' +
						'</select> </td></tr>' +
						'<tr><td style="width:25%;">Lintasan:</td> <td style="width:75%;"><p style="padding-left:2px;" id="linFld">-</p></td> </tr>' +
						'<tr><td colspan="2" style="text-align:center;"><input id="simpanBtn" type="button" value="Save & Close"/></td></tr>' +
						'</div>');
						info_window.open(map);
					});

					google.maps.event.addListener(info_window, 'domready', function() {
						$("input#kode").autocomplete({
		    				minLength: 1,
		    				source: "{{ site_url('aset/cari') }}",
		    				select: function(e, u) {
		    					$(this).val(u.item.id);
		    					var table = $(this).closest("table");
		    					table.find("p#nama_asset").html(u.item.NAMA_BARANG + (u.item.MERK_ALAMAT != null ? ", " + u.item.MERK_ALAMAT : "") + (u.item.TIPE != null ? ", " + u.item.TIPE : ""));
		    					table.find("input#kode_bidang").val(u.item.KODE_BIDANG);
		    					table.find("p#bidang").html(u.item.BIDANG);
		    					table.find("p#skpd").html(u.item.SKPD);
		    					table.find("p#nama_skpd").html(u.item.NAMA_SKPD);
		    					return false;
		    				}
		  				});

					
						$("#polydiv").parent().css("overflow", "visible");
						var tmp = _.map(poly.getPath().getArray(), function(marker) { return {lat:marker.lat(), lng:marker.lng()} });
						$("table#" + uid).find("p[id=linFld]").html("<pre><code>" + library.json.prettyPrint(tmp) + "</code></pre>");


						$("table#" + uid).find("input[id=simpanBtn]").click(function() {
							var table = $(this).closest("table");
							var kode = table.find("input#kode").val();
							var nama_asset = table.find("p#nama_asset").html();
							var kib = table.find("p#bidang").html();
							var kode_kib = table.find("input#kode_bidang").val();
							var skpd = table.find("p#skpd").html();
							var nama_skpd = table.find("p#nama_skpd").html();
							// var iconBase = "http://localhost/pantau/assets/img/marker/";
							// var icon = kode_kib.substr(0, 2);

							var url = "{{ site_url('aset/simpan_polylines') }}";

							if(kode == ''){
								alert("Tolong masukkan kode aset");
							}
							else{
								$.post(url, {kode:kode, nama_asset: nama_asset, kib:kib, kode_kib:kode_kib, path:tmp, skpd:skpd, nama_skpd:nama_skpd}, function(r) {
									polys.push({ kode: kode, nama_asset: nama_asset, kib: kib, kode_kib: kode_kib, path: tmp, skpd:skpd, nama_skpd: nama_skpd, poly: poly});
									google.maps.event.addListener(marker,'click', infoCallback(info_window, marker));
									// google.maps.event.addListener(poly, 'click', function(event) {
									// 	infowindow.content = "sukses";
									// 	infowindow.position = event.latLng;
									// 	infowindow.open(map);
									// });
									/*markers.push({ kode: kode, nama_asset: nama_asset, latitude: latLng.lat(), longitude: latLng.lng(), kib: kib, kode_kib: kode_kib, skpd:skpd, nama_skpd:nama_skpd, marker: marker,});
									marker.setIcon(iconBase + icon + '.png')
									google.maps.event.addListener(marker,'click', infoCallback(info_window, marker));*/
								}, "json");
								
								isSaved = true;
								info_window.close();
								addPolylines(map);
								$("#simpanBtn").unbind();
							}
						});
					});

					google.maps.event.addListener(info_window, 'closeclick', function() {
						if(!isSaved){
							poly.setMap(null);
							addPolylines(map);
							return false;
						}
						else{
							info_window.close();							
						}
					});
				}
			}

			function initialize() {
				$('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', switchOnChanged);
				$('input[name="my-checkbox"]').bootstrapSwitch('state', true);

				//menampilkan list SKPD
			  	var url = "{{ site_url('aset/list_skpd') }}";
				$.get(url, {}, function(json){ 
					var listSkpd = json.result;
					
					$.each(listSkpd, function (key, value) {
            			$("#skpd-filter").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
        			});
				}, "json");

				//menampilkan list tahun
				for (var j=0; j<25; j++){
					$("#tahun-filter").append($('<option></option>').val(2000+j).html(2000+j));
				}
			}

			google.maps.event.addDomListener(window, 'load', initialize);

			// filter
			function doFilter() {
				var filters = _.map($("input[name=filter]:checked"), function(x) {
					return $(x).attr("kib");
				});

				var filteredMarkers = null;

				var filterSkpd = $('#skpd-filter option:selected').val();
				if (filterSkpd === "") {
					filteredMarkers = markers;
				} else {
					filteredMarkers = _.filter(markers, function(x){ return x.skpd.substr(0, 11) ===  filterSkpd; });
				}

				_.each(markers, function(x) { x.marker.setMap(null); });
				
				shownMarkers = _.filter(filteredMarkers, function(x) { return !_.isEmpty(_.filter(filters, function(y) { return x.kode_kib.substr(0, 2) == y }))  });
				
				_.each(filteredMarkers, function(x) { 
					if (_.find(filters, function(y) { return x.kode_kib.substr(0, 2) === y }) !== undefined) { 
						if (x.marker.getMap() == null) 
							x.marker.setMap(map); 
						} 
					else 
						x.marker.setMap(null); 
				});

				if (filterSkpd === "") {
					_.each(daftarSkpd, function(x) { x.marker.setMap(map); });
				} else {
					//if(_.each(filteredMarkers, function(x) { if (_.find(filters, function(y) { return x.kode_kib.substr(0, 2) === y }) !== undefined) { if (x.marker.getMap() == null) x.marker.setMap(map); } else x.marker.setMap(null); })
					_.each(daftarSkpd, function(x) { if (filterSkpd === x.skpd.substr(0, 11)) { if (x.marker.getMap() == null) x.marker.setMap(map); } else x.marker.setMap(null)});
				}

				// override autocomplete
				$("input#pencarian").autocomplete({
					minLength: 1,
					source: _.map(shownMarkers, function(x) { return { id:x.kode, label: x.nama_asset, marker: x.marker } }),
					select: function(e, u){
						$(this).val(u.item.label);
						map.panTo(u.item.marker.getPosition());
						map.setZoom(15);

						return false;
					}
			  	});
			}

			function filterSkpd(){return;
				var filterSkpd = $('#skpd-filter option:selected').val();
				//shownMarkers = _.filter(markers, function(x){ return x.skpd.substr(0, 11) ===  filterSkpd; });
				_.each(markers, function(x) { if (filterSkpd === x.skpd.substr(0, 11)) { if (x.marker.getMap() == null) x.marker.setMap(map); } else x.marker.setMap(null)});
				_.each(daftarSkpd, function(x) { if (filterSkpd === x.skpd.substr(0, 11)) { if (x.marker.getMap() == null) x.marker.setMap(map); } else x.marker.setMap(null)});
			}

			_.each($("input[name=filter]"), function(x) {
				$(x).change(doFilter);
			});

			// register onchange selectbox
			$("select#skpd-filter").change(function() {
        		doFilter();
    		});
			
			loadAset(doFilter);
			loadSkpd();

			function addMarker(map, e) {
				if ( !marker ) {
					var uid = guid();
					var info_window = new google.maps.InfoWindow({
						maxWidth: 800
					});

					var marker = new google.maps.Marker({ map: map });
					var isSaved = false;

					marker.uid = uid;
					if (e != null) {
						marker.setPosition(e.latLng);
					} else {
						var lat = $("#lat").val();
						var lng = $("#long").val();

						marker.setPosition(new google.maps.LatLng(lat, lng));
					}

					info_window.setContent('<div style="width:400px; max-height:320px;">' + 
						'<table class="hasil" style="height:300px; width:400px;" id=\'' + uid + '\'>' + '<input id="kode_bidang" type="hidden" />' +
						'<tr><td style="width:25%;">Kode Aset:</td><td style="width:75%;"><div class="ui-widget"><input style="padding-left:2px;" id="kode" size="25" /></div></td></tr>' + 
						'<tr><td style="width:25%;">Nama Aset:</td><td style="width:75%;"><p style="padding-left:2px; margin-top: 7px;" id="nama_asset">-</p></td></tr>' +
						'<tr><td style="width:25%;">KIB:</td><td style="width:75%;"><p style="padding-left:2px; margin-top: 7px;" id="bidang">-</p></td></tr>' +
						'<tr><td style="width:25%;">Nomor Unit:</td> <td style="width:75%;"><p style="padding-left:2px;" id="skpd"/>-</p></td> </tr>' +
						'<tr><td style="width:25%;">Nama Unit:</td> <td style="width:75%;"><p style="padding-left:2px;" id="nama_skpd"/>-</p></td> </tr>' +
						'</select> </td></tr>' +
						'<tr><td style="width:25%;">Latitude:</td> <td style="width:75%;"><p style="padding-left:2px;" id="latFld">-</p></td> </tr>' +
						'<tr><td style="width:25%;">Longitude:</td> <td style="width:75%;"><p style="padding-left:2px;" id="lngFld"/>-</p></td> </tr>' +
						'<tr><td colspan="2" style="text-align:center;"><input id="simpanBtn" type="button" value="Save & Close"/></td></tr>' +
						'</div>');

					info_window.open(map,marker);

					google.maps.event.addListener(info_window, 'domready', function() {
						$("input#kode").autocomplete({
		    				minLength: 1,
		    				source: "{{ site_url('aset/cari') }}",
		    				select: function(e, u) {
		    					$(this).val(u.item.id);
		    					var table = $(this).closest("table");
		    					table.find("p#nama_asset").html(u.item.NAMA_BARANG + (u.item.MERK_ALAMAT != null ? ", " + u.item.MERK_ALAMAT : "") + (u.item.TIPE != null ? ", " + u.item.TIPE : ""));
		    					table.find("input#kode_bidang").val(u.item.KODE_BIDANG);
		    					table.find("p#bidang").html(u.item.BIDANG);
		    					table.find("p#skpd").html(u.item.SKPD);
		    					table.find("p#nama_skpd").html(u.item.NAMA_SKPD);
		    					return false;
		    				}
		  				});

						if (e != null) {
							$("table#" + uid).find("p[id=latFld]").html(e.latLng.lat());
							$("table#" + uid).find("p[id=lngFld]").html(e.latLng.lng());
						} else {
							var lat = $("#lat").val();
							var lng = $("#long").val();

							$("table#" + uid).find("p[id=latFld]").html(lat);
							$("table#" + uid).find("p[id=lngFld]").html(lng);
						}

						$("table#" + uid).find("input[id=simpanBtn]").click(function() {
							var table = $(this).closest("table");
							var kode = table.find("input#kode").val();
							var nama_asset = table.find("p#nama_asset").html();
							var kib = table.find("p#bidang").html();
							var kode_kib = table.find("input#kode_bidang").val();
							var skpd = table.find("p#skpd").html();
							var nama_skpd = table.find("p#nama_skpd").html();
							var iconBase = "http://localhost/pantau/assets/img/marker/";
							var icon = kode_kib.substr(0, 2);

							var latLng = marker.getPosition();
							var url = "{{ site_url('aset/simpan') }}";

							marker.kode = kode;

							if(kode == ''){
								alert("Tolong masukkan kode aset");
							}
							else{
								$.post(url, {kode:kode, nama_asset: nama_asset, kib:kib, kode_kib:kode_kib, latitude: latLng.lat(), longitude: latLng.lng(), skpd:skpd, nama_skpd:nama_skpd}, function(r) {
									markers.push({ kode: kode, nama_asset: nama_asset, latitude: latLng.lat(), longitude: latLng.lng(), kib: kib, kode_kib: kode_kib, skpd:skpd, nama_skpd:nama_skpd, marker: marker});
									marker.setIcon(iconBase + icon + '.png')
									google.maps.event.addListener(marker,'click', infoCallback(info_window, marker));
								}, "json");
								
								isSaved = true;
								info_window.close();
								$("#simpanBtn").unbind();
							}
						});
					});


					google.maps.event.addListener(info_window, 'closeclick', function() {
						if(!isSaved){
							marker.setMap(null);
							return false;
						}
						else{
							info_window.close();								
						}
					});
				} else {
					marker.setPosition(e.latLng);
				}
			}
			
			var dialog = $( "#dialog" ).dialog({
				autoOpen: false,
				height: 180,
				width: 280,
				modal: true,
				open: function() {
					$("#lat").val("");
					$("#long").val("");
				},
				buttons: {
					Tambahkan: function() {
						dialog.dialog( "close" );
						addMarker(map, null);
					},
					Batal: function() {
						dialog.dialog( "close" );
					}
				}
			});

			function newPolylines() {
				var lineSymbol = {
				    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
				}
				var polyOptions = {
				    strokeColor: '#000000',
				    strokeOpacity: 1.0,
				    strokeWeight: 3
				};

				return new google.maps.Polyline(polyOptions);
			}

			function addPolylines(map) {
				poly = newPolylines();
  				poly.setMap(map);

  				// Add a listener for the click event
  				google.maps.event.addListener(map, 'click', addLatLng);
			}

			function addLatLng(event) {
				var path = poly.getPath();

				// Because path is an MVCArray, we can simply append a new coordinate
				// and it will automatically appear.
				path.push(event.latLng);

				// Add a new marker at the new plotted point on the polyline.
				var marker = new google.maps.Marker({
					position: event.latLng,
					title: '#' + path.getLength(),
					map: null
				});
			}

		})
	</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<style type="text/css">
	#map-canvas {
	  margin-left: 10px;
	  margin-right: 10px;
	  width: :800px;
	  height: 530px;
	  border-left: 1px solid rgba(1, 1, 1, 0.25);
	  border-right: 1px solid rgba(1, 1, 1, 0.25);
	  border-bottom: 1px solid rgba(1, 1, 1, 0.25);
	}
	#pushstat {
	  display:none;
	}
	.masukan, .hasil{
	    font-size:14px;
	}

	.hasil input{
		font-size: 12px;
		padding: 5px;
	}
	.gm-style-iw {
		padding: 10px !important;
	}

	.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden; font-size: 12px;}

	.ui-widget {
	    font-family: inherit;
	    font-size: 1em;
	}

	table.aset tr th:nth-child(2), table.aset tr td:nth-child(2) {
		text-align: center;
	} 
	table.aset tr th:nth-child(3), table.aset tr td:nth-child(3) {
		text-align: right;
	}

	div.infowindow {
	    max-height:300px;
	    overflow-y:auto;
	}

	div.tab-pane {
		padding: 10px 0px;
	}

	div.gm-style-iw > div {
		height: 100% !important;
	}

	div.row.foto2 {
		-moz-column-count: 3;
		column-count: 3;
		-moz-column-gap: 0;
		column-gap:0;
	}

	div.row.foto2 > .col-xs-12 {
		float: none !important;
	}

	pre {
		background-color: ghostwhite;
		border: 1px solid silver;
		padding: 10px 20px;
		margin: 20px; 
	}

	</style>
{% endblock %}