{% extends "_templates/adminpage.html" %}

{% block content %}
<!doctype html>
<html lang="en">
	<head>
		<title>Daftar Kantor SKPD</title>
	</head>
	<body>

		<div id="dialog-form" title="Tambahkan SKPD">
		<p class="validateTips">Semua form harus diisi.</p>
		<form id="input" style="width:100%">
			<fieldset>
				<label for="skpd">Nomor Unit</label>
				<input type="text" name="skpd" id="skpd" value="" class="text ui-widget-content ui-corner-all">
				<label for="nama_skpd">Nama SKPD</label>
				<p type="text" name="nama_skpd" id="nama_skpd"></p>
				<label for="latitude">Latitude</label>
				<input type="text" name="latitude" id="latitude" class="text ui-widget-content ui-corner-all">
				<label for="longitude">Longitude</label>
				<input type="text" name="longitude" id="longitude" class="text ui-widget-content ui-corner-all">
				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
		</div>
		<div class="row">
			<div class="col-md-11">
				<div class="table-responsive" style="overflow:auto;">
					<h1 style="font-weight:bold;">Daftar SKPD:</h1>
					<table id="skpd-data" class="table table-striped table-hover" style="width:700px;">
						<thead>
							<tr>
								<th style="width:60%">Nama SKPD</th>
								<th style="width:20%">Latitude</th>
								<th style="width:20%">Longitude</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="col-md-12">
					<button type="button" id="tambah-skpd">Tambahkan SKPD</button>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

	<style>

		/*body { font-size: 62.5%; }*/
		label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:10px; }
		h1 { font-size: 1.2em; margin: .6em 0; }
		div#skpd-contain { width: 350px; padding: 0 0 0 20px; font-size: 1.2em;
		}
		div#skpd-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#skpd-contain table td, div#skpd-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
		#dialog-form{
			font-size: 1em;
		}
	</style>

{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
			var daftarSkpd = new Array();
			var dialog, form,
			// From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
			skpd = $("#skpd"),
			nama_skpd = $( "#nama_skpd" ),
			latitude = $( "#latitude" ),
			longitude = $( "#longitude" ),
			allFields = $( [] ).add( skpd ).add( latitude ).add( longitude ), tips = $( ".validateTips" );

			$("input#skpd").autocomplete({
				appendTo: "#input",
				minLength: 1,
				source: "{{ site_url('aset/cari_skpd') }}",
				select: function(e, u) {
					$(this).val(u.item.id);
					var fieldset = $(this).closest("fieldset");
					fieldset.find("p#nama_skpd").html(u.item.NAMA_UNIT);
					return false;
				}
			});

			function updateTips( t ) {
				tips.text( t ).addClass( "ui-state-highlight" );
				setTimeout(function() {
					tips.removeClass( "ui-state-highlight", 1500 );
				}, 500 );
			}

			function isNotNull(i, data){
				if(data){
					return true;
				}
				else{
					i.addClass("ui-state-error");
					updateTips("Harus diisi");
					return false;
				}
			}

			function isNumber(i, data){
				if(isNaN(data)){
					i.addClass("ui-state-error");
					updateTips("Harus diisi dengan angka")
					return false;
				}else{
					return true;
				}
			}

			function addSkpd() {
				var valid = true;
				allFields.removeClass( "ui-state-error" );
	//					valid = valid && isNotNull(skpd, nama_skpd.val());
				valid = valid && isNotNull(latitude, latitude.val());
				valid = valid && isNotNull(longitude, longitude.val());
				valid = valid && isNumber(latitude, latitude.val());
				valid = valid && isNumber(longitude, longitude.val());

				if (valid){
					//var fieldset = $(this).closest("fieldset");
					//var kode = fieldset.find("input#kode").val();
					//var nama = fieldset.find("p#nama_skpd").html();
					//var latitude = fieldset.find("input#latitude").val();
					//var longitude = fieldset.find("input#kode_bidang").val();
					var aktif = 1;
					var url = "{{ site_url('aset/simpan_skpd') }}";

					$.post(url, {kode:skpd.val(), nama:nama_skpd.text(), latitude:latitude.val(), longitude:longitude.val(), aktif:aktif}, function(r) {
					}, "json");

					$( "#skpd-data tbody" ).append( "<tr>" +
					"<td>" + nama_skpd.text() + "</td>" +
					"<td>" + latitude.val() + "</td>" +
					"<td>" + longitude.val() + "</td>" +
					"</tr>" );
					dialog.dialog( "close" );
					updateTips("Semua data harus diisi")
				}
				return valid;
			}
			
			dialog = $( "#dialog-form" ).dialog({
				autoOpen: false,
				height: 460,
				width: 350,
				modal: true,
				buttons: {
					"Tambahkan": addSkpd,
					Cancel: function() {
						dialog.dialog( "close" );
					}
				},
				close: function() {
					form[ 0 ].reset();
					allFields.removeClass( "ui-state-error" );
				}
			});
			
			form = dialog.find( "form" ).on( "submit", function( event ) {
				event.preventDefault();
				addSkpd();
			});

			$( "#tambah-skpd" ).button().on( "click", function() {
				dialog.dialog( "open" );
			});
		});

		var url = "{{ site_url('aset/tampilkan_skpd') }}";

		$.get(url, {}, function(json){ 
			var data = json.result;
			
			for(var i=0;i<data.length;i++) {
				// daftarSkpd[i] = { kode: data[i].kode, nama_skpd: data[i].nama, latitude: data[i].latitude, longitude: data[i].longitude, aktif: data[i].aktif};

				$( "#skpd-data tbody" ).append( "<tr>" +
				"<td>" + data[i].nama + "</td>" +
				"<td>" + data[i].latitude + "</td>" +
				"<td>" + data[i].longitude + "</td>" +
				"</tr>" );
			}
		}, "json");
	</script>

{% endblock %}