{% extends "_templates/adminpage.html" %}

{% block content %}
{% include "aset/modal_kendaraan.html" %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-4">
				<label>UNIT</label>
				<select type="text" name="nomor_unit" class="form-control">
					<option value="">Pilih Unit</option>
				</select>
			</div>
		</div>
		<div class="row" name="sub-unit" style="display:none">
			<div class="col-xs-4">
				<label>SUB UNIT</label>
				<select type="text" name="nomor_sub_unit" class="form-control">
					<option value="">Pilih Sub Unit</option>
				</select>
			</div>
		</div>
		<div class="row" name="daftar_kendaraan" style="display:none">
			<div class="col-xs-12">
				<div class="row"  style="float:right;">
						<button id="btnKendaraan" type="button" style="height:30px;" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span></button>
						<button id="btnTambahKendaraan" type="button" style="height:30px;" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table_kendaraan">
						<thead>
						<tr>
							<th style="text-align:center">Nama Unit</th>
							<th style="text-align:center">ID Aset</th>
							<th style="text-align:center">Nama Barang</th>
							<th style="text-align:center">Merk Barang</th>
							<th style="text-align:center">Nopol</th>
							<th style="text-align:center">Pengguna</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/xlsx.core.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/Blob.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/FileSaver.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/tableexport.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$('input[name="kapital-checkbox"]').bootstrapSwitch();
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

    	//menampilkan list SKPD
		$.get("{{ site_url('aset/list_skpd') }}", {}, function(json){ 
			var listSkpd = json.result;
			
			$.each(listSkpd, function (key, value) {
				$("select[name=nomor_unit]").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
			});

			//$("select[name=nomor_unit]").val("{{ data.NOMOR_UNIT }}");
			$("select[name=nomor_unit]").select2();

			//reload_skpd();
			// var user = $("#user").text();

			// if (user != 'Administrator') {
			// 	$.post("{{ site_url('aset/get_skpd_user') }}", {user:user}, function(json){ 
			// 		var skpd_user = json.data;
			// 		var oid = skpd_user.oid;

			// 		$.post("{{ site_url('aset/get_skpd_organisasi') }}", {oid:oid}, function(json){ 
			// 			var skpd_organisasi = json.data;
			// 			var skpd_name = skpd_organisasi.oname;
						
			// 			$.post("{{ site_url('aset/get_skpd_val') }}", {skpd_name:skpd_name}, function(json){ 
			// 				var skpd_val = json.data;
			
			// 				//untuk mengubah data select 2 jangan lupa tambahkan ini >> .trigger('change');
			// 				$('select[name="nomor_unit"]').val(skpd_val.NOMOR_UNIT).trigger('change');
			// 				$('select[name="nomor_unit"]').prop( "disabled", true );           
							
			// 			}, "json");
						
						
			// 		}, "json");
			// 	}, "json");
			// }

		}, "json");

		//load sub unit (khusus dinas pendidikan dan dinas kesehatan)
		$("select[name=nomor_unit]").change(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();

			if(nomor_unit === "13.10.08.01" || nomor_unit === "13.10.07.01" || nomor_unit === "13.10.04.01") {
				load_sub_unit();
				$('div[name="sub-unit"]').show();
			} else {
				$("select[name=nomor_sub_unit]").val("");
				$('div[name="sub-unit"]').hide();
				load_aset_kendaraan();
			}
		});

		var load_sub_unit = function(callback) {
			$("body").mask("Processing...");
			var nomor_unit = $("select[name=nomor_unit]").val();

			$.post("{{ site_url('aset/get_list_sub_unit') }}", {
				nomor_unit: nomor_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=nomor_sub_unit]");

				el.empty();
				el.append("<option value=''>Pilih Sub Unit</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.NOMOR_SUB_UNIT).html(k.NOMOR_SUB_UNIT + " | " + k.NAMA_SUB_UNIT));
				}

				el.select2();

				load_aset_kendaraan();
				$("body").unmask();

				if (callback !== undefined) {
					callback();
				}
			}, "json");
		}

		//menampilkan daftar aset kendaraan
		$("select[name=nomor_sub_unit]").change(function() {
			load_aset_kendaraan();
		});
		
		function load_aset_kendaraan() {
    		$('tbody').empty();
    		$("body").mask("Processing...");
    		$('caption').empty();

    		var nomor_unit = $("select[name=nomor_unit]").val();
    		var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var nama_unit = $("select[name=nomor_unit] option:selected").text();
    		var nama_sub_unit = $("select[name=nomor_sub_unit] option:selected").text();

    		$('div[name="daftar_kendaraan"]').show();

    		$.post("{{ site_url('aset/get_list_kendaraan_unit') }}", {nomor_unit:nomor_unit, nomor_sub_unit:nomor_sub_unit}, function(json) {
    			var data = json.data;

    			if(nomor_sub_unit !== '') {
    				nama_unit = nama_sub_unit;
    			}
				
				var tables = $("table");

				$.each(data, function(key, value) {
					var value = data[key];

					var html = [
						'<tr id="row_'+key+'">',
							'<td>' + nama_unit + '</td>',
							'<td>' + value.id_aset + '</td>',
							'<td>' + value.nama_barang + '</td>',
							'<td>' + value.merk_barang + '</td>',
							'<td>' + value.nopol + '</td>',
							'<td>' + value.pengguna + '</td>',
							'<td width="15px;" style="text-align:center;">',
								'<a id="hapus_' + key + '" href="#">',
									'<span class="glyphicon glyphicon-trash"></span>',
								'</a>',
							'</td>',
						'</tr>'
					].join("\r\n");

					$('.table_kendaraan > tbody').append(html);

					$('#hapus_'+key).on("click", function(e){
	                    e.preventDefault();
	                    $.post("{{ site_url('aset/hapus_aset_kendaraan') }}", {id_aset:value.id_aset}, function(json) {
	                    	load_aset_kendaraan();
	                    }, "json");
	                });
					
				});

				$("body").unmask();

				tables.tableExport({
				    bootstrap: true,
				    format: ["xlsx"]
				});
			}, "json");
    	}

    	$("#btnTambahKendaraan").on("click", function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
    		var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();

			$.post("{{ site_url('aset/get_list_kendaraan_by_nomor_unit') }}", {
				nomor_unit: nomor_unit, nomor_sub_unit: nomor_sub_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=id-aset-kendaraan]");

				el.empty();
				el.append("<option value=''>Pilih Kendaraan</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.ID_ASET).html(k.NAMA_BARANG + " " + k.MERK_ALAMAT + " - " + k.NOPOL));
				}

				el.select2();
				$("body").unmask();

				if (callback !== undefined) {
					callback();
				}
			}, "json");

            $("#tambah-kendaraan").modal("show");
        });

        $("button[name=simpan]").on("click", function() {
        	var id_aset = $("select[name=id-aset-kendaraan]").val();
        	var pengguna = $("input[name=pengguna]").val();
        	var nama_unit = $("select[name=nomor_unit] option:selected").text();

    		$("body").mask("Processing...");
        	$.post("{{ site_url('aset/get_aset_by_id_aset') }}", {id_aset:id_aset}, function(json) {
        		var aset = json.aset;
        		var html = '';

				$.each(aset, function(key, value) {
					var value = aset[key];

					var html2 = [
						'<tr id="row_'+key+'">',
							'<td>' + nama_unit + '</td>',
							'<td>' + value.ID_ASET + '</td>',
							'<td>' + value.NAMA_BARANG + '</td>',
							'<td>' + value.MERK_ALAMAT + '</td>',
							'<td>' + value.NOPOL + '</td>',
							'<td>' + pengguna + '</td>',
							'<td width="15px;" style="text-align:center;">',
								'<a id="hapus_' + key + '" href="#">',
									'<span class="glyphicon glyphicon-trash"></span>',
								'</a>',
							'</td>',
						'</tr>'
					].join("\r\n");

					$('.table_kendaraan > tbody').append(html2);

					$('#hapus_'+key).on("click", function(e){
	                    e.preventDefault();
	                    $.post("{{ site_url('aset/hapus_aset_kendaraan') }}", {id_aset:value.id_aset}, function(json) {
	                    	load_aset_renov();
	                    }, "json");
	                });
				});

				$("body").unmask();
        	}, "json");


        	$.post("{{ site_url('aset/simpan_aset_kendaraan') }}", {id_aset:id_aset, pengguna:pengguna}, function(json) {
        	}, "json");

        	$("#tambah-kendaraan").modal("hide");
        	$('select[name=id-aset-kendaraan]').val('').trigger('change');
        });


		$("#btnKendaraan").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
			var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();

			if(nomor_sub_unit === "") {
    			window.open( "{{ site_url('aset/print_kendaraan') }}/"+ nomor_unit, '_blank');
			} else {
    			window.open( "{{ site_url('aset/print_kendaraan') }}/"+ nomor_sub_unit, '_blank');
			}

		});
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/tableexport.css") }}" />	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.table > thead > tr > th {
			vertical-align: middle;
		}
		#tampilkan {
			margin-top: 22px;
			height: 30px;
		}
		.btn-toolbar {
			text-align: left !Important;
		}
	</style>
{% endblock %}