{% extends "_templates/adminpage.html" %}

{% block content %}
<div class="container">
	<div class="col-xs-12">
		<div class="col-md-3 pull-left">
			<select type="text" name="nomor_unit" class="form-control">
				<option value="">Semua SKPD</option>
			</select>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="spacer"></div>
	<div class="row">
		<div class="col-xs-12">
			<table id="datatable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="center">NOMOR LOKASI</th>
						<th class="center">NOMOR REGISTER</th>
						<th class="center">NAMA BARANG</th>
						<th class="center">MERK ALAMAT</th>
						<th class="center">TAHUN PENGADAAN</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/base64.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.dataTables.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/dataTables.bootstrap.min.js") }}"></script>
<script type="text/javaScript">
	var table;
	var save_method;
jQuery(document).ready(function($) {
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) { 
				return typeof args[number] != 'undefined' ? args[number] : match;
			});
		};
	}

	var delay = (function(){
		var timer = 0;
			return function(callback, ms){
			clearTimeout (timer);
			timer = setTimeout(callback, ms);
		};
	})();


	// populasi selectbox skpd
	$.get("{{ site_url('aset/list_skpd') }}", {}, function(json){ 
		var listSkpd = json.result;
		
		$.each(listSkpd, function (key, value) {
			$("select[name=nomor_unit]").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
		});

		$("select[name=nomor_unit]").select2();
	}, "json");

	function cari_data() {
		var nomor_lokasi = $("select[name=nomor_unit]").val();
		table = $('#datatable').DataTable({
			"scrollX": false,
	        "processing": true, //Feature control the processing indicator.
	        "serverSide": true, //Feature control DataTables' server-side processing mode.
	        "order": [], //Initial no order.
	        // Load data for the table's content from an Ajax source
	        "ajax": {
	            "url": '{{ site_url('aset/pencarian') }}',
	            "type": "POST",
	            "data": {nomor_lokasi:nomor_lokasi},
	            "dataType": "json"
	        },
	        //Set column definition initialisation properties.
	        "columns": [
	            {"data": "NOMOR_LOKASI",width:100},
	            {"data": "NO_REGISTER",width:100},
	            {"data": "NAMA_BARANG",width:300},
	            {"data": "MERK_ALAMAT",width:200},
	            {"data": "TAHUN_PENGADAAN",width:50}
	        ],
	    });
	}

	$("select[name=nomor_unit]").change(function() {
		var table = $('#datatable').DataTable();
		table.destroy();
		cari_data();
	});
});
</script>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">	
<link href="{{ base_url("assets/css/jquery.dataTables.min.css") }}" rel="stylesheet">	

<style type="text/css">
	.control-label{
		padding-top: 8px !important;
	}

	*[class^='col-'] {
		padding-left: 0px;
		padding-right: 0px;
	}

	select.form-control {
		height: 48px !important;
	}

	input.form-control {
		height: 34px !important;
	}

	textarea.form-control {
		height:auto !important;
	}

	.spacer {
	    margin-top: 20px;
	}
	.select2-selection__rendered {
		height: 28px;
	}
</style>
{% endblock %}