{% extends "_templates/adminpage.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-4">
		<div class="col-xs-12">
			<label>SKPD</label>
			<select type="text" name="nomor_unit" class="form-control">
				<option value="">Pilih SKPD</option>
			</select>
		</div>
		<div class="col-xs-12" name="sub-unit" style="display:none">
			<label>SUB UNIT</label>
			<select type="text" name="nomor_sub_unit" class="form-control">
				<option value="">Pilih SUB UNIT</option>
			</select>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="col-xs-6">
			<label>JENIS KIB</label>
			<select type="text" name="jenis_kib" class="form-control">
				<option value="">Pilih KIB</option>
				<option value="B">KIB B (Peralatan dan Kendaraan)</option>
				<option value="C">KIB C (Gedung dan Bangunan)</option>
				<option value="D">KIB D (Jalan dan Jembatan)</option>
				<option value="E">KIB E (Buku, Hewan, Tanaman, Barang Kebudayaan)</option>
				<option value="G">KIB G (Aset Tak Berwujud)</option>
			</select>
		</div>
		<div class="col-xs-6">
			<label>JENIS ASET</label>
			<select type="text" name="jenis_aset" class="form-control">
				<option value="">Semuanya</option>
				<option value="1.3">Aset Tetap (1.3*)</option>
				<option value="1.5">Aset Lainnya (1.5*)</option>
			</select>
		</div>
		<div class="col-xs-6">
			<label>KODE KEPEMILIKAN</label>
			<select type="text" name="kode_kepemilikan" class="form-control">
				<option value="12">12 (Pemerintah Kabupaten/Kota)</option>
				<option value="98">98 (Ekstrakom)</option>
			</select>
		</div>
		<div class="col-xs-3">
			<label>KAPITAL</label>
			<input type="checkbox" name="kapital-checkbox" data-on-text="Ya" data-off-text="Tidak" />
		</div>
		<div class="col-xs-3" name="button-susut-atas">
			<button id="btnHitungSusut" type="button" class="btn btn-primary" style="padding-left: 1; padding-right: 1;"><span class="glyphicon glyphicon-ok-circle"></span> Hitung Penyusutan</button>
		</div>	
	</div>
	<div class="row" name="hasil_susut" style="display:none">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<div class="row">	
					<div class="pull-left">
						<button id="btnPrintHitungSusut" type="button" style="height:30px;" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Print</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover table_susut">
						<thead class="table-bordered">
						<tr>
							<th class="table-bordered" style="text-align:center">Nama Unit</th>
							<th class="table-bordered" style="text-align:center">No Register</th>
							<th class="table-bordered" style="text-align:center">Nama Barang</th>
							<th class="table-bordered" style="text-align:center">Merk Alamat</th>
							<th class="table-bordered" style="text-align:center">Tahun Perolehan</th>
							<th class="table-bordered" style="text-align:center">Masa Manfaat</th>
							<th class="table-bordered" style="text-align:center">Masa Terpakai</th>
							<th class="table-bordered" style="text-align:center">Sisa MM</th>
							<th class="table-bordered" style="text-align:center">Nilai Perolehan</th>
							<th class="table-bordered" style="text-align:center">Akumulasi Penyusutan Per 31 Desember 2015</th>
							<th class="table-bordered" style="text-align:center">Beban Penyusutan Tahun 2016</th>
							<th class="table-bordered" style="text-align:center">Nilai Buku</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-switch.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/xlsx.core.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/Blob.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/FileSaver.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/tableexport.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	$.fn.bootstrapSwitch.defaults.size = 'normal';
    	$('input[name="kapital-checkbox"]').bootstrapSwitch();
    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

    	//menampilkan list SKPD
		$.get("{{ site_url('aset/list_skpd') }}", {}, function(json){ 
			var listSkpd = json.result;
			
			$.each(listSkpd, function (key, value) {
				$("select[name=nomor_unit]").append($('<option></option>').val(value.NOMOR_UNIT).html(value.NAMA_UNIT));
			});

			//$("select[name=nomor_unit]").val("{{ data.NOMOR_UNIT }}");
			$("select[name=nomor_unit]").select2();

			// //reload_skpd();
			// var user = $("#user").text();

			// if (user != 'Administrator') {
			// 	$.post("{{ site_url('aset/get_skpd_user') }}", {user:user}, function(json){ 
			// 		var skpd_user = json.data;
			// 		var oid = skpd_user.oid;
			// 		//console.log(skpd_user);

			// 		$.post("{{ site_url('aset/get_skpd_organisasi') }}", {oid:oid}, function(json){ 
			// 			var skpd_organisasi = json.data;
			// 			var skpd_name = skpd_organisasi.oname;
						
			// 			$.post("{{ site_url('aset/get_skpd_val') }}", {skpd_name:skpd_name}, function(json){ 
			// 				var skpd_val = json.data;
			
			// 				//untuk mengubah data select 2 jangan lupa tambahkan ini >> .trigger('change');
			// 				$('select[name="nomor_unit"]').val(skpd_val.NOMOR_UNIT).trigger('change');
			// 				$('select[name="nomor_unit"]').prop( "disabled", true );           
							
			// 			}, "json");
						
						
			// 		}, "json");
			// 	}, "json");
			// }

		}, "json");

		//load sub unit (khusus dinas pendidikan dan dinas kesehatan)
		$("select[name=nomor_unit]").change(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();

			if(nomor_unit === "13.10.08.01" || nomor_unit === "13.10.07.01" || nomor_unit === "13.10.04.01") {
				load_sub_unit();
				$('div[name="sub-unit"]').show();
			} else {
				$("select[name=nomor_sub_unit]").val("");
				$('div[name="sub-unit"]').hide();
			}
		});

		var load_sub_unit = function(callback) {
			$("body").mask("Processing...");
			var nomor_unit = $("select[name=nomor_unit]").val();

			$.post("{{ site_url('aset/get_list_sub_unit') }}", {
				nomor_unit: nomor_unit
			}, function(json){ 
				var data = json.data;
				var el = $("select[name=nomor_sub_unit]");

				el.empty();
				el.append("<option value=''>Pilih Sub Unit</option>");
				for (var i=0; i<data.length; i++) {
					var k = data[i];
					el.append($("<option></option>").attr("value", k.NOMOR_SUB_UNIT).html(k.NOMOR_SUB_UNIT + " | " + k.NAMA_SUB_UNIT));
					// el.append("<option value='{0}'>{1}</option>".format(k.NO_REGISTER, k.NAMA_BARANG));
				}

				el.select2();
				$("body").unmask();

				if (callback !== undefined) {
					callback();
				}
			}, "json");
		}
		
		$("#btnHitungSusut").click(function() {
    		$('tbody').empty();
    		$("body").mask("Processing...");
    		$('caption').empty();

    		var nomor_unit = $("select[name=nomor_unit]").val();
    		var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var nama_unit = $("select[name=nomor_unit] option:selected").text();
    		var nama_sub_unit = $("select[name=nomor_sub_unit] option:selected").text();
    		var kib = $('select[name="jenis_kib"]').val();
    		var jenis_aset = $("select[name=jenis_aset]").val();
    		var kode_kepemilikan = $("select[name=kode_kepemilikan]").val();
    		$('div[name="hasil_susut"]').show();

    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");

    		$.post("{{ site_url('aset/get_susut_kib') }}", {nomor_unit:nomor_unit, nomor_sub_unit:nomor_sub_unit, kib:kib, jenis_aset:jenis_aset, kode_kepemilikan:kode_kepemilikan}, function(json) {

    			if(kapital) {
    				var aset = json.aset_kapitalisasi; 
					var total_aset = json.total_aset_kapitalisasi;
    			} else {
    				var aset = json.aset;
    				var total_aset = json.total_aset;
    			}

    			if(nomor_sub_unit !== '') {
    				nama_unit = nama_sub_unit;
    			}
				
				var html = '';
				var tables = $("table");

				$.each(aset, function(key, value) {
					var value = aset[key];
					var mm_sisa = parseInt(value.MASA_MANFAAT) - parseInt(value.MASA_TERPAKAI);

					if(mm_sisa < 0) {
						mm_sisa = 0;
					}

					if(value.STATUS_ASET === 1) {
						html += '<tr style="font-weight:bold;"><td>'
						+ nama_unit
						+ '</td><td>'
						+ value.NO_REGISTER
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td>'
						+ value.MERK_ALAMAT
						+ '</td><td>'
						+ value.TAHUN_PENGADAAN
						+ '</td><td>'
						+ value.MASA_MANFAAT
						+ '</td><td>'
						+ value.MASA_TERPAKAI
						+ '</td><td>'
						+ mm_sisa
						+ '</td><td align="right">'
						+ value.NILAI_PEROLEHAN
						+ '</td><td align="right">'
						+ value.AKUMULASI_PENYUSUTAN
						+ '</td><td align="right">'
						+ value.BEBAN
						+ '</td><td align="right">'
						+ value.NILAI_BUKU
						+ '</td></tr>';
					} else {
						html += '<tr><td>'
						+ nama_unit
						+ '</td><td>'
						+ value.NO_REGISTER
						+ '</td><td>'
						+ value.NAMA_BARANG
						+ '</td><td>'
						+ value.MERK_ALAMAT
						+ '</td><td>'
						+ value.TAHUN_PENGADAAN
						+ '</td><td>'
						+ value.MASA_MANFAAT
						+ '</td><td>'
						+ value.MASA_TERPAKAI
						+ '</td><td>'
						+ mm_sisa
						+ '</td><td align="right">'
						+ value.NILAI_PEROLEHAN
						+ '</td><td align="right">'
						+ value.AKUMULASI_PENYUSUTAN
						+ '</td><td align="right">'
						+ value.BEBAN
						+ '</td><td align="right">'
						+ value.NILAI_BUKU
						+ '</td></tr>';
					}
				});

				html += '<tr><td>'
					+ '<strong>' + "TOTAL" + '</strong>'
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td>'
					+ ''
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_NILAI_PEROLEHAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_AKUMULASI_PENYUSUTAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_BEBAN + '</strong>'
					+ '</td><td align="right">'
					+ '<strong>' + total_aset.TOTAL_NILAI_BUKU + '</strong>'
					+ '</td></tr>';

				$('.table_susut > tbody').append(html);
				$("body").unmask();

				tables.tableExport({
				    bootstrap: true,
				    format: ["xlsx"]
				});
			}, "json");

    	});

		$("#btnPrintHitungSusut64").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
            
            window.open( "{{ site_url('aset/print_penyusutan') }}/"+ nomor_unit + "/" + kib, '_blank');
		});

		$("#btnPrintHitungSusut").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
			var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");

    		if(nomor_sub_unit === "") {
            	window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_unit + "/" + kapital + "/" + kib, '_blank');
    		} else {
    			window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_sub_unit + "/" + kapital + "/" + kib, '_blank');
    		}
            
		});

		$("#btnPrintHitungSusut2").click(function() {
			var nomor_unit = $("select[name=nomor_unit]").val();
    		var kib = $('select[name="jenis_kib"]').val();
    		var kapital = $('input[name="kapital-checkbox"]').is(":checked");
    		var rule = "";

    		if(kapital) {
    			rule = "yes";
    		} else {
    			rule = "no";
    		}
            
            window.open( "{{ site_url('aset/print_penyusutan_per_item') }}/"+ nomor_unit + "/" + kib + "/" + rule, '_blank');
		});
	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">
	<link href="{{ base_url("assets/css/bootstrap-switch.min.css") }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/tableexport.css") }}" />	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.table > thead > tr > th {
			vertical-align: middle;
		}
		#btnHitungSusut {
			margin-top: 22px;
			height: 30px;
		}
		.btn-toolbar {
			text-align: left !Important;
		}
	</style>
{% endblock %}