{% extends "_templates/adminpage.html" %}

{% block content %}
{% include "aset/modal_tambah_nilai.html" %}

<div class="row">
	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<div class="row">
			<div class="col-xs-12">
				<p class="bg-danger" style="height:20px; padding:10px; font-weight:bold;">Back up database dulu sebelum melakukan reklas!</p>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-4">
					<label>SKPD</label>
					<select type="text" name="nomor_sub_unit" class="form-control">
						<option value="">Pilih SKPD</option>
					</select>
				</div>
				<div class="col-xs-2">
					<button id="do_reklas" name="do_reklas" type="button" class="btn btn-success" style="float:left;">Lakukan Reklas</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ parent() }}
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.loadmask.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	var content = $("#content");

    	// configure setting accounting.js
		accounting.settings = {
			number: {
				precision : 0,  // default precision on numbers is 0
				thousand: ".",
				decimal : ","
			}
		}

		var n = function(v, p) {
			return accounting.formatNumber(v, p);
		}

		var u = function(v) {
			return accounting.unformat(v);
		}

		//menampilkan daftar skpd
		$.get("{{ site_url('aset/list_sub_unit_reklas') }}", {}, function(json){ 
			var listSkpd = json.data;
			
			$.each(listSkpd, function (key, value) {
				$("select[name=nomor_sub_unit]").append($('<option></option>').val(value.nomor_sub_unit).html(value.nama_sub_unit));
			});

			//$("select[name=nomor_sub_unit]").val("{{ data.nomor_sub_unit }}");
			$("select[name=nomor_sub_unit]").select2();

		}, "json");

		$("button[name=do_reklas]").on("click", function() {
			$("body").mask("Silakan tunggu. Proses reklas membutuhkan waktu 2-5 menit.");
			var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
						
			$.post("{{ site_url('aset/do_reklas') }}", {nomor_sub_unit:nomor_sub_unit}, function(json){ 
				$("body").unmask();
			}, "json");
		});

	});
</script>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	<link href="{{ base_url("assets/css/jquery.loadmask.css") }}" rel="stylesheet">		

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
		.select2-container {
			width: 100% !important;
			padding: 0;
		}
		#btnTambahRenov {
			margin-top: 23px;
			height: 30px;
		}
		#do_reklas {
			margin-top: 23px;
			height: 30px;
		}
	</style>
{% endblock %}