{% extends "_templates/adminpage.html" %}

{% block content %}
	<div class="row">
		<div id="error" class="col-xs-8 alert alert-danger" style="margin-left:10px;{% if validation_errors == false %}display:none;{% endif %}">
			{% if validation_errors != false %}
				{{ validation_errors | raw }}
			{% endif %}
		</div>
	</div>
{% if id|length <= 1 %}
{{ form_open("spk/submit") | raw }}
{% else %}
{{ form_open("spk/submit/" ~ id) | raw }}
{% endif %}
	<div class="row">
		<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
			<div class="row">
				<div class="col-xs-5">
					<label>SKPD</label>
					<select type="text" name="nomor_sub_unit" class="form-control">
						<option value="">Pilih SKPD</option>
					</select>
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label>Tahun Kegiatan</label>
					<select type="text" name="tahun_spj" class="form-control">
						<option value="">Pilih Tahun</option>
					</select>
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label>Nomor Kegiatan</label>
					<input class="form-control" name="nomor_kegiatan" value="{{ data.NO_KEGIATAN }}" placeholder="Masukkan Nomor Kegiatan (*.**.*.**.**.**.**)" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label>Nama Kegiatan</label>
					<input class="form-control" name="kode_kegiatan" value="{{ data.NAMA_KEGIATAN }}" placeholder="Masukkan Nama Kegiatan"/>
				</div>
			</div>
			<!-- dimatikan sementara soalnya simda keu mati -->
			<!-- <div class="row">
				<div class="col-xs-4">
					<label>Pilih Bidang Kegiatan</label>
					<select type="text" name="bidang_kegiatan" class="form-control">
						<option value="">Pilih Bidang</option>
						<option value="1.01">Pendidikan</option>
						<option value="1.02">Kesehatan</option>
						<option value="1.03">Pekerjaan Umum</option>
						<option value="1.04">Perumahan</option>
						<option value="1.05">Penataan Ruang</option>
						<option value="1.06">Perencanaan Pembangunan</option>
						<option value="1.07">Perhubungan</option>
						<option value="1.08">Lingkungan Hidup</option>
						<option value="1.10">Kependudukan dan Catatan Sipil</option>
						<option value="1.11">Pemberdayaan Perempuan dan Perlindungan Anak</option>
						<option value="1.12">Keluarga Berencana dan Keluarga Sejahtera</option>
						<option value="1.13">Sosial</option>
						<option value="1.14">Tenaga Kerja</option>
						<option value="1.15">Koperasi dan Usaha Kecil Menengah</option>
						<option value="1.17">Kebudayaan</option>
						<option value="1.18">Pemuda dan Olah Raga</option>
						<option value="1.19">Kesatuan Bangsa dan Politik Dalam Negeri</option>
						<option value="1.20">Otonomi Daerah, Pemerintahan Umum, Adm KeuDa, Perangkat Daerah, Kepegawaian</option>
						<option value="1.21">Ketahanan Pangan</option>
						<option value="1.22">Pemberdayaan Masyarakat dan Desa</option>
						<option value="1.23">Statistik</option>
						<option value="1.24">Kearsipan</option>
						<option value="1.25">Komunikasi dan Informatika</option>
						<option value="2.01">Pertanian</option>
						<option value="2.02">Kehutanan</option>
						<option value="2.04">Pariwisata</option>
						<option value="2.05">Kelautan dan Perikanan</option>
						<option value="2.06">Perdagangan</option>
						<option value="2.07">Perindustrian</option>
						<option value="2.08">Transmigrasi</option>
					</select>
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-6">
					<label>Kegiatan <span style="color:red;">Perhatikan kode SKPD!</span></label>
					<select name="kode_kegiatan" class="form-control"></select>
				</div>
			</div> -->
		</div>
		<div class="clearfix"></div>
		<div class="spacer"></div>	
		<ul class="nav nav-tabs">
			<li class="active"><a href="#awal" data-toggle="tab">SPK/SP/Kontrak Awal</a></li>
			<li><a href="#addendum" data-toggle="tab">Perubahan/Addendum</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="awal">
				<div class="row">
					<div class="col-xs-4">
						<label>No.SPK/SP/Kontrak</label>
						<input class="form-control" name="no_spk_sp_dokumen" value="{{ data.NO_SPK_SP_DOKUMEN }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<label class="control-label">Tanggal SPK/SP/Kontrak</label>
						<div data-date-format="dd-mm-yyyy" data-date="{{ data.TGL_SPK_SP_DOKUMEN }}" datepicker class="input-group input-append date">
							<input name="tgl_spk_sp_dokumen" readonly="" class="form-control" value="{{ data.TGL_SPK_SP_DOKUMEN }}"></input>
							<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-7">
						<label>Uraian Pekerjaan</label>
						<textarea class="form-control" rows="4" name="deskripsi_spk_dokumen">{{ data.DESKRIPSI_SPK_DOKUMEN }}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label>Nama Rekanan</label>
						<input class="form-control" name="rekanan" value="{{ data.REKANAN }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-7">
						<label>Alamat Rekanan</label>
						<textarea class="form-control" rows="4" name="alamat_rekanan">{{ data.ALAMAT_REKANAN }}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Nilai SPK/SP/Kontrak</label>
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<input class="form-control" style="text-align:right;" name="nilai_spk" value="{{ data.NILAI_SPK|number_format(0, ',', '.') }}" />
							<span class="input-group-addon">,00</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1">
						<label>Jumlah Termin</label>
						<input class="form-control" name="termin" value="{{ data.ESTIMASI_TERMIN }}" />
					</div>
				</div>
			</div>
			<div class="tab-pane fade in" id="addendum">
				<div class="row">
					<div class="col-xs-4">
						<label>SPK/SP/Kontrak</label>
						<input class="form-control" name="no_add" value="{{ data.NO_ADD }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<label class="control-label">Tanggal SPK/SP/Kontrak</label>
						<div data-date-format="dd-mm-yyyy" data-date="{{ data.TGL_ADD }}" datepicker class="input-group input-append date">
							<input name="tgl_add" readonly="" class="form-control" value="{{ data.TGL_ADD }}"></input>
							<span class="input-group-addon add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-7">
						<label>Uraian Pekerjaan</label>
						<textarea class="form-control" rows="4" name="uraian_add">{{ data.URAIAN_ADD }}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Nilai SPK/SP/Kontrak</label>
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<input class="form-control" style="text-align:right;" name="nilai_add" value="{{ data.NILAI_ADD|number_format(0, ',', '.') }}" />
							<span class="input-group-addon">,00</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1">
						<label>Jumlah Termin</label>
						<input class="form-control" name="jml_termin_add" value="{{ data.JML_TERMIN_ADD }}">
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="spacer"></div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
					<button class="btn btn-success" type="submit">Simpan</button>
					<a href="{{ site_url('spk/index') }}"><button class="btn btn-default" type="button">Kembali</button></a>
				</div>
			</div>
		</div>
	</div>
{{ form_close() | raw }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/datepicker3.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/devexpress-like/jquery-ui.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ base_url("assets/css/select2.min.css") }}" />
	

	<style type="text/css">
		.control-label{
			padding-top: 8px !important;
		}

		select.form-control {
			height: 48px !important;
		}

		input.form-control {
			height: 34px !important;
		}

		textarea.form-control {
			height:auto !important;
		}

		.row {
			padding:10px 0px;
		}

		.spacer {
		    margin-top: 20px;
		}

		.ui-autocomplete{
			background: none repeat scroll 0 0 white;
		}

		.input-group-addon{
			border-radius: 0 !important;
		}

		.input-group .form-control{
			z-index: 0; !important;
		}

		.select2-selection__rendered {
			height: 28px;
		}
	</style>

{% endblock %}


{% block scripts %}
	{{ parent() }}
	
	<script type="text/javaScript" src="{{ base_url("assets/js/bootstrap-datepicker.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/accounting.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/jquery.validate.min.js") }}"></script>
	<script type="text/javaScript" src="{{ base_url("assets/js/select2.min.js") }}"></script>
	<script type="text/javaScript">
		jQuery( document ).ready(function($) {
			if (!String.prototype.format) {
				String.prototype.format = function() {
					var args = arguments;
					return this.replace(/{(\d+)}/g, function(match, number) { 
						return typeof args[number] != 'undefined' ? args[number] : match;
					});
				};
			}


			// configure setting accounting.js
			accounting.settings = {
				number: {
					precision : 0,  // default precision on numbers is 0
					thousand: ".",
					decimal : ","
				}
			}

			$("*[datepicker]").datepicker();
			//$("select").select2();


			//menampilkan list SKPD
			$.get("{{ site_url('aset/list_sub_skpd') }}", {}, function(json){ 
				var listSkpd = json.result;
				
				$.each(listSkpd, function (key, value) {
					$("select[name=nomor_sub_unit]").append($('<option></option>').val(value.NOMOR_SUB_UNIT).html(value.NAMA_SUB_UNIT));
				});

				$("select[name=nomor_sub_unit]").val("{{ data.NOMOR_SUB_UNIT }}");
				$("select[name=nomor_sub_unit]").select2();

				//reload_kegiatan();
			}, "json");


			//menampilkan list tahun
			for (var j=0; j<50; j++){
				$("select[name=tahun_spj]").append($('<option></option>').val(2010+j).html(2010+j));
			}

			$("select[name=tahun_spj]").val("2015");

			{% if id|length > 1 %}
				//menampilkan tahun kembali
				$("select[name=tahun_spj]").val("{{ data.TAHUN_SPJ }}");

				//menampilkan bidang kembali
				var id_kegiatan = ("{{ data.ID_KEGIATAN }}");
				var bidang_kegiatan = id_kegiatan.substring(14, 18);
				$("select[name=bidang_kegiatan]").val(bidang_kegiatan);
				
				//menampilkan list kegiatan
				var tahun_spj = $("select[name=tahun_spj]").val();
				var nomor_sub_unit = "{{ data.NOMOR_SUB_UNIT }}";

				$.post("{{ site_url('spk/get_list_kegiatan_simda') }}", {tahun_spj:tahun_spj, nomor_sub_unit:nomor_sub_unit, bidang_kegiatan:bidang_kegiatan}, function(json){ 
					var listKegiatan = json.data;
					//console.log(listKegiatan);
					$.each(listKegiatan, function (key, value) {
						//console.log(value.ID);
						$("select[name=kode_kegiatan]").append($('<option></option>').val(value.ID).html(value.KETERANGAN));
					});

					//menampilkan kegiatan kembali
					$.post("{{ site_url('spk/get_kegiatan_simda') }}", {id_kegiatan:id_kegiatan, bidang_kegiatan:bidang_kegiatan}, function(json){ 
						var kegiatan = json.data;
						// console.log(kegiatan);
						// console.log($("select[name=kode_kegiatan]").val());
						
						$("select[name=kode_kegiatan]").val(kegiatan[0].ID).trigger('change');
					}, "json");
				}, "json");

				$("select[name=kode_kegiatan]").select2();
			{% endif %}

			$("select[name=tahun_spj]").select2();
			$("select[name=bidang_kegiatan]").select2();
			
			{% if id|length < 1 %}
				$("select[name=kode_kegiatan]").select2({
					ajax: {
						url: "{{ site_url('spk/get_list_kegiatan_simda') }}",
						type: "POST",
						dataType: "json",
						data: function(params) {
							return {
								bidang_kegiatan: $("select[name=bidang_kegiatan]").val(),
								tahun_spj: $("select[name=tahun_spj]").val().split("-").pop(),
								nomor_sub_unit: $("select[name=nomor_sub_unit]").val(),
								term: params.term
							}
						},
						processResults: function(json) {
							return {
								results: _.map(json.data, function(i) {
									return {
										id: i.ID,
										data: i
									}
								})
							};
						}
					},
					templateResult: function(i) {
						if (i.loading) return i.text
						return i.data.KETERANGAN;
					},
					templateSelection: function(i) {
						return i.data.KETERANGAN;
					},
					minimumInputLength: 1
				});
			{% endif %}
			
			// event onchange select skpd dan tahun kegiatan
			// $("select[name=nomor_sub_unit], select[name=tahun_spj]").change(function() {
			// 	reload_kegiatan();
			// });

			


			// $("select[name=kode_kegiatan]").select2({
			// 	ajax: {
			// 		url: "{{ site_url('spk/get_list_kegiatan') }}",
			// 		type: "POST",
			// 		dataType: "json",
			// 		data: function(params) {
			// 			return {
			// 				tahun_spj: $("select[name=tahun_spj]").val().split("-").pop(),
			// 				nomor_sub_unit: $("select[name=nomor_sub_unit]").val(),
			// 				term: params.term
			// 			}
			// 		},
			// 		processResults: function(json) {
			// 			return {
			// 				results: _.map(json.data, function(i) {
			// 					return {
			// 						id: i.KODE_KEGIATAN,
			// 						data: i
			// 					}
			// 				})
			// 			};
			// 		}
			// 	},
			// 	templateResult: function(i) {
			// 		if (i.loading) return i.text
			// 		return i.data.NAMA_KEGIATAN + " (" + i.data.KODE_KEGIATAN + ")";
			// 	},
			// 	templateSelection: function(i) {
			// 		return i.data.NAMA_KEGIATAN;
			// 	},
			// 	minimumInputLength: 1
			// });


			/*var reload_kegiatan = function() {
				var nomor_sub_unit = $("select[name=nomor_sub_unit]").val();
				var tahun_spj = $("select[name=tahun_spj]").val();

				$.post("{{ site_url('spk/get_list_kegiatan') }}", {
					nomor_sub_unit: nomor_sub_unit,
					tahun_spj: tahun_spj
				}, function(json){ 
					var data = json.data;
					var el = $("select[name=kode_kegiatan]");

					el.empty();
					el.append("<option value=''>Pilih Kegiatan</option>");
					for (var i=0; i<data.length; i++) {
						var k = data[i];
						el.append("<option value='{0}'>{1}</option>".format(k.KODE_KEGIATAN, k.NAMA_KEGIATAN));
					}

					el.val("{{ data.ID_KEGIATAN[0:data.ID_KEGIATAN|length - 4] }}");
					el.select2();
				}, "json");
			}*/


			// nilai spk
			$("input[name=nilai_spk],input[name=nilai_add]").focus(function() {
				$(this).val($(this).val().replace(/\./g, ""));
			});

			$("input[name=nilai_spk],input[name=nilai_add]").blur(function() {
				$(this).val(accounting.formatNumber($(this).val().replace(/\D/g, "")));
			});



			/* ==================== validation ==================== */
			$("form").validate({
				rules: {
					nomor_sub_unit: {
						required: true
					},
					tahun_spj: {
						required: true
					},
					nomor_kegiatan: {
						required: true
					},
					kode_kegiatan: {
						required: true
					},
					no_spk_sp_dokumen: {
						required: true
					}
				},
				messages: {
					nomor_sub_unit: {
						required: "SKPD harus dipilih!"
					},
					tahun_spj: {
						required: "Tahun Kegiatan harus dipilih!"
					},
					nomor_kegiatan: {
						required: "Nomor Kegiatan harus diisi!"
					},
					kode_kegiatan: {
						required: "Kegiatan harus diisi!"
					},
					// kode_kegiatan: {
					// 	required: "Kegiatan harus dipilih!"
					// },
					no_spk_sp_dokumen: {
						required: "No.SPK/SP/Kontrak harus diisi!"
					}
				},
				errorLabelContainer: "#error",
				ignore: []
			});
		});
	</script>
{% endblock %}